<%= form_with(model: predefined_reply, local: true) do |form| %>
  <% if predefined_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(predefined_reply.errors.count, "error") %> prohibited this predefined_reply from being saved:</h2>

      <ul>
      <% predefined_reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">Title</label>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control subject'%>
    </div>
  </div>

  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">Content</label>
    <div class="col-sm-10">
      <%= form.text_field :content, class: 'form-control subject'%>
    </div>
  </div>

  <div class="form-group row group2">
    <%= form.label :category_id , class: "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
    <select name="predefined_reply[category_id]" class="form-control c-select subject">
      <option disabled selected value >Select category</option>
      <%= @category.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
</div>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-fw primary" %>
  </div>
<% end %>
