
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h6 class="m-b">Predefined Replies</h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab4">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab5">Replies</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">

          <div class="tab-pane animated fadeIn text-muted active" id="tab4">
              <div class="box-header box-header2"> <!-- class box-header2 for this style-->
                <% if current_user and current_user.roleid == 1 %>
                <%= link_to 'New Predefined Reply Category', new_predefined_reply_category_path, {:class => 'btn btn-fw accent accent2'}%>
                <% end %>
              </div>
              <div class="box-body">
                  Search: <input id="filter1" type="text" class="form-control input-sm w-auto inline m-r"/>
                  </div>
                    <div class="table-responsive table2"> <!-- class table2 for this style-->
                    <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter1" data-page-size="10">
                      <thead>
                        <tr id="td">
                          <th>Name</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @predefined_reply_categories.each do |predefined_reply_category| %>
                    <tr>
                      <td><%= predefined_reply_category.name %></td>
                      <td><%= link_to 'Show', predefined_reply_category %>-<%= link_to 'Edit', edit_predefined_reply_category_path(predefined_reply_category) %>-<%= link_to 'Destroy', predefined_reply_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                      </tbody>
                    </table>
                  </div>
                    <footer class="dker p-a">
                      <div class="row">
              
                        <div class="col-sm-4 text-right text-center-xs">
                        <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="5" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                        </tfoot>
                      </div>
                      </div>
                    </footer>

          </div>

          <div class="tab-pane animated fadeIn text-muted" id="tab5">
              <div class="box-header box-header2"> <!-- class box-header2 for this style-->
                <% if current_user and current_user.roleid == 1 %>
                <%= link_to 'New Predefined Reply', new_predefined_reply_path, {:class => 'btn btn-fw accent accent2'}%>
                <% end %>
              </div>
              <div class="box-body">
                  Search: <input id="filter2" type="text" class="form-control input-sm w-auto inline m-r"/>
                  </div>
                    <div class="table-responsive table2"> <!-- class table2 for this style-->
                    <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter2" data-page-size="10">
                      <thead>
                        <tr id="td">
                          <th>Title</th>
                          <th>Content</th>
                          <th>Category</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @predefined_replies.each do |predefined_reply| %>
                          <tr>
                            <td><%= predefined_reply.title %></td>
                            <td><%= predefined_reply.content %></td>
                            <td><%= predefined_reply.name %></td>
                            <td><%= link_to 'Show', predefined_reply %>-<%= link_to 'Edit', edit_predefined_reply_path(predefined_reply) %>-<%= link_to 'Destroy', predefined_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                    <footer class="dker p-a">
                      <div class="row">
              
                        <div class="col-sm-4 text-right text-center-xs">
                        <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="5" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                        </tfoot>
                      </div>
                      </div>
                    </footer>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>