<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New Predefined Reply</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= render 'form', predefined_reply: @predefined_reply %>
            </div>
    </div>
    <%= link_to 'Back', predefined_reply_categories_path %>
</div>
                
