<div class="padding">
      <div class="box">
        <div class="box-header">
          <h3>Predefined Reply</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <td><%= @predefined_reply.title %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Content</th>
              <td> <%= @predefined_reply.content %></td>
            </tr>
            <tr>
              <th>Category</th>
              <td> <%= @predefined_reply.name %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_predefined_reply_path(@predefined_reply) %> |
      <%= link_to 'Back', predefined_reply_categories_path %>
</div>
