<div class="padding">
    <div class="box">
        <div class="box-header box-header4">
             <h2>New Quick Payment Page</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: quick_payment, local: true) do |form| %>
                    <% if quick_payment.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% quick_payment.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>

                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">User</label>
                        <div class="col-sm-10">
                           <%= form.text_field :user_id , placeholder:"User Email or Account number" , class: 'form-control' , :required => true %>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Page Availability</label>
                        <div class="col-sm-10">
                        <%= form.select :availability,options_for_select([['For Public',1],['For Spacific User Group',2]]),  {:include_blank => "Select page availability"}, {:class => 'form-control c-select' , :required => true } %>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Page Link Name</label>
                        <div class="col-sm-10">
                        <%= form.text_field :slug , placeholder:"Page url name like ahmad_hasan" , class: 'form-control' , id:"slug" , :required => true %>
                        </div>
                    
                    <span id="fail" style="display:none; color: red; margin-left: 235px;">Invalid name must be unique and 4 letters at least</span>
                    <span id="success" style="display:none; color: green; margin-left: 235px;">Available name</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Title</label>
                            <div class="col-sm-10">
                                <%= form.text_field :title , class: 'form-control' , :required => true %>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Description</label>
                            <div class="col-sm-10">
                                <%= form.text_area :description , class: 'form-control', :required => true %>
                            </div>
                    </div>

                    
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Active</label>
                            <div class="col-sm-10">
                            <%= form.select :active,options_for_select([['Enabled',1],['Disabled',0]]),  {:include_blank => 'Select page status'},{:class => 'form-control c-select', :required => true} %>
                            </div>
                    </div>

                    <div class="form-group row m-t-md">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-fw primary" id="mysubmit" >Submit</button>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Back', quick_payments_path %>
</div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
 


        $("#slug").keyup(function() {
            var linkname = $("#slug").val();
            var str_length = linkname.length;
            //console.log(str_length)
            var x = document.getElementById("mysubmit");
            $.ajax({ type:'get',url:'/link_check',
            data:{slug:linkname},
            contentType: "application/json",
            dataType: "json",
            success: function(data){
              //console.log(data.check)
              if (data.check == "true" && str_length >= 4){
                  $('#success').show();
                  $('#fail').hide();
                  x.disabled = false;
              }else if (data.check == "false" || str_length < 4){
                  $('#fail').show();
                  $('#success').hide();
                  x.disabled = true;
              }
            }
            });
        }); 
        
</script>
