<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Quick Payment Page</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @quick_payment, local: true) do |form| %>
                    <% if @quick_payment.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% @quick_payment.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>

                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">User</label>
                        <div class="col-sm-10">
                            <input class='form-control' value="<%= @user_email %>" readonly = true></input>
                        </div>
                    </div>

                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Page Link</label>
                        <div class="col-sm-10">
                            <input class='form-control' value="<%= @page_url %>" readonly = true></input>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Page Availability</label>
                        <div class="col-sm-10">
                        <%= form.select :availability,options_for_select([['For Public',1],['For Spacific User Group',2]], :selected => @quick_payment.availability),  {:include_blank => "Select page availability"}, {:class => 'form-control c-select' , :required => true } %>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Title</label>
                            <div class="col-sm-10">
                                <%= form.text_field :title , class: 'form-control' , :required => true %>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Description</label>
                            <div class="col-sm-10">
                                <%= form.text_area :description , class: 'form-control', :required => true %>
                            </div>
                    </div>

                    
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Active</label>
                            <div class="col-sm-10">
                            <%= form.select :active,options_for_select([['Enabled',1],['Disabled',0]],selected:@quick_payment.active),  {:include_blank => 'Select page status'},{:class => 'form-control c-select', :required => true} %>
                            </div>
                    </div>

                    <div class="form-group row m-t-md">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Show', @quick_payment %> | <%= link_to 'Back', quick_payments_path %>
</div>
</div>
