<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Quick Payment Pages</div> <!--class direct2 for this style-->
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Quick Payment', new_quick_payment_path, {:class => 'btn btn-fw accent accent2'}%>
    <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th>Username</th>
            <th>Availability</th>
            <th>Title</th> 
            <th>Description</th>
            <th class="active-pay">Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @quick_payments.each do |quick_payment| %>
            <tr>
              <td><%= quick_payment.firstname + " " + quick_payment.lastname%></td>
              <td><% if quick_payment.availability == 1 %>
                    <%= "For Public" %>
                  <% elsif quick_payment.availability == 2 %>
                    <%= "For Payers Users Only" %>
                  <% end %></td> 
              <td><%= quick_payment.title %></td>
              <td style="width:20%;"><%= quick_payment.description %></td>
              <td><% if quick_payment.active == 1 %>
                    <%= "Active" %>
                  <% elsif quick_payment.active == 0 %>
                    <%= "Disabled" %>
                  <% end %></td> 
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', quick_payment, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                    <%= link_to 'Edit', edit_quick_payment_path(quick_payment),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



