<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">User Wallets Quick Transfers</div> <!--class direct2 for this style-->
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th>User</th>
            <th>User To</th>
            <th>Operation_id</th> 
            <th>Transfer method</th>
            <th>Transfer Type</th>
            <th>Amount</th>
            <th>Ratio</th>
            <th>status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users_wallets_transfers.each do |users_wallets_transfer| %>
            <tr>
              <td><%= users_wallets_transfer.user_id %></td>
              <td><%= users_wallets_transfer.user_to_id %></td>
              <td><%= users_wallets_transfer.operation_id %></td>
              <% if users_wallets_transfer.transfer_method == "FromWallet" %>
              <td><%= "الخصم من رصيدى" %></td>
              <% else %>
              <td><%= "الدفع عن طريق البطاقات الائتمانية" %></td>
              <% end %>
              <% if users_wallets_transfer.transfer_type == 'Product' %>
              <td><%= "سلعة" %></td>
              <% elsif users_wallets_transfer.transfer_type == 'Quick Payment' %>
              <td><%= "عبر صفحة الدفع السريع" %></td>
              <% else %>
              <td><%= "خدمة" %></td>
              <% end %>
              <td><%= users_wallets_transfer.amount %></td>
              <td><%= users_wallets_transfer.ratio %></td>
              <% if users_wallets_transfer.approve == 0 %>
              <td><%= "Pending" %></td>
              <% elsif users_wallets_transfer.approve == 1 %>
              <td><%= "Done" %></td>
              <% elsif users_wallets_transfer.approve == 2 %>
              <td><%= "Refund" %></td>
              <% end %>
              <td><%= link_to 'Show', users_wallets_transfer, :class => "md-btn md-flat m-b-sm w-xs text-success" %></td>        
            </tr>
          <% end %>         
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



