<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Announcement Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <td> <%= @user_data.firstname + " " + @user_data.lastname %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <th>Page Availability</th>
            <td><% if @quick_payment.availability == 1 %>
            <%= "For public" %>
            <% elsif @quick_payment.availability == 2 %>
            <%= "For payers users only" %>
            <% end %></td>
            </tr>
            <tr>
              <th>Page Link</th>
              <td><%= "#{request.protocol}#{request.host}:#{request.port}/fast_pay/#{@quick_payment.slug}" %></td>
            </tr>
            <tr>
              <th>Title</th>
              <td><%= @quick_payment.title %></td>
            </tr>
            <tr>
              <th>Description</th>
              <td> <%= @quick_payment.description %></td>
            </tr>

            <tr>
              <th>Active</th>
              <% if @quick_payment.active == 0 %>
              <td><span class="label"><%= "Disabled" %></span></td>
              <% elsif @quick_payment.active == 1 %>
              <td><span class="label success"><%= "Enabled" %></span></td>
              <% end %>
            </tr>     
           
          </tbody>
        </table>
      </div>

    <%= link_to 'Edit', edit_quick_payment_path(@quick_payment) %> |
    <%= link_to 'Back', quick_payments_path %>

</div>