
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Affilate Programs</h2>
      <small>.......</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/> 
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>
              UserName
              </th>
              <th data-hide="phone">
              Refered by
              </th>
          </tr>
        </thead>
        <tbody>
        <% @affilate_programs.each do |affilate_program| %>
          <tr>
              <td><%= affilate_program.user.firstname + " " + affilate_program.user.lastname  %></td> 
              <td><%= affilate_program.refered_by  %></td> 
          </tr>
        <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



<!-- ############ PAGE END-->