<div class="box-header">
<h2>Admins Errors Logs</h2>
<small>List of all quick Admins Errors Logs</small>
</div>
<div class="box-body">
</div>

<div class="box box-size"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" >
        <thead>
          <tr id="td">
          <th>Admin Account</th>
          <th>Admin Name</th>
          <th>Code</th>
          <th>Message</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
        <% @admin_logs.each do |errors_log| %>
            <tr>
            <td><%= errors_log.account_number %></td>
            <td><%= errors_log.firstname +  errors_log.lastname %></td>
            <td><%= errors_log.code %></td>
            <td><%= errors_log.message %></td>     
            <td><%= link_to 'Show', errors_log,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
            </tr>
          <% end %>
        </tbody>          
      </table>
    </div>
    <footer class="dker p-a">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">total number is <%= @admin_logs_count %></small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-0">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div> 