
<!-- ############ PAGE START-->
<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Selfie Verifications</div> <!--class direct2 for this style-->
    <button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
    <%= link_to 'Auto Refrech', selfie_verifications_path,:class => "btn btn-outline b-success text-succes"  %>
</div>
  <div class="row">
    <div class="box box-size">
      <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <%= form_tag  url_for(:controller => 'selfie_verifications', :action => 'search'), :method => 'get' do %>
            <div class="form-group row group2"> <!-- class group2 for this style-->
              <label for="inputEmail3" class="col-sm-2 form-control-label subject">Search</label><!-- class subject for style of form-group from folder css2 -->
              <div class="col-sm-10">
                <input type="text" name="search"  placeholder="Search for a spacific user account number or email" class="form-control subject" >
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Account Status') %></label>
              <div class="col-sm-10">
                <%= select_tag :status,options_for_select([['Verified',1],['UnVerified',0]]), {:include_blank => 'Select status' ,class:"form-control c-select subject"} %>
              </div>
            </div>          
                  
            <div class="form-group row m-t-md">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
              </div>
            </div>

          <% end %> 
        </div>
      </div>
    </div>
  </div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>UserName</th>
              <th data-hide="phone">Status</th>
              <th></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
        <% @selfie_verifications.each do |selfie_verification| %>
          <tr>
              <td><%= selfie_verification.user.firstname + " " + selfie_verification.user.lastname %></td> 
              <% if selfie_verification.status == "Verified"  %>
                <td data-value="1"><span class="label success" title="Active">Verified</span></td>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">UnVerified</span></td>
              <% end %>
              <td><%= link_to 'Show', selfie_verification, :class => 'btn btn-sm info' %></td>   
              <% if current_user and current_user.roleid == 1 %>
                    <td><%= link_to 'Edit', edit_selfie_verification_path(selfie_verification), :class => 'btn btn-sm warning' %></td>       
              <% end %>           
          </tr>
        <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



<!-- ############ PAGE END-->