<div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @selfie_verification.id %></span>
          <h3> Selfie Verification Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <td><%= @selfie_verification.user.firstname + " " + @selfie_verification.user.lastname  %></td>
            </tr>
          </thead>
          <tbody>
          <% if @selfie_verification.avatar.attached? %>
            <tr>
              <th>attachment</th>
              <td> <%= image_tag @selfie_verification.avatar.variant(resize: "100x100")  %></td>
            </tr>
          <% end %>
            <tr>
              <th>Status</th>
              <td> <%= @selfie_verification.status %></td>
            </tr>
          <% if @selfie_verification.note != nil and @selfie_verification.note != "" %>
            <tr>
              <th>Note </th>
              <td> <%= @selfie_verification.note %></td>
            </tr>
          <% end %>         
          </tbody>
        </table>
      </div>
</div>

<% if current_user.roleid == 1 %>
  <div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @selfie_verification.id %></span>
          <h3>Update Status</h3>
        </div>
        
                    <%= form_with(model: @selfie_verification, local: true, class: 'p-a-md col-md-6') do |form| %>
                        <% if @selfie_verification.errors.any? %>
                           <div id="error_explanation">
                               <%= pluralize(@selfie_verification.errors.count, "error") %> prohibited this selfie_verification from being saved:
                               <ul>
                                  <% @selfie_verification.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                               </ul>
                           </div>
                        <% end %>

                    <div class="form-group">
                      <label>Status</label>
                        <div class="col-sm-10">
                          <label>Verified</label>
                            <label class="ui-switch m-t-xs m-r">
                              <%= form.radio_button :status, 'Verified' %>                                 
                                <i></i>
                            </label>
                          <label>Pending</label>
                            <label class="ui-switch m-t-xs m-r">
                              <%= form.radio_button :status, 'Pending' %>                                 
                                <i></i>
                            </label>
                          <label>UnVerified</label>
                            <label class="ui-switch m-t-xs m-r">
                              <%= form.radio_button :status, 'UnVerified' %>                                 
                                <i></i>
                            </label>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label>Note</label>
                        <%= form.text_field :note,class: 'form-control' %>
                    </div>
          
                      <button type="submit" class="btn btn-info m-t" >Submit</button>
                    <% end %>
                 
      </div>
  </div>
<% end %>
