
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Payers,</h3><br>
        We noticed that there was an attempt to sign in to your Payers account.
        If you were prompted for a verification code,
        please enter the following to complete your sign-in <h3><%= @token %></h3>
        This code will expire in 5 minutes. 
        If you did not try to sign in to your account, please change your password immediately by visiting your account settings on Payers. 
       
    <p>    
      <h5>Thanks for joining Payers.</h5>
    </p>
    
  </body>
</html>
