
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have ticket reminder</h1>
    <p>
    <a href="https://admin-payers2019.herokuapp.com/tickets/<%= params[:text] %>"  target="_blank">show</a>
    </p>
  </body>
</html>
