<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Payers - Payment Facilator</title>
  <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/logo.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
</head>
<body>
  <div class="app" id="app">
    <% flash.each do |key, value| -%>
      <div class="col-sm-3">
        <div class="box-color accent pos-rlt">
          <span class="arrow bottom b-accent"></span>
          <div class="box-body">
            <div id="flash_<%= key %>"><%=h value %></div>
          </div>
        </div>
      </div>
    <% end %>
      <!-- ############ LAYOUT START-->
    <div class="center-block w-xxl w-auto-xs p-y-md">
      <div class="navbar">
        <div class="pull-center">
          <div ui-include="'/views/blocks/navbar.brand.html'"></div>
        </div>
      </div>
      <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
	      <div class="m-b text-sm">
          <% if current_user.active_otp == 1%>
            Email Code Authentication
          <% else %>
            Google Authentication
          <% end %>              
        </div>
        <%= form_for :confirm , :url => two_factor_path do |f| %>
          <div class="md-form-group float-label">
            <%= f.text_field :code , class: 'md-input', :required => true  ,:autocomplete => "off"%>
              <label>Authentication Code</label>
          </div>              
          <button type="submit" class="btn primary btn-block p-x-md">Send</button>
	      <% end %><br>
        <% if current_user.active_otp == 1 %>
          <div id="resendcode" style="display: none;" >          
            <a href="/resend_two_factor" class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue">إعادة الإرسال <i class="icon ic-icons-523"></i> </a>
          </div>
          <div id="timer"></div>
        <% end %>
      </div>
    </div>
    <div class="p-v-lg text-center">
      <div><a ui-sref="access.signin" href="" class="text-primary _600"><%= button_to "Sign Out", sign_out_path, method: :delete, class: "btn btn-sm accent"%></a></div>
    </div> 
  </div>


<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js"></script>
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/libs/jquery/PACE/pace.min.js"></script>

  <script src="scripts/config.lazyload.js"></script>

  <script src="/scripts/palette.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>

  <script src="/scripts/app.js"></script>

  <!-- ajax -->
  <script src="/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="/scripts/ajax.js"></script>

  <script>
    var timer = 120;
    var interval = setInterval(function() {
    timer--;
    $('#timer').text('<%= "Resend code link will appear after" %>'+ ' '+ timer);
    if (timer === 0) {
      clearInterval(interval);
      $('#resendcode').show();
      $('#timer').hide()}
    }, 1000);
  </script>
<!-- endbuild -->
</body>
</html>
