<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Admins</div> <!--class direct2 for this style-->
    <button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
    <%= link_to 'Auto Refrech', admins_path,:class => "btn btn-outline b-success text-succes"  %>
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'Add New Admin', add_admin_path, {:class => 'btn btn-fw accent accent2'}%>
    <% end %>
</div>
<div class="padding">
  <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
    <div class="box-divider m-0"></div>
    <div class="box-body">
      <%= form_tag  url_for(:controller => 'admins', :action => 'search'), :method => 'get' do %>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject">Search</label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" name="search"  placeholder="Search for a specific admin email or account number" class="form-control subject" >
          </div>
        </div>
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Account Status') %></label>
          <div class="col-sm-10">
            <%= select_tag :disabled_status,options_for_select([['Active',0],['Disabled',1]]), {:include_blank => 'Select status' ,class:"form-control c-select subject"} %>
          </div>
        </div>              
        <div class="form-group row m-t-md">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th data-toggle="true">Username</th>
            <th data-toggle="true">Account Number</th>
            <th>Email</th> 
            <th data-hide="phone">Account Status</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
                <td><%= admin.username %></td>
                <td><%= admin.account_number %></td>
                <td><%= admin.email %></td>
                <!-- <td>Traffic Court Referee</td>
                <td data-value="78025368997">22 Jun 1972</td> -->
                <% if admin.status == 1 and admin.disabled == 0 %>
                  <td data-value="1"><span class="label success" title="Active">Active</span></td>
                <% elsif admin.disabled == 1 %>
                  <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
                <% elsif admin.status == 0 %>
                  <td data-value="3"><span class="label warning" title="Suspended">Suspended</span></td>
                <% end %>
                <td><%= link_to 'Show', admin,:class => "md-btn md-flat m-b-sm w-xs text-warning" %></td>                
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->