<h1>Reset Admin Password </h1>
     <%= form_for @admin , :url => reset_expired_password_path do |form| %>
        <% if @admin.errors.any? %>
           <div id="error_explanation">
               <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>
               <ul>
                   <% @admin.errors.full_messages.each do |message| %>
                       <li><%= message %></li>
                   <% end %>
               </ul>
           </div>
       <% end %>

       <div class="password-field">
            <%= form.label :current_password %>
            <%= form.password_field :current_password, :required => true, :autocomplete => "off"%>
       </div><br>

       <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password, :required => true %>
       </div><br>

       <div class="password-field">
            <%= form.label :confirm_password %>
            <%= form.password_field :confirm_password, :required => true %>
       </div><br>


       <div class="submit-field">
             <%= form.submit  %>
       </div>
    <% end %>


<script language="JavaScript" type="text/javascript" src="/libs/js/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function() {
  $("#admin_confirm_password").change(function() {
    var confirm_password = $("#admin_confirm_password").val();
    var password = $("#admin_password").val();
    if (password !== confirm_password)
      {
        alert("The passwords do not match");
        $("#admin_confirm_password").val('');
      }
  });

})
</script>
