<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New Translation</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: translation, local: true) do |form| %>
                    <% if translation.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% translation.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Text</label>
                          <div class="col-sm-10">
                              <%= form.text_field :text , class: 'form-control' , placeholder:"translation text", :required => true %>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">English Translation</label>
                          <div class="col-sm-10">
                          <%= form.text_field :english_translation , class: 'form-control', :required => true%>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Arabic Translation</label>
                          <div class="col-sm-10">
                          <%= form.text_area :arabic_translation , class: 'form-control', :required => true %>
                          </div>
                      </div>


                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Controller</label>
                          <div class="col-sm-10">
                          <%= form.select :controller,options_for_select([['users','users'],['admins','admins'],['email_text','email_text'],['cards','cards'],['cards_logs','cards_logs'],['quick_payments','quick_payments'],
                          ['user_wallets','user_wallets'],['wallets_transfer_ratios','wallets_transfer_ratios'],['users_wallets_transfers','users_wallets_transfers'],['money_ops','money_ops'],['notifications','notifications'],
                          ['admin_logins','admin_logins'],['logins','logins'],['banks','banks'],['bank_accounts','bank_accounts'],['users_banks','users_banks'],['verifications','verifications'],['selfie_verifications','selfie_verifications'],
                          ['nationalid_verifications','nationalid_verifications'],['tickets','tickets'],['payers_blogs','payers_blogs'],['user_infos','user_infos'],['watchdogs','watchdogs'],['withdraws','withdraws'],['countries','countries'],
                          ['notifications_settings','notifications_settings'],['sms_logs','sms_logs'],['addresses','addresses'],['address_verifications','address_verifications']]),  {:include_blank => 'select controller'},{:class => 'form-control input-c' , :required => true} %>                          </div>
                      </div>

                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Back', translations_path %>
</div>
</div>
