<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Translation</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @translation, local: true) do |form| %>
                    <% if @translation.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% @translation.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Text</label>
                          <div class="col-sm-10">
                              <%= form.text_field :text , class: 'form-control' ,  :readonly => true %>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">English Translation</label>
                          <div class="col-sm-10">
                          <%= form.text_field :english_translation , class: 'form-control', :required => true%>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Arabic Translation</label>
                          <div class="col-sm-10">
                          <%= form.text_area :arabic_translation , class: 'form-control', :required => true %>
                          </div>
                      </div>


                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Controller</label>
                          <div class="col-sm-10">
                          <%= form.text_field :controller , class: 'form-control' ,  :readonly => true %>
                          </div>
                      </div>

                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    
<%= link_to 'Show', @translation %> |
<%= link_to 'Back', translations_path %>
</div>
</div>


