<div class="box-header">
<h2><%= t('cards.email_text_translations') %></h2>
<small><%= t('cards.email_text_translations list') %></small>
</div>
<div class="box-body">
<% if current_user and current_user.roleid == 1 %>
     <%= link_to 'New Translation', new_translation_path, {:class => 'btn btn-fw accent'}%>
<% end %>
</div>

<div class="box box-size"> <!--class box-size for this style-->
    <% if @email_text_translations == [] || @email_text_translations == nil %>
        <div><span style="color:#0cc2aa;font-size:large;margin-left: 600px;">No result found</span></div>
    <% else %>
        <div class="table-responsive table2"> <!-- class table2 for this style-->
        <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" >
            <thead>
            <tr id="td">
            <th>Text</th>
            <th>Arabic translation</th>
            <th>English translation</th>
            <th>Controller</th>
            <th></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <% @email_text_translations.each do |translation| %>
                <tr>
                <td><%= translation.text %></td>
                <td><%= translation.arabic_translation %></td>
                <td><%= translation.english_translation %></td>
                <td><%= translation.controller %></td>
                <td><%= link_to 'Show', translation,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
                <td><%= link_to 'Edit', edit_translation_path(translation),:class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>
                </tr>
            <% end %>
            </tbody>          
        </table>
      <% end %>
    </div>
    <footer class="dker p-a">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">total number is <%= @email_text_translations.count %></small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-0">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>  
  <%= link_to 'Back', translations_path %>

