<div class="box-header">
<h2><%= t('cards.translations') %></h2>
<small><%= t('cards.translations list') %></small>
</div>
<div class="box-body">
<% if current_user and current_user.roleid == 1 %>
     <%= link_to 'New Translation', new_translation_path, {:class => 'btn btn-fw accent'}%>
<% end %>
</div>

<div class="box box-size"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" >
        <thead>
          <tr id="td">
          <th>Text</th>
          <th>Arabic translation</th>
          <th>English translation</th>
          <th>Controller</th>
          <th></th>
          <th></th>
          </tr>
        </thead>
        <tbody>
        <% @translations.each do |translation| %>
            <tr>
            <td><%= translation.text %></td>
            <td><%= translation.arabic_translation %></td>
            <td><%= translation.english_translation %></td>
            <td><%= translation.controller %></td>
            <td><%= link_to 'Show', translation,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
            <td><%= link_to 'Edit', edit_translation_path(translation),:class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>
            </tr>
          <% end %>
        </tbody>          
      </table>
    </div>
    <footer class="dker p-a">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">total number is <%= @translations.count %></small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-0">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>  

 <div> <% if current_user.language.to_s == "ar" %>

<a href="/change_locale?locale=en" class ='btn btn-fw'><i></i> انجليزى</a>

<% else %>
<a href="/change_locale?locale=ar" class ='btn btn-fw'><i></i> Arabic</a>

<% end %></div>  

