<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Translation Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Text</th>
              <td><%= @translation.text %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <th>English Translation</th>
            <td><%= @translation.english_translation %></td>
            </tr>
            <tr>
              <th>Arabic Translation</th>
              <td> <%= @translation.arabic_translation %></td>
            </tr>
            <tr>
            <th>Controller</th>
            <td> <%= @translation.controller %></td>
          </tr>
    
           
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_translation_path(@translation) %> |
      <%= link_to 'Back', translations_path %>
</div>
