
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: users_group, local: true) do |form| %>
          <% if users_group.errors.any? %>
            <div id="error_explanation">
              <%= pluralize(users_group.errors.count, "error") %> prohibited this users_group from being saved:
              <ul>
                <% users_group.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <div class="roww">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Country Code</label>
                <div class="col-sm-2">
                  <%= form.text_field :country_code,  class: 'form-control' , :required => true   %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Class</label>
                <div class="col-sm-2">
                  <%= form.text_field :classification,  class: 'form-control' , :required => true   %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-6 form-control-label">Group Name</label>
                <div class="col-sm-6">
                  <%= form.text_field :name,  class: 'form-control' , :required => true %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-6 form-control-label">Description</label>
                <div class="col-sm-6">
                  <%= form.text_field :description,  class: 'form-control' , :required => true  %>
                </div>
              </div>

              <div class="form-group row" >
                <label class="col-sm-10 form-control-label">Upgrade Limit</label>
                <div class="col-sm-2">
                  <%= form.number_field :upgrade_limit, step: :any,  class: 'form-control' , :required => true %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Maximum daily Send Payments</label>
                <div class="col-sm-2">
                  <%= form.number_field :maximum_daily_send, step: :any,  class: 'form-control' , :required => true  %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Maximum Monthly Send Payments</label>
                <div class="col-sm-2">
                  <%= form.number_field :maximum_monthly_send, step: :any,  class: 'form-control' , :required => true  %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Maximum daily Recieve Payments</label>
                <div class="col-sm-2">
                  <%= form.number_field :maximum_daily_recieve, step: :any,  class: 'form-control' , :required => true %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Maximum Monthly Recieve Payments</label>
                <div class="col-sm-2">
                  <%= form.number_field :maximum_monthly_recieve, step: :any,  class: 'form-control' , :required => true   %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Minimum Value Allowed To Send Per Time</label>
                <div class="col-sm-2">
                  <%= form.number_field :minimum_send_value, step: :any,  class: 'form-control' , :required => true  %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Maximum Value Allowed To Send Per Time</label>
                <div class="col-sm-2">
                  <%= form.number_field :maximum_send_value, step: :any,  class: 'form-control' , :required => true  %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Number of Sending Payment Allowed Daily</label>
                <div class="col-sm-2">
                  <%= form.number_field :daily_send_number,  class: 'form-control' , :required => true  %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">The Minimum Amount Allowed to be Withdrawn Per Time</label>
                <div class="col-sm-2">
                  <%= form.number_field :minimum_withdraw_per_time, step: :any,  class: 'form-control' , :required => true  %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">The Minimum Amount Allowed to be Deposited Per Time</label>
                <div class="col-sm-2">
                  <%= form.number_field :minimum_deposite_per_time, step: :any,  class: 'form-control' , :required => true  %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Number of Withdrawal Requests Allowed Daily</label>
                <div class="col-sm-2">
                  <%= form.number_field :daily_withdraw_number,  class: 'form-control' , :required => true   %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Number of Deposite Requests Allowed Daily</label>
                <div class="col-sm-2">
                  <%= form.number_field :daily_deposite_number,  class: 'form-control' , :required => true   %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rowww">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <div class="col-sm-10">
                  <select id="maximum_values" class="form-control c-select" required>
                    <option value="">Maximum Values Status</option>
                    <option>All values like local bank values</option>
                    <option>Different for all bank types</option>
                  </select>
                </div>
              </div>
              <div id="local_banks" style="display: none;">
                <div class="form-group row">
                  <label class="col-sm-8 form-control-label">Maximum Daily Withdraw For Local Banks </label>
                  <div class="col-sm-4">
                    <%= form.number_field :local_maximum_daily_withdraw,  class: 'form-control' , :required => true   %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 form-control-label">Maximum Monthly Withdraw For Local Banks</label>
                  <div class="col-sm-4">
                    <%= form.number_field :local_maximum_monthly_withdraw,  class: 'form-control' , :required => true   %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 form-control-label">Maximum Daily Deposite For Local Banks</label>
                  <div class="col-sm-4">
                    <%= form.number_field :local_maximum_daily_deposite,  class: 'form-control', :required => true   %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 form-control-label">Maximum Monthly Deposite For Local Banks</label>
                  <div class="col-sm-4">
                    <%= form.number_field :local_maximum_monthly_deposite,  class: 'form-control', :required => true   %>
                  </div>
                </div>
                <div id="online_crypto" style="display: none;">
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Daily Withdraw For Online Banks </label>
                    <div class="col-sm-4">
                      <%= form.number_field :online_maximum_daily_withdraw,  class: 'form-control', :required => true   %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Monthly Withdraw For Online Banks</label>
                    <div class="col-sm-4">
                      <%= form.number_field :online_maximum_monthly_withdraw,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Daily Deposite For Online Banks</label>
                    <div class="col-sm-4">
                      <%= form.number_field :online_maximum_daily_deposite,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Monthly Deposite For Online Banks</label>
                    <div class="col-sm-4">
                      <%= form.number_field :online_maximum_monthly_deposite,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Daily Withdraw For Crypto Currencies </label>
                    <div class="col-sm-4">
                      <%= form.number_field :crypto_maximum_daily_withdraw,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Monthly Withdraw For Crypto Currencies</label>
                    <div class="col-sm-4">
                      <%= form.number_field :crypto_maximum_monthly_withdraw,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Daily Deposite For Crypto Currencies</label>
                    <div class="col-sm-4">
                      <%= form.number_field :crypto_maximum_daily_deposite,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-8 form-control-label">Maximum Monthly Deposite For Crypto Currencies</label>
                    <div class="col-sm-4">
                      <%= form.number_field :crypto_maximum_monthly_deposite,  class: 'form-control', :required => true  %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <div class="col-sm-10">
                  <select id="fees_ratio" class="form-control c-select" required>
                    <option value="">Fees & Ratio Status</option>
                    <option>All values like recieving payment</option>
                    <option>Different values</option>
                  </select>
                </div>
              </div>
              <div id="recieve_ratio_fees" style="display: none;">
                <div class="form-group row">
                  <label class="col-sm-10 form-control-label">Fees For Receiving Payments</label>
                  <div class="col-sm-2">
                    <%= form.number_field :recieve_fees, step: :any,  class: 'form-control' , :required => true   %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-10 form-control-label">Ratio For Receiving Payments</label>
                  <div class="col-sm-2">
                    <%= form.number_field :recieve_ratio, step: :any,  class: 'form-control' , :required => true   %>
                  </div>
                </div>
                <div id="withdraw_deposite_fees" style="display: none;">
                  <div class="form-group row">
                    <label class="col-sm-10 form-control-label">Fees For Withdrawal Requests</label>
                      <div class="col-sm-2">
                        <%= form.number_field :withdraw_fees, step: :any,  class: 'form-control' , :required => true   %>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-10 form-control-label">Ratio For Withdrawal Requests</label>
                      <div class="col-sm-2">
                        <%= form.number_field :withdraw_ratio, step: :any,  class: 'form-control' , :required => true   %>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-10 form-control-label">Fees For Deposite Requests</label>
                      <div class="col-sm-2">
                        <%= form.number_field :deposite_fees, step: :any,  class: 'form-control' , :required => true   %>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-10 form-control-label">Ratio For Deposite Requests</label>
                      <div class="col-sm-2">
                        <%= form.number_field :deposite_ratio, step: :any,  class: 'form-control' , :required => true   %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
      <div class="form-group row m-t-md">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
        </div>
      </div>
    
    <% end %>
  </div>            
    


<script>
$(document).ready(function() {
  $("#maximum_values").change(function () {
    if (this.value == "All values like local bank values")
    {
      $("#local_banks").show();
      $("#online_crypto").hide();
    }
    else if (this.value == "Different for all bank types")
    {
      $("#local_banks").show();
      $("#online_crypto").show();
    }
    else
    {
      $("#local_banks").hide();
      $("#online_crypto").hide();
    }
  });
  $("#fees_ratio").change(function () {
    if (this.value == "All values like recieving payment")
    {
      $("#recieve_ratio_fees").show();
      $("#withdraw_deposite_fees").hide();
    }
    else if (this.value == "Different values")
    {
      $("#recieve_ratio_fees").show();
      $("#withdraw_deposite_fees").show();
    }
    else
    {
      $("#recieve_ratio_fees").hide();
      $("#withdraw_deposite_fees").hide();
    }

});


$("#users_group_local_maximum_daily_withdraw").change(function () {
   if ($("#maximum_values").val() == "All values like local bank values")
   {
    $("#users_group_online_maximum_daily_withdraw").val(this.value);
    $("#users_group_crypto_maximum_daily_withdraw").val(this.value);
   }

})
$("#users_group_local_maximum_monthly_withdraw").change(function () {
  if ($("#maximum_values").val() == "All values like local bank values")
   {
    $("#users_group_online_maximum_monthly_withdraw").val(this.value);
    $("#users_group_crypto_maximum_monthly_withdraw").val(this.value);
   }
})
$("#users_group_local_maximum_daily_deposite").change(function () {
  if ($("#maximum_values").val() == "All values like local bank values")
   {
     $("#users_group_online_maximum_daily_deposite").val(this.value);
     $("#users_group_crypto_maximum_daily_deposite").val(this.value);
   }
})
$("#users_group_local_maximum_monthly_deposite").change(function () {
  if ($("#maximum_values").val() == "All values like local bank values")
   {
     $("#users_group_online_maximum_monthly_deposite").val(this.value);
     $("#users_group_crypto_maximum_monthly_deposite").val(this.value);
   }
})

$("#users_group_recieve_fees").change(function () {
   if ($("#fees_ratio").val() == "All values like recieving payment")
   {
    $("#users_group_withdraw_fees").val(this.value);
    $("#users_group_deposite_fees").val(this.value);
   }
})
$("#users_group_recieve_ratio").change(function () {
   if ($("#fees_ratio").val() == "All values like recieving payment")
   {
    $("#users_group_withdraw_ratio").val(this.value);
    $("#users_group_deposite_ratio").val(this.value);
   }

})


});
</script>


