

<!-- ############ PAGE START-->
<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Users Groups</div> <!--class direct2 for this style-->
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Users Group', new_users_group_path, {:class => 'btn btn-fw accent accent2'}%>
    <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th  style="width:15%;">Country Code</th>
            <th  style="width:15%;">Class</th> 
            <th>Group Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users_groups.each do |users_group| %>
          <tr>
              <td><%= users_group.country_code %></td>
              <td><%= users_group.classification %></td>
              <td><%= users_group.name %></td>
              <td><%= users_group.description %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', users_group,:class => "md-btn md-flat m-b-sm w-xs text-success" %>
                    <%= link_to 'Edit', edit_users_group_path(users_group),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                    <%= link_to "Delete", users_group_path(users_group), method: :delete,data: { confirm: "Are you sure?" },:class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  </div>
                </div>
              </td>
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->

