<div class="padding">
  <div class="box">
    <div class="box-header box_header">
      <h2>New Users Group</h2>
    </div>
    
<%= render 'form', users_group: @users_group %>

</div>
    <%= link_to 'Back', users_groups_path,:class => "btn btn-fw accent" %>
</div>
