<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @users_group.id %></span>
          <h3>User Group Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Country Code:</th>
              <td><%= @users_group.country_code %></td>
            </tr>
          </thead>
          <tbody>
          <tr>
              <th>Class:</th>
              <td> <%= @users_group.classification %></td>
            </tr>
            <tr>
              <th>Group Name:</th>
              <td> <%= @users_group.name %></td>
            </tr>          
            <tr>
            <tr>
              <th>Description:</th>
              <td> <%= @users_group.description %></td>
            </tr>
            <tr>
              <th>Upgrade Limit:</th>
              <td> <%= @users_group.upgrade_limit %></td>
            </tr>          
            <tr>
            <tr>
              <th>Maximum daily Send Payments:</th>
              <td> <%= @users_group.maximum_daily_send %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Send Payments:</th>
              <td> <%= @users_group.maximum_monthly_send %></td>
            </tr>          
            <tr>
            <tr>
              <th>Maximum daily Recieve Payments:</th>
              <td> <%= @users_group.maximum_daily_recieve %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Recieve Payments:</th>
              <td> <%= @users_group.maximum_monthly_recieve %></td>
            </tr>          
            <tr>
            <tr>
              <th>Minimum Value Allowed To Send Per Time:</th>
              <td> <%= @users_group.minimum_send_value %></td>
            </tr>
            <tr>
              <th>Maximum Value Allowed To Send Per Time:</th>
              <td> <%= @users_group.maximum_send_value %></td>
            </tr>          
            <tr>
            <tr>
              <th>Number of Sending Payment Allowed Daily:</th>
              <td> <%= @users_group.daily_send_number %></td>
            </tr>
            <tr>
              <th>The Minimum Amount Allowed to be Withdrawn Per Time:</th>
              <td> <%= @users_group.minimum_withdraw_per_time %></td>
            </tr>          
            <tr>
            <tr>
              <th>The Minimum Amount Allowed to be Deposited Per Time:</th>
              <td> <%= @users_group.minimum_deposite_per_time %></td>
            </tr>
            <tr>
              <th>Number of Withdrawal Requests Allowed Daily:</th>
              <td> <%= @users_group.daily_withdraw_number %></td>
            </tr>          
            <tr>
            <tr>
              <th>Number of Deposite Requests Allowed Daily:</th>
              <td> <%= @users_group.daily_deposite_number %></td>
            </tr>
            <tr>
              <th>Fees For Receiving Payments:</th>
              <td> <%= @users_group.recieve_fees %></td>
            </tr>          
            <tr>
            <tr>
              <th>Ratio For Receiving Payments:</th>
              <td> <%= @users_group.recieve_ratio %></td>
            </tr>
            <tr>
              <th>Fees For Withdrawal Requests:</th>
              <td> <%= @users_group.withdraw_fees %></td>
            </tr>          
            <tr>
            <tr>
              <th>Ratio For Withdrawal Requests:</th>
              <td> <%= @users_group.withdraw_ratio %></td>
            </tr>
            <tr>
              <th>Fees For Deposite Requests:</th>
              <td> <%= @users_group.deposite_fees %></td>
            </tr>          
            <tr>
              <th>Ratio For Deposite Requests:</th>
              <td> <%= @users_group.deposite_ratio %></td>
            </tr>

            
            <tr>
              <th>Maximum Daily Withdraw For Local Banks:</th>
              <td> <%= @local_limits.maximum_daily_withdraw %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Withdraw For Local Banks:</th>
              <td> <%= @local_limits.maximum_monthly_withdraw %></td>
            </tr>          
            <tr>
            <tr>
              <th>Maximum Daily Deposite For Local Banks:</th>
              <td> <%= @local_limits.maximum_daily_deposite %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Deposite For Local Banks:</th>
              <td> <%= @local_limits.maximum_monthly_deposite %></td>
            </tr>   

            <tr>
              <th>Maximum Daily Withdraw For Online Banks:</th>
              <td> <%= @online_limits.maximum_daily_withdraw %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Withdraw For Online Banks:</th>
              <td> <%= @online_limits.maximum_monthly_withdraw %></td>
            </tr>          
            <tr>
            <tr>
              <th>Maximum Daily Deposite For Online Banks:</th>
              <td> <%= @online_limits.maximum_daily_deposite %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Deposite For Online Banks:</th>
              <td> <%= @online_limits.maximum_monthly_deposite %></td>
            </tr>   

            <tr>
              <th>Maximum Daily Withdraw For Crypto Currencies:</th>
              <td> <%= @crypto_limits.maximum_daily_withdraw %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Withdraw For Crypto Currencies:</th>
              <td> <%= @crypto_limits.maximum_monthly_withdraw %></td>
            </tr>          
            <tr>
            <tr>
              <th>Maximum Daily Deposite For Crypto Currencies:</th>
              <td> <%= @crypto_limits.maximum_daily_deposite %></td>
            </tr>
            <tr>
              <th>Maximum Monthly Deposite For Crypto Currencies:</th>
              <td> <%= @crypto_limits.maximum_monthly_deposite %></td>
            </tr>   
                    
            <tr>
              <th>Other Links</th>
              <td> <%= link_to 'Edit', edit_users_group_path(@users_group),:class => "btn btn-fw warning" %>  </td>
            </tr>         
          </tbody>
        </table>
      </div>
       <%= link_to 'Back', users_groups_path,:class => "btn btn-fw accent" %>
</div>
