<%= form_with(model: company_bank, local: true) do |form| %>
  <% if company_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_bank.errors.count, "error") %> prohibited this company_bank from being saved:</h2>

      <ul>
      <% company_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bank_key %>
    <%= form.text_field :bank_key %>
  </div>

  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name %>
  </div>

  <div class="field">
    <%= form.label :encryptkey %>
    <%= form.text_field :encryptkey %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch %>
  </div>

  <div class="field">
    <%= form.label :branch_code %>
    <%= form.text_field :branch_code %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name %>
  </div>

  <div class="field">
    <%= form.label :account_email %>
    <%= form.text_field :account_email %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number %>
  </div>

  <div class="field">
    <%= form.label :swiftcode %>
    <%= form.text_field :swiftcode %>
  </div>

  <div class="field">
    <%= form.label :ibancode %>
    <%= form.text_field :ibancode %>
  </div>

  <div class="field">
    <%= form.label :visa_cvv %>
    <%= form.number_field :visa_cvv %>
  </div>

  <div class="field">
    <%= form.label :bank_category %>
    <%= form.select :bank_category,options_for_select([['بنوك محلية','local_bank'],['بنوك اللكترونية','electronic_bank'],['عملات رقمية','digital_bank']]),  {}, {} %>
    <%# form.text_field :bank_category %>
  </div>

  <div class="field">
    <%= form.label :bank_subcategory %>
    <%= form.select :bank_subcategory,options_for_select([['بنك محلى مصرى','local_eg'],['بنك محلى سعودى','local_sa']]),  {:include_blank => 'اختر نوع البنك المحلى'}, {} %>
    <%# form.text_field :bank_subcategory %>
  </div>

  <div class="field">
  <%= form.label :wallet_type %>
  <%= form.select :wallet_type,options_for_select([['قابل للسحب',1],['غير قابل للسحب',2]]),  {:include_blank => 'اختر نوع المحفظة'} %>
  </div>

  <div class="field">
    <%= form.label :fees %>
    <%= form.text_field :fees %>
  </div>

  <div class="field">
    <%= form.label :ratio %>
    <%= form.text_field :ratio %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div class="field">
    <%= form.label :expire_at %>
    <%= form.date_field :expire_at %>
  </div>

  <div class="field">
  <%= form.label :status %>
  <%= form.select :status,options_for_select([['Active',1],['Disable',0]]),  {}, {} %>  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
