<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Company Bank</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @company_bank, local: true) do |form| %>
                    <% if @company_bank.errors.any? %>
                         <div id="error_explanation">
                             <%= pluralize(@company_bank.errors.count, "error") %> prohibited this user wallet from being saved: 
                             <ul>
                                <% @company_bank.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Bank Key</label>
                            <div class="col-sm-10">
                                <%= form.text_field :bank_key , class: 'form-control' , :readonly => true %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Bank Name</label>
                            <div class="col-sm-10">
                                <%= form.text_field :bank_name , class: 'form-control', :required => true %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Encrypt Key</label>
                            <div class="col-sm-10">
                                <%= form.text_field :encryptkey , class: 'form-control'  %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Country</label>
                            <div class="col-sm-10">
                                <%= form.text_field :country , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">City</label>
                            <div class="col-sm-10">
                                <%= form.text_field :city , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Branch</label>
                            <div class="col-sm-10">
                                <%= form.text_field :branch , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Branch Code</label>
                            <div class="col-sm-10">
                                <%= form.text_field :branch_code , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Phone</label>
                            <div class="col-sm-10">
                                <%= form.text_field :phone , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Account Name</label>
                            <div class="col-sm-10">
                                <%= form.text_field :account_name , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Account Email</label>
                            <div class="col-sm-10">
                                 <%= form.text_field :account_email , class: 'form-control' %>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-10 form-control-label">Withdrawal Status for Verified Users </label>
                            <div class="col-sm-2">
                              <%= form.check_box :verified_withdraw , class: 'form-control' %>
                            </div>
                        </div> 

                        <div class="form-group row">
                          <label class="col-sm-10 form-control-label">Deposite Status for Verified Users </label>
                            <div class="col-sm-2">
                              <%= form.check_box :verified_deposite , class: 'form-control' %>
                            </div>
                        </div> 

                        <div class="form-group row">
                          <label class="col-sm-10 form-control-label">Withdrawal Status for UnVerified Users </label>
                            <div class="col-sm-2">
                              <%= form.check_box :unverified_withdraw , class: 'form-control' %>
                            </div>
                        </div> 

                        <div class="form-group row">
                          <label class="col-sm-10 form-control-label">Deposite Status for UnVerified Users </label>
                            <div class="col-sm-2">
                              <%= form.check_box :unverified_deposite , class: 'form-control' %>
                            </div>
                        </div>                          
                    </div>
                    <div class="col-lg-6">
                       <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Account Number</label>
                            <div class="col-sm-10">
                                <%= form.text_field :account_number , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Severity Level</label>
                            <div class="col-sm-10">
                              <%= form.number_field :severity_level , class: 'form-control' %>
                            </div>
                        </div> 

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Swiftcode</label>
                            <div class="col-sm-10">
                                <%= form.text_field :swiftcode , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Ibancode</label>
                            <div class="col-sm-10">
                                <%= form.text_field :ibancode , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Visa cvv</label>
                            <div class="col-sm-10">
                                <%= form.number_field :visa_cvv , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Bank Category</label>
                           <div class="col-sm-10">
                                <%= form.select :bank_category,options_for_select([['بنوك محلية','local_bank'],['بنوك اللكترونية','electronic_bank'],['عملات رقمية','digital_bank']],:selected => @company_bank.bank_category),  {}, {:class => 'form-control c-select'} %>
                           </div>
                        </div>

                      <% if @company_bank.bank_category == "local_bank" %>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Bank Subcategory</label>
                            <div class="col-sm-10">
                                <%= form.select :bank_subcategory,options_for_select([['بنك محلى مصرى','local_eg'],['بنك محلى سعودى','local_sa']],:selected => @company_bank.bank_subcategory),  {}, {:class => 'form-control c-select'} %>
                            </div>
                        </div>
                      <% end %>

                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Wallet Type</label>
                            <div class="col-sm-10">
                              <%= form.select :wallet_type,options_for_select([["قابلة للسحب",1],["غير قابلة للسحب",2]],:selected => @company_bank.wallet_type),  {},  {:class => 'form-control c-select'} %>
                            </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Fees</label>
                            <div class="col-sm-10">
                              <%= form.text_field :fees , class: 'form-control' %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Ratio</label>
                            <div class="col-sm-10">
                                <%= form.text_field :ratio , class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Logo</label>
                            <div class="col-sm-10">                              
                                <%= form.file_field :logo , class: 'form-control' %>
                                <% if @company_bank.logo.attached?  %>
                                  <%= image_tag (@company_bank.logo.variant(resize: "100x100"))  %>
                                <% end %>
                            </div>
                        </div>

                        <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Expire At</label>
                            <div class="col-sm-10">
                                <%= form.date_field :expire_at , class: 'form-control' %>
                            </div>
                        </div> 

                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Status</label>
                            <div class="col-sm-10">
                              <%= form.select :status,options_for_select([['Active',1],['Disable',0]],:selected => @company_bank.status),  {}, {:class => 'form-control c-select'} %>  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" style="margin-left:20px" >Submit</button>
                           </div>
                       </div>
                    </div>
                </div>
                <% end %>
            </div>
            <%= link_to 'Back', company_banks_path,:class => "btn btn-fw accent" %>
            <%= link_to 'Show', @company_bank,:class => "btn btn-fw warning" %> 

    </div>    
</div>



