<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Company Banks</div> <!--class direct2 for this style-->
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Company Bank', new_company_bank_path, {:class => 'btn btn-fw accent accent2'}%>
    <% end %>
</div>

<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th>Bank key</th>
            <th>Bank name</th>
            <th>Currency</th>      
            <th>Fees</th>
            <th>Ratio</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @company_banks.each do |company_bank| %>
            <tr>
              <td><%= company_bank.bank_key %></td>
              <td><%= company_bank.bank_name %></td>
              <td><%= company_bank.currency %></td>
              <td><%= company_bank.fees %></td>
              <td><%= company_bank.ratio %></td>
              <td>
                <% if company_bank.status == 1 %>
                  <%= "Active" %>
                <% elsif company_bank.status == 0 %>
                  <%= "Disable" %>
                <% end %>
              </td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', company_bank,:class => "md-btn md-flat m-b-sm w-xs text-success" %>
                    <%= link_to 'Edit', edit_company_bank_path(company_bank),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                    <%= link_to "Delete", company_bank_path(company_bank), method: :delete,data: { confirm: "Are you sure?" },:class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->



