<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>Bank Details</h3>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <table class="table table-striped b-t">
          <thead>
            <tr>
              <th>Bank key:</th>
              <td><%= @company_bank.bank_key %></td>
           </tr>      
          <tbody>
            <tr>
              <th>Bank name:</th>
              <td><%= @company_bank.bank_name %> </td>
            </tr>
            <tr>
              <th>Encryptkey:</th>
              <td><%= @company_bank.encryptkey %></td>
            </tr>
            <tr>
              <th>Currency:</th>
              <td><%= @company_bank.currency %></td>
            </tr>
            <tr>
              <th>Country:</th>
              <td><%= @company_bank.country %></td>
            </tr> 
            <tr>
              <th>City:</th>
              <td><%= @company_bank.city %></td>
            </tr>
            <tr>
              <th>Branch:</th>
              <td><%= @company_bank.branch %></td>
            </tr>  
            <tr>
              <th>Branch code:</th>
              <td><%= @company_bank.branch_code %></td>
            </tr>
            <tr>
              <th>Phone:</th>
              <td><%= @company_bank.phone %></td>
            </tr>
            <tr>
              <th>Severity Level:</th>
              <td><%= @company_bank.severity_level %></td>
            </tr>
                        
            <tr>
              <th>Logo:</th>
                <td>
                  <% if @company_bank.logo.attached?  %>
                    <%= image_tag @company_bank.logo.variant(resize: "200x200") %>
                  <% end %>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <table class="table table-striped b-t">
          <thead>
            <tr>
              <th>Account name:</th>
              <td><%= @company_bank.account_name %></td>
            </tr> 
          </thead>
          <tbody>
            <tr>
              <th>Account email:</th>
              <td><%= @company_bank.account_email %></td>
            </tr>
            <tr>
              <th>Account number:</th>
              <td><%= @company_bank.account_number %></td>
            </tr>  
            <tr>
              <th>Swiftcode:</th>
              <td><%= @company_bank.swiftcode %></td>
            </tr>
            <tr>
              <th>Ibancode:</th>
              <td><%= @company_bank.ibancode %></td>
            </tr>
            <tr>
              <th>Bank category:</th>
              <td><%= @company_bank.bank_category %></td>
            </tr> 
            <tr>
              <th>Bank subcategory:</th>
              <td><%= @company_bank.bank_subcategory %></td>
            </tr>
            <tr>
              <th>Wallet Type:</th>
              <td>
                <% if @company_bank.wallet_type == 1 %>
                  <%= "قابله للسحب"  %>
                <% elsif @company_bank.wallet_type == 2 %>
                  <%= "غير قابلة للسحب"  %>
                <% end %>
              </td>
            </tr>  
            <tr>
              <th>Fees:</th>
              <td><%= @company_bank.fees %></td>
            </tr>  
            <tr>
              <th>Ratio:</th>
              <td><%= @company_bank.ratio %></td>
            </tr>
            <tr>
              <th>value_added_tax:</th>
              <td><%= @company_bank.value_added_tax %></td>
            </tr>
            <tr>
              <th>Status:</th>
              <td>
                <% if @company_bank.status == 1 %>
                  <%= "Active" %>
                <% elsif @company_bank.status == 0 %>
                  <%= "Disable" %>
                <% end %>
              </td>
            </tr> 
            <tr>
              <th>Withdrawal Status for Verified Users:</th>
              <td><%= @company_bank.verified_withdraw %></td>
            </tr>  
            <tr>
              <th>Deposite Status for Verified Users:</th>
              <td><%= @company_bank.verified_deposite %></td>
            </tr>
            <tr>
              <th>Withdrawal Status for UnVerified Users:</th>
              <td><%= @company_bank.unverified_withdraw %></td>
            </tr>  
            <tr>
              <th>Deposite Status for UnVerified Users:</th>
              <td><%= @company_bank.unverified_deposite %></td>
            </tr>              
          </tbody>
        </table>
      </div>
    </div>
    </div>
  <%= link_to 'Edit', edit_company_bank_path(@company_bank), :class => "btn btn-fw primary" %>
  <%= link_to 'Back', company_banks_path,:class => "btn btn-fw accent" %> 
</div>
   


