<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Wallets Transfer Ratios</div> <!--class direct2 for this style-->
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Wallets Transfer Ratio', new_wallets_transfer_ratio_path , {:class => 'btn btn-fw accent accent2'}%>
    <% end %>
</div>
<div class="padding">   
  <div class="box">
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr id="td">
            <th>Key</th>
            <th>Value</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @wallets_transfer_ratios.each do |wallets_transfer_ratio| %>
            <tr>
              <td><%= wallets_transfer_ratio.key %></td>
              <td><%= wallets_transfer_ratio.value %></td>
              <td><%= wallets_transfer_ratio.description %></td>
              <td><%= link_to 'Edit', edit_wallets_transfer_ratio_path(wallets_transfer_ratio),:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
            </tr>
          <% end %>
        </tbody>          
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>  
</div>


