<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>Admin</th>
            <th>Ip</th>
            <th>Details</th>
            <th>created_at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @log.each do |watchdog| %>
            <tr>
              <td><%= watchdog.admin.username%></td>
              <td><%= watchdog.ipaddress %></td>
              <td><%= watchdog.operation_type %></td>
              <td><%= watchdog.created_at %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', watchdog, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                  </div>
                </div>
              </td>            
            </tr>
          <% end %>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>




