<div class="padding">  
  <div class="box">
    <div class="box-header">
      <span class="label danger pull-right"><%= @admin_watchdog.id %></span>
      <h3>Admin Watchdog</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Admin: </th>
          <td><%= @admin_watchdog.admin.firstname + " " + @admin_watchdog.admin.lastname %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Logintime: </th>
          <td> <%= @admin_watchdog.logintime %></td>
        </tr>
        <tr>
          <th>Ipaddress: </th>
          <td><%= @admin_watchdog.ipaddress %></td>
        </tr>
        <tr>
          <th>Lastvisit: </th>
          <td> <%= @admin_watchdog.lastvisit %></td>
        </tr>
        <tr>
          <th>Operation type:</th>
          <td> <%= @admin_watchdog.operation_type %></td>
        </tr>               
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back' ,admin_watchdogs_path, :class => "md-btn md-flat m-b-sm w-xs text-primary" %>

