<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>User Bank</h2>
    </div>
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: users_bank, local: true) do |form| %>
          <% if users_bank.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(users_bank.errors.count, "error") %> prohibited this users_bank from being saved:</h2>
                <ul>
                  <% users_bank.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-2 form-control-label">Bank</label>
                <div class="col-sm-10">
                    <%= form.select(:bank_id,  options_for_select(Bank.all.collect {|p| [ p.bank_name, p.id ] }, :selected => form.object.bank_id ) ,{}, {:class => 'form-control c-select'} ) %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 form-control-label">User</label>
                <div class="col-sm-10">
                    <%= form.select(:user_id,  options_for_select(User.all.collect {|p| [ p.email, p.id ] }, :selected => form.object.user_id ) ,{}, {:class => 'form-control c-select'} ) %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 form-control-label">Account Number</label>
                <div class="col-sm-10">
                  <%= form.text_field :account_number , class: 'form-control', :required => true %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 form-control-label">Branch Name</label>
                <div class="col-sm-10">
                                  <%= form.text_field :branch_name , class: 'form-control', :required => true %>

                </div>
              </div>
                            
              <div class="form-group">
                <label class="col-sm-6 form-control-label">User Bank Status</label>
                  <label class="ui-switch ui-switch-lg m-t-xs m-r">
                    <%= form.check_box :active,{:selected => (form.object.active)},1,0 %>    
                    <i></i>
                  </label>
              </div>
            </div>
          </div>                  
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-fw primary" id="submit" style="margin-left:20px" >Submit</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <%= link_to 'Back', users_banks_path,:class => "btn btn-fw accent" %>
  </div>    
</div>




