<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Banks</div> <!--class direct2 for this style-->
      <%= link_to 'New User Bank', new_users_bank_path, {:class => 'btn btn-fw accent accent2'}%>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2" >
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>Bank</th>
              <th>User</th>   
              <th>Status</th>           
              <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users_banks.each do |users_bank| %>
          <tr>
              <td><%= users_bank.bank.bank_name  %></td>
              <td><%= users_bank.user.firstname + " " +  users_bank.user.lastname %></td>
              <% if users_bank.active == true  %>
                <td data-value="1"><span class="label success" title="Active">Active</span></td>
              <% elsif users_bank.active == false %>
                <td data-value="3"><span class="label warning" title="Suspended">Suspended</span></td>
              <% end %>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', users_bank,:class => "md-btn md-flat m-b-sm w-xs text-success" %>
                    <%= link_to 'Edit', edit_users_bank_path(users_bank),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                    <%= link_to "Delete", users_bank, method: :delete,data: { confirm: "Are you sure?" },:class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  </div>
                </div>
              </td>
          </tr>
        <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



