<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @users_bank.id %></span>
          <h3>User Bank Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Bank name:</th>
              <td><%= @users_bank.bank.bank_name + " - " + @users_bank.bank.country.Full_Name %></td>
            </tr>
          </thead>
          <tbody>
          <tr>
            <th>Account Name:</th>
            <td> <%= @users_bank.user.firstname + " " +  @users_bank.user.lastname %></td>
          </tr>
          <tr>
            <th>Branch name:</th>
            <td> <%= @users_bank.branch_name %></td>
          </tr>
          <tr>
            <th>Account Number:</th>
            <td> <%= @users_bank.account_number %></td>
          </tr>
          <tr>
            <th>Bank code:</th>
            <td> <%= @users_bank.swift_code %></td>
          </tr>          
          <tr>             
          <tr>
            <th>General Status</th>
            <% if @users_bank.bank.verified == true  %>
              <td data-value="1"><span class="label success" title="Active">Active</span></td>
            <% elsif @users_bank.bank.verified == false %>
              <td data-value="3"><span class="label warning" title="Suspended">Suspended</span></td>
            <% end %>
          </tr>          
      
          <tr>
            <th>User Bank Status</th>
            <% if @users_bank.active == true  %>
              <td data-value="1"><span class="label success" title="Active">Active</span></td>
            <% elsif @users_bank.active == false %>
              <td data-value="3"><span class="label warning" title="Suspended">deleted</span></td>
            <% end %>
          </tr>
          

            <tr>
              <th>Other Links</th>
              <td> <%= link_to 'Edit', edit_users_bank_path(@users_bank),:class => "btn btn-fw warning" %>  </td>
            </tr>         
          </tbody>
        </table>
      </div>
       <%= link_to 'Back', users_banks_path,:class => "btn btn-fw accent" %>
</div>




