<div class="padding">
<div class="box">
    <div class="box-header">
         <h2>New Wallet Transfer</h2>
    </div>
    <div class="box-divider m-0"></div>
        <div class="box-body">
<%= form_with(model: users_wallets_transfer, local: true) do |form| %>
    <% if users_wallets_transfer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(users_wallets_transfer.errors.count, "error") %> prohibited this users_wallets_transfer from being saved:</h2>

        <ul>
        <% users_wallets_transfer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
    <label class="col-sm-2 form-control-label">User</label>
          <div class="col-sm-10">
              <%= form.text_field :user_id , class: 'form-control' , id:"userid" , placeholder:"User Email or Account number" , :required => true %>
          </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">User To</label>
          <div class="col-sm-10">
              <%= form.text_field :user_to_id , class: 'form-control' , placeholder:"User Email or Account number" , :required => true %>
          </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Transfer Method</label>
       <div class="col-sm-10">
       <%= form.select :transfer_method,options_for_select([["الخصم من رصيدى",'FromWallet'],["الدفع عن طريق البطاقات الائتمانية",'FromVisa']]),  {},{:class => 'form-control c-select'} %>
       </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Transfer Type</label>
       <div class="col-sm-10">
       <%= form.select :transfer_type,options_for_select([['خدمة','Service'],['سلعة','Product']]),  {:include_blank => 'Select Type'},{:class => 'form-control c-select' , id:"transtype"} %>
       </div>
    </div>
    <div class="form-group row" id="address" style="display:none;">
    <label class="col-sm-2 form-control-label">Address</label>
       <div class="col-sm-10">
       <select class= 'form-control c-select' id="user_address" name="users_wallets_transfer[address_id]">
       </select>
       </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Hold Period</label>
          <div class="col-sm-10">
              <%= form.number_field :hold_period , class: 'form-control' %>
          </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Amount</label>
          <div class="col-sm-10">
              <%= form.text_field :amount , class: 'form-control' , :required => true %>
          </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Ratio</label>
          <div class="col-sm-10">
              <%= form.text_field :ratio , class: 'form-control' %>
          </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Note</label>
          <div class="col-sm-10">
              <%= form.text_area :note , class: 'form-control'  %>
          </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 form-control-label">Service Status</label>
       <div class="col-sm-10">
       <%= form.select :service_status,options_for_select([['قيد الانتظار',"Pending"],['جارى العمل',"In processing"],['مكتمل',"Completed"],['تم الالغاء',"Cancelled"]]),  {},{:class => 'form-control c-select'} %>
       </div>
    </div>

    <div class="form-group row m-t-md">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
    </div>
</div>
<% end %>
</div>
</div>
<%= link_to 'Back', users_wallets_transfers_path %>
</div>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function() {

      $("#userid").keyup(function() {
        var user_id = $("#userid").val();
         
        $.ajax({ type:'get',url:'/user_addresses',
        data:{user_id:user_id},
        contentType: "application/json",
        dataType: "json",
        success: function(data){
           // console.log(data.useraddresses[0][0])
           $("#user_address").html("");
           // Add options
           for (var i in data.useraddresses) {
               $("#user_address").append('<option value=' + data.useraddresses[i][1] + '>' + data.useraddresses[i][0] + '</option>');
           }
        }
        });
      });

      $("#transtype").change(function() {
        var selectedmethod = $( "#transtype option:selected" ).val();
        if (selectedmethod == "Product"){
            $('#address').show();
        }else{
            $('#address').hide();
        }
      });

    });

</script>
