<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Users Wallets Transfers</div> <!--class direct2 for this style-->

  <% if current_user and current_user.roleid == 1 %>
    <%= link_to 'New Users Wallets Transfer', new_users_wallets_transfer_path, {:class => 'btn btn-fw accent accent2'}%>
  <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>User</th>
            <th>User to</th>
            <th>Operation_id</th>
            <th>Amount</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users_wallets_transfers.each do |users_wallets_transfer| %>
            <tr>
              <td><%= users_wallets_transfer.user_id %></td>
              <td><%= users_wallets_transfer.user_to_id %></td>
              <td><%= users_wallets_transfer.operation_id %></td>
              <td><%= users_wallets_transfer.amount %></td>
              <% if users_wallets_transfer.approve == 0 %>
                <td><%= "Pending" %></td>
              <% elsif users_wallets_transfer.approve == 1 %>
                <td><%= "Done" %></td>
              <% elsif users_wallets_transfer.approve == 2 %>
                <td><%= "Refund" %></td>
              <% end %>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', users_wallets_transfer, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>




