<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>User Wallet Transfer</h3>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th>User From ID</th>
              <td> <%= @users_wallets_transfer.user_id %></td>
            </tr>
            <tr>
            <th>User To ID</th>
            <td> <%= @users_wallets_transfer.user_to_id %></td>
            </tr>
            <tr>
            <th>Operation ID</th>
            <td> <%= @users_wallets_transfer.operation_id %></td>
            </tr>
            <tr>
              <th>Transfer method</th>
              <% if @users_wallets_transfer.transfer_method == "FromWallet" %>
              <td><%= "الخصم من رصيدى" %></td>
              <% else %>
              <td><%= "الدفع عن طريق البطاقات الائتمانية" %></td>
              <% end %>
            </tr>
            <tr>
              <th>Transfer type</th>
              <% if @users_wallets_transfer.transfer_type == 'Product' %>
                <td><%= "سلعة" %></td>
               <% elsif @users_wallets_transfer.transfer_type == 'Quick Payment' %>
                <td><%= "عبر صفحة الدفع السريع" %></td>
              <% else %>
               <td><%= "خدمة" %></td>
              <% end %>
            </tr>
            <tr>
              <th>Hold period</th>
              <td><%= @users_wallets_transfer.hold_period %></td>
            </tr>
            <th>Amount</th>
            <td> <%= @users_wallets_transfer.amount %></td>
          </tr>
          <tr>
          <th>Ratio</th>
          <td><%= @users_wallets_transfer.ratio %></td>
          </tr>
          <tr>
          <tr>
            <th>Status</th>
            <% if @users_wallets_transfer.approve == 0 %>
            <td><%= "Pending" %></td>
            <% elsif @users_wallets_transfer.approve == 1 %>
            <td><%= "Done" %></td>
            <% elsif @users_wallets_transfer.approve == 2 %>
            <td><%= "Refund" %></td>
            <% end %>
          </tr>
          <% if @users_wallets_transfer.transfer_type == "Product" %>
            <tr>
            <th>Address</th>
            <td><%= @user_address %></td>
            </tr>
          <% end %>
          <tr>
          <th>Note</th>
          <td><%= @users_wallets_transfer.note %></td>
          </tr>

          <tr>
          <th>Service Status</th>
          <td><%= @users_wallets_transfer.service_status %></td>
          </tr>

          <tr>
          <th>
          <% if @users_wallets_transfer.approve != 2 %>
          <a href="/refund_transfer?id=<%= @users_wallets_transfer.id %>" class="btn btn-fw accent">Refund Transfer</a>
          <% end %>

          <% if @users_wallets_transfer.approve == 0 %>
          <a href="/confirm_transfer?id=<%= @users_wallets_transfer.id %>" class="btn btn-fw accent">Confirm Transfer</a>
          <% end %>
          </th>

          </tr>  
           
          </tbody>
        </table>
      </div>
      <%= link_to 'Back', users_wallets_transfers_path %>
  </div>
