
<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Tickets Department</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @ticket_department, local: true) do |form| %>
                <% if @ticket_department.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(@ticket_department.errors.count, "error") %> prohibited this ticket_department from being saved:</h2>

                    <ul>
                    <% @ticket_department.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                    </div>
                <% end %>

                <div class="form-group row group2">
                    <label for="inputPassword3" class="col-sm-2 form-control-label ">Name</label>
                    <div class="col-sm-10">
                    <%= form.text_field :name, class: 'form-control subject'%>
                    </div>
                </div>

                <div class="form-group row group2">
                    <label for="inputPassword3" class="col-sm-2 form-control-label ">Code</label>
                    <div class="col-sm-10">
                    <%= form.text_field :code, class: 'form-control subject'%>
                    </div>
                </div>

                <div class="form-group row group2">
                    <label for="inputPassword3" class="col-sm-2 form-control-label ">Description</label>
                    <div class="col-sm-10">
                    <%= form.text_field :description, class: 'form-control subject'%>
                    </div>
                </div>

                <div class="form-group row group2">
                    <label for="inputPassword3" class="col-sm-2 form-control-label">Status</label>
                    <div class="col-sm-4">
                        <%= form.select :status,options_for_select([['Enabled'],['Disabled']],selected:@ticket_department.status),{}, {class:"form-control c-select subject"} %>
                    </div>
                </div>


                <div class="form-group row m-t-md">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-fw primary" id="submit" >Update</button>
                    </div>
                </div>

                

                <% end %>

            </div>
    </div>
    <%= link_to 'Show', @ticket_department %> |
    <%= link_to 'Back', ticket_departments_path %>
</div>
                
