<div class="padding">
  <div class="box">
    <div class="box-header box-header2"> <!-- class box-header2 for this style-->
      <h3>Ticket Departments</h3>
      <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Ticket Department', new_ticket_department_path, {:class => 'btn btn-fw accent accent2'}%>
      <% end %>
    </div>
    <div class="box-body">
    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
    </div>
      <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr id="td">
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Status</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @ticket_departments.each do |ticket_department| %>
            <tr>
              <td><%= ticket_department.name %></td>
              <td><%= ticket_department.code %></td>
              <td><%= ticket_department.description %></td>

              <% if ticket_department.status == 'Enabled'%>
                <td><span class="label success"><%= ticket_department.status %></span></td>
              <% elsif ticket_department.status == 'Disabled' %>
                <td><span class="label warning"><%= ticket_department.status %></span></td>
              <% end %>
              <td>
                <%= link_to 'Show', ticket_department %>-
                <%= link_to 'Edit', edit_ticket_department_path(ticket_department) %>-
                <%= link_to 'Destroy', ticket_department, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <footer class="dker p-a">
        <div class="row">

          <div class="col-sm-4 text-right text-center-xs">
          <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
          </tfoot>
        </div>
        </div>
      </footer>
  </div>

</div>
</div>