<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New Tickets Department</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= render 'form', ticket_department: @ticket_department %>
            </div>
    </div>
    <%= link_to 'Back', ticket_departments_path %>
</div>
                
