<div class="padding">
      <div class="box">
        <div class="box-header">
          <h3>Ticket department</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <td><%= @ticket_department.name %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Code</th>
              <td> <%= @ticket_department.code %></td>
            </tr>
            <tr>
              <th>Description</th>
              <td> <%= @ticket_department.description %></td>
            </tr>
            <tr>
                  <th>Status</th>
                  <td>
                  <%= form_tag change_ticket_department_status_path, :method => 'post' do  %>
                  <%= hidden_field_tag "id", @ticket_department.id %>
                  <div class="form-group row">
                    <div class="col-sm-4">
                    <%= select_tag :status,options_for_select([['Enabled'],['Disabled']],selected:@ticket_department.status), {class:"form-control c-select subject"} %>
                    </div>
                    <button type="submit" class="btn btn-fw primary" id="submit" >Change</button>
                  </div>
                  <% end %>
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_ticket_department_path(@ticket_department) %> |
      <%= link_to 'Back', ticket_departments_path %>
</div>





