<%= form_with(model: user_info, local: true) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :address_verification_id %>
    <%= form.number_field :address_verification_id %>
  </div>

  <div class="field">
    <%= form.label :nationalid_verification_id %>
    <%= form.number_field :nationalid_verification_id %>
  </div>

  <div class="field">
    <%= form.label :selfie_verification_id %>
    <%= form.number_field :selfie_verification_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
