<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Bank</h2>
    </div>
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: bank, local: true) do |form| %>
          <% if bank.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>
              <ul>
                <% bank.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-2 form-control-label">Bank Name</label>
                  <div class="col-sm-10">
                    <%= form.text_field :bank_name , class: 'form-control' , :required => true %>
                  </div>
              </div>              
              
              <div class="form-group">
                <label class="col-sm-2 form-control-label">Country</label>
                <div class="col-sm-10">
                    <%= form.select :country_id,options_for_select(Country.all.collect {|p| [ p.Full_Name, p.id ] }, :selected => form.object.country_id ) ,  {}, {:class => 'form-control c-select'} %>
                </div>
              </div>
              <div class="form-group">
                <label>Logo</label>
                  <div class="form-file">
                    <%= form.file_field :logo %>
                    <button class="btn white">Upload logo</button>
                  </div>
              </div>
              
              
              <div class="form-group">
                <label class="col-sm-6 form-control-label">Bank Status</label>
                  <label class="ui-switch ui-switch-lg m-t-xs m-r">
                    <%= form.check_box :verified,{:selected => (form.object.verified)},1,0 %>    
                    <i></i>
                  </label>
              </div>
            </div>
          </div>                  
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-fw primary" id="submit" style="margin-left:20px" >Submit</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <%= link_to 'Back', banks_path,:class => "btn btn-fw accent" %>
  </div>    
</div>


