<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @bank.id %></span>
          <h3>Bank Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Bank name:</th>
              <td><%= @bank.bank_name %></td>
            </tr>
          </thead>
          <tbody>
          
                     
            
            <tr>
              <th>Country:</th>
              <td> <%= @bank.country.Full_Name %></td>
            </tr>
                     
            <tr>
            <tr>
              <th>Status</th>
              <% if @bank.verified == true  %>
                <td data-value="1"><span class="label success" title="Active">Active</span></td>
              <% elsif @bank.verified == false %>
                <td data-value="3"><span class="label warning" title="Suspended">Suspended</span></td>
              <% end %>
            </tr>                            
            <tr>
              <th>Other Links</th>
              <td> <%= link_to 'Edit', edit_bank_path(@bank),:class => "btn btn-fw warning" %>  </td>
            </tr>         
          </tbody>
        </table>
      </div>
       <%= link_to 'Back', banks_path,:class => "btn btn-fw accent" %>
</div>


