<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Notifications</div> <!--class direct2 for this style-->
    <button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
    <%= link_to 'Auto Refrech', notifications_path,:class => "btn btn-outline b-success text-succes"  %>
    <%= link_to 'User Notifications', user_notifications_path, :class => "btn btn-fw accent accent2"  %>
</div>
<div class="padding">
  <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
    <div class="box-divider m-0"></div>
    <div class="box-body">
      <%= form_tag  url_for(:controller => 'notifications', :action => 'search'), :method => 'get' do %>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject">Search</label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" name="search"  placeholder="Search about something" class="form-control subject" >
          </div>
        </div>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject"><%= t('user name') %> </label><!-- class subject for style of form-group from folder css2 -->
            <div class="col-sm-10">
              <input type="text" name="search_user"  placeholder="Search for a spacific user" class="form-control subject"   >
            </div>
        </div>
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Notification Type') %></label>
            <div class="col-sm-10">
              <%= select_tag :notification_type,options_for_select([['Email & Message',3],['Message',2],['Email',1]]), {:include_blank => 'select type',:class => "form-control c-select subject"} %>
            </div>
        </div>   
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Created at Date') %>:</label>
          <div class="col-sm-4">
            <%= t('From') %> <%= date_field_tag :searchdatefrom, :class => "subject date2" %>
          </div>
          <label for="inputPassword3" class="col-sm-2 form-control-label subject">Expiration Date To</label>
          <div class="col-sm-4">
            <%= t('To') %> <%= date_field_tag :searchdateto, :class => "subject date2"%>
          </div>
        </div>          
        <div class="form-group row m-t-md">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
          </div>
        </div>
      <% end %> 
    </div>
  </div>  
  <div class="box">
    <div class="table-responsive table2">
      <table id="example2" class="table m-b-none" ui-jp="footable" data-filter="#filter">
        <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>Notification Type</th>
            <th>Title</th> 
            <th>Date-Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @notifications.each do |notification| %>
            <tr>
              <td><%= notification.id %></td>
              <td><%= notification.user.firstname + " " + notification.user.lastname %></td>
              <% if notification.notification_type == 3 %>
                <td><%= "Email & Message" %></td>
              <% elsif notification.notification_type == 2 %>
                <td><%= "Message" %></td>
              <% elsif notification.notification_type == 1 %>
                <td><%= "Email" %></td>
              <% end %>
              <td><%= notification.title %></td>
              <td><%= notification.created_at %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', notification, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                    <%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
        
      </table>
    </div>
  </div>
</div>



<script>
  $(document).ready(function() {
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false
      });
    });
  });
</script>

<!-- ############ PAGE END-->






