<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>Card Details</h3>
    </div>
    <table class="table table-striped b-t">
      <thead>
        <tr>
          <th>Username</th>
          <td><%= @notification.user.firstname + @notification.user.lastname %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Title:</th>
          <td><%= @notification.title %> </td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= @notification.description %></td>
        </tr>
        <tr>
          <th>Notification type:</th>
          <% if @notification.notification_type == 3 %>
            <td><%= "Email & Message" %></td>
          <% elsif @notification.notification_type == 2 %>
            <td><%= "Message" %></td>
          <% elsif @notification.notification_type == 1 %>
            <td><%= "Email" %></td>
          <% end %>
        </tr>
        <tr>
          <th>Date-Created:</th>
          <td><%= @notification.created_at %></td>
        </tr>        
      </tbody>
    </table>
  </div>
  <%= link_to 'Back', notifications_path,:class => "btn btn-fw accent" %> 
</div>
   

