<%= debug(params[:user][:password]) %>
<%= debug(params[:user][:telephone]) %>
<%= debug(params[:user][:firstname]) %>
<%= debug(params[:user][:country_id]) %>


<% if @applications_list["id"] %>
<%= "saved"%>
<% else %>
<%= debug(@applications_list) %>
<% end %>