<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Add New User</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_for @user , :url => add_user_path do |form| %>
                    <% if @user.errors.any? %>
                         <div id="error_explanation">
                                <% @user.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                         </div>
                    <% end %>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">User Name</label>
                            <div class="col-sm-10">
                                <%= form.text_field :username , class: 'form-control' , :required => true %>
                            </div>
                        </div>
                        <div class="form-group row">
                        <label class="col-sm-2 form-control-label">First Name</label>
                            <div class="col-sm-10">
                                <%= form.text_field :firstname , class: 'form-control' , :required => true %>
                            </div>
                        </div>
                        <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <%= form.text_field :lastname , class: 'form-control' , :required => true %>
                                </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Email</label>
                                    <div class="col-sm-10">
                                        <%= form.text_field :email, type: 'email' , class: 'form-control', :required => true %>
                                    </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Password</label>
                                <div class="col-sm-10">
                                        <%= form.password_field :password , class: 'form-control' , :required => true %>
                                </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Country</label>
                                <div class="col-sm-10">
                                    <%= form.select :country_id, options_for_select( Country.all.collect {|p| [ p.Full_Name, p.id ] } ), {}, {:class => 'form-control c-select'} %>
                                </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Telephone</label>
                            <div class="col-sm-10">
                                <%= form.text_field :telephone , class: 'form-control' %>
                            </div>
                        </div>


                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
</div>
    
