<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Editing Cards Category</h2>
    </div>
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: @cards_category, local: true) do |form| %>
          <% if @cards_category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@cards_category.errors.count, "error") %> prohibited this cards_category from being saved:</h2>
              <ul>
                <% @cards_category.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
                  
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">card value</label>
            <div class="col-sm-10">
              <%= form.number_field :card_value , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">active</label>
              <div class="col-sm-10">
                  <%= form.select :active, options_for_select([['display',1],['hide',0]], :selected => @cards_category.active),  {}, {:class => 'form-control c-select'} %>
              </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">order</label>
            <div class="col-sm-10">
              <%= form.select :order, ((1..20).map {|i| [i,i] }), {:include_blank => 'select order'}, {:class => 'form-control c-select'} %>
            </div>
          </div>

          <div class="form-group row m-t-md">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" style="margin-left:20px" >Submit</button>
            </div>
          </div>
                    
        <% end %>
      </div>
  </div>    

<%= link_to 'Back', cards_categories_path,:class => "btn btn-fw accent" %>
<%= link_to 'Show', @cards_category,:class => "btn btn-fw warning" %> 
</div>







