<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Cards Categories</div> <!--class direct2 for this style-->
    <%= link_to 'New Cards Category', new_cards_category_path, {:class => 'btn btn-fw accent accent2'}%>
</div>


  <div class="box box-size"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="<%= @max_items_per_page.to_i%>">
        <thead>
          <tr id="td">
            <th>Card value</th>
            <th>Active</th>
            <th>Order</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cards_categories.each do |cards_category| %>
            <tr>
              <td><%= cards_category.card_value %></td>
              <td>
                <% if cards_category.active == 1 %>
                  <%= "Display" %>
                <% elsif cards_category.active == 0 %>
                  <%= "Hide" %>
                <% end %>
              </td>
              <td><%= cards_category.order %></td>
              <td><%= link_to 'Show', cards_category,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
              <td><%= link_to 'Edit', edit_cards_category_path(cards_category),:class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>
              <td><%= link_to 'Destroy', cards_category, method: :delete, data: { confirm: 'Are you sure?' },:class => "md-btn md-flat m-b-sm w-xs text-danger" %></td>
            </tr>
          <% end %>
        </tbody>          
      </table>
    </div>
    <footer class="dker p-a">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">total number is <%= @cards_categories.count %></small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-0">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>  
</div>













