<div class="padding">  
  <div class="box">
    <div class="box-header">
      <h3>Cards Categories</h3>
    </div>
    <table class="table">
      <thead>
          <tr>
            <th>Card value:</th>
            <td><%= @cards_category.card_value %></td>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th>Active</th>
            <td>
                <%= @cards_category.active %>
            </td>
        </tr>
        <tr>
          <th>Order</th>
          <td> <%= @cards_category.order %></td>
        </tr> 
      </tbody>
    </table>
  </div>
      
  <%= link_to 'Edit', edit_cards_category_path(@cards_category),:class => "btn btn-fw warning" %>
  <%= link_to 'Back', cards_categories_path,:class => "btn btn-fw accent" %>
</div>




