<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Admin Logins</div> <!--class direct2 for this style-->
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>Ip address</th>
            <!-- <th>Admin agent</th> -->
            <th>Device</th>
            <th>created_at</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @logins.each do |login| %>
            <tr>
              <td><%= login.ip_address %></td>
              <!-- <td><%# login.user_agent %></td> -->
              <td><%= login.device_id %></td>
              <td><%= login.created_at %></td>
              <td>
                <% if login.device_id == cookies[:device_id] %>
                  Current session
                <% else %>
                    <%# link_to "<i class='fa fa-remove'></i>".html_safe, login_path(login), method: :delete, remote: true, title: "Sign out", data: { confirm: "Are you sure you want to sign out from this device?" } %>
                    <%# link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
              <td><%= link_to 'Show', login, :class => "md-btn md-flat m-b-sm w-xs text-success"%></td>                      
            </tr>
          <% end %>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



