<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Admin Logins</div> <!--class direct2 for this style-->
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>Admin</th>
            <th>Ip address</th>
            <th>Operation type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @admin_logins.each do |admin_login| %>
            <tr>
              <td><%= admin_login.admin.username %></td>
              <td><%= admin_login.ip_address %></td>
              <td><%= admin_login.operation_type %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', admin_login, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



