<div class="padding">  
  <div class="box">
    <div class="box-header">
      <span class="label danger pull-right"><%= @admin_login.id %></span>
      <h3>Admin Logins</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Admin: </th>
          <td><%= @admin_login.admin.firstname + " " + @admin_login.admin.lastname %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Ip address: </th>
          <td><%= @admin_login.ip_address %></td>
        </tr>        
        <tr>
          <th>User agent:</th>
          <td><%= @admin_login.user_agent %></td>
        </tr>

        <tr>
          <th>Device:</th>
          <td><%= @admin_login.device_id %></td>
        </tr>

        <tr>
          <th>Operation type:</th>
          <td><%= @admin_login.operation_type %></td>
        </tr>               
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back' ,admin_logins_path, :class => "md-btn md-flat m-b-sm w-xs text-primary" %>

