<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Setting</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @setting, local: true) do |form| %>
                    <% if @setting.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% @setting.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Key</label>
                          <div class="col-sm-10">
                              <%= form.text_field :key , class: 'form-control' , :readonly => true %>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Value</label>
                          <div class="col-sm-10">
                          <%= form.text_field :value , class: 'form-control', :required => true%>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Description</label>
                          <div class="col-sm-10">
                          <%= form.text_area :description , class: 'form-control', :required => true %>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Attachment</label>
                          <div class="col-sm-10">
                          <%= form.file_field :attachment , class: 'form-control' %>
                          </div>
                      </div>

                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    
<%= link_to 'Show', @setting %> |
<%= link_to 'Back', settings_path %>
</div>
</div>
