<div class="padding">
  <div class="box box-replay">
    <div class="box-header">
      <h6 class="m-b">Payers Setting</h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <div class="container">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab4">General Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href data-toggle="tab" data-target="#tab5">Mail Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab6">Money Operations Setting</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn text-muted active" id="tab4">
          <div class="col-sm-12">
          <div class="box">
            <div class="box-header">
              <small>General settings of payers</small>
            </div>
            <div class="box-body">
            <%= form_tag  url_for(:controller => 'settings', :action => 'edit_settings'), :method => 'get' do %>
              <div class="form-group row group2"> <!-- class group2 for this style-->
                <label for="inputEmail3" class="col-sm-2 form-control-label subject">Maintenance Mode</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                    <%=check_box_tag 'maintenance_mode', @maintenance_mode.value , @maintenance_mode.value%>
                      Disable Client area and show maintenance information
                    </label>
                  </div>
                </div>
              </div>
  
              <div class="form-group row group2"> <!-- class group2 for this style-->
                <label for="inputEmail3" class="col-sm-2 form-control-label subject">Company Name</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                  <input type="client" class="form-control subject" id="inputEmail3" name="website_name" value="<%= @name.value %>">
                </div>
              </div>
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Default Client Language</label>
                <div class="col-sm-10">
                <%= select_tag :language,options_for_select([['English',"en"],['Arabic',"ar"]], :selected => @language.value), {:class => "form-control c-select subject"} %>
                </div>
              </div>
  
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Default Client Country</label>
                <div class="col-sm-10">
                <%= select_tag :default_country,options_for_select(Country.all.collect {|p| [ p.Full_Name, p.short_code ] }, :selected => @country.value ) ,{:class => 'form-control c-select subject'} %>
                </div>
              </div>
  
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Time Zone</label>
                <div class="col-sm-10">       
                <%= select_tag :time_zone,time_zone_options_for_select(selected = @time_zone.value, priority_zones = nil, model = ::ActiveSupport::TimeZone) ,{:class => 'form-control c-select subject'} %>
                </div>
              </div>
  
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Date Format</label>
                <div class="col-sm-10">
                <%= select_tag :date_format,options_for_select([['YYYY-MM-DD(2019-02-15)','YYYY-MM-DD'],['YYYY-DD-MM(2019-15-02)','YYYY-DD-MM'],
                ['DD-MM-YYYY(15-02-2019)','DD-MM-YYYY'],['MM-DD-YYYY(02-15-2019)','MM-DD-YYYY']], :selected => @date_format.value), {:class => "form-control c-select subject"} %>
                </div>
              </div>
  
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Logging Level</label>
                <div class="col-sm-10">
                  <select class="form-control c-select subject">
                    <option>Level1</option>
                    <option>Level2</option>
                  </select>
                </div>
              </div>

              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Marketing Profits Status</label>
                <div class="col-sm-10">
                <%= select_tag :marketing_profits,options_for_select([['ON',"1"],['OFF',"0"]], :selected => @marketing_profits), {:class => "form-control c-select subject"} %>
                </div>
              </div>

              <div class="form-group row group2"> <!-- class group2 for this style-->
                <label for="inputEmail3" class="col-sm-2 form-control-label subject">Invitor Commision</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                  <input type="client" class="form-control subject" id="inputEmail3" name="invitor_commision" value="<%= @invitor_commision %>">
                </div>
              </div>

              <div class="form-group row group2"> <!-- class group2 for this style-->
                <label for="inputEmail3" class="col-sm-2 form-control-label subject">new user commision</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                  <input type="client" class="form-control subject" id="inputEmail3" name="new_user_commision" value="<%= @new_user_commision %>">
                </div>
              </div>
  
              <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-fw primary" type="submit" >Save Changes</button>
                </div>
              </div>
          <% end %>
            </div>
          </div>
        </div>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab5">
          <div class="col-sm-12">
          <div class="box">
            <div class="box-header">
              <small>Email provider settings</small>
            </div>
            <div class="box-body">
            <%= form_tag  url_for(:controller => 'settings', :action => 'mail_setting'), :method => 'get' do %>
  
              <div class="form-group row group2"> <!-- class group2 for this style-->
                <label class="col-sm-2 form-control-label subject">Provider</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                  <input type="client" class="form-control subject" name="provider" value="<%= @email_data["mail_setting"]["provider"] %>">
                </div>
              </div>
              <div class="form-group row group2">
                <label class="col-sm-2 form-control-label subject">Via</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="via" value="<%= @email_data["mail_setting"]["via"] %>">
                </div>
              </div>
              <div class="form-group row group2">
                <label class="col-sm-2 form-control-label subject">Default Subject</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="default_subject" value="<%= @email_data["mail_setting"]["default_subject"] %>">
                </div>
              </div>
              <div class="form-group row group2">
                <label class="col-sm-2 form-control-label subject">Default Text</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="default_text" value="<%= @email_data["mail_setting"]["default_text"] %>">
                </div>
              </div>
              <div class="form-group row group2">
                <label class="col-sm-2 form-control-label subject">Default User Mail</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="default_user_mail" value="<%= @email_data["mail_setting"]["default_user_mail"] %>">
                </div>
              </div>
  
              <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-fw primary" type="submit" >Save Changes</button>
                </div>
              </div>
          <% end %>
            </div>
          </div>
        </div>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab6">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <small>Money operations settings</small>
                </div>
                <div class="box-body">
                <%= form_tag  url_for(:controller => 'settings', :action => 'money_setting'), :method => 'get' do %>
                  <div class="form-group row group2">
                  <label class="col-sm-2 form-control-label subject">USD To SAR</label>
                  <div class="col-sm-10">
                  <input type="client" class="form-control subject" name="usd_to_sar" value="<%= @usd_to_sar %>">
                  </div>
                  </div>             
                  <div class="form-group row group2">
                  <label class="col-sm-2 form-control-label subject">USD To EGP</label>
                  <div class="col-sm-10">
                  <input type="client" class="form-control subject" name="usd_to_egp" value="<%= @usd_to_egp %>">
                  </div>
                  </div>
                  <div class="form-group row group2"> <!-- class group2 for this style-->
                    <label class="col-sm-2 form-control-label subject">Close Withdraw</label><!-- class subject for style of form-group from folder css2 -->
                    <div class="col-sm-10">
                    <%= select_tag :withdraw_status,options_for_select([['OFF',"off"],['ON',"on"]],:selected => @withdraw_status), {:class => "form-control c-select subject"} %>
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Withdraw Message</label>
                    <div class="col-sm-10">
                    <input type="client" class="form-control subject" name="withdraw_msg" value="<%= @withdraw_msg %>">
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Close Deposit</label>
                    <div class="col-sm-10">
                    <%= select_tag :deposit_status,options_for_select([['OFF',"off"],['ON',"on"]],:selected => @deposit_status), {:class => "form-control c-select subject"} %>
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Deposit Message</label>
                    <div class="col-sm-10">
                    <input type="client" class="form-control subject" name="deposit_msg" value="<%= @deposit_msg %>">
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Close Transfer</label>
                    <div class="col-sm-10">
                    <%= select_tag :transfer_status,options_for_select([['OFF',"off"],['ON',"on"]],:selected => @transfer_status), {:class => "form-control c-select subject"} %>
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Transfer Message</label>
                    <div class="col-sm-10">
                    <input type="client" class="form-control subject" name="transfer_msg" value="<%= @transfer_msg %>">
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Close Cards</label>
                    <div class="col-sm-10">
                    <%= select_tag :cards_status,options_for_select([['OFF',"off"],['ON',"on"]],:selected => @cards_status), {:class => "form-control c-select subject"} %>
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Cards Message</label>
                    <div class="col-sm-10">
                    <input type="client" class="form-control subject" name="cards_msg" value="<%= @cards_msg %>">
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Charging Cards Control</label>
                    <div class="col-sm-10"> 
                    <%= select_tag :charging_card_status,options_for_select([['For Transfer Only',"closed"],['For all (transfer & withdraw)',"open"]],:selected => @charging_card_status), {:class => "form-control c-select subject"} %>
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Close Support</label>
                    <div class="col-sm-10">
                    <%= select_tag :support_status,options_for_select([['OFF',"off"],['ON',"on"]],:selected => @support_status), {:class => "form-control c-select subject"} %>
                    </div>
                  </div>
                  <div class="form-group row group2">
                    <label class="col-sm-2 form-control-label subject">Support Message</label>
                    <div class="col-sm-10">
                    <input type="client" class="form-control subject" name="support_msg" value="<%= @support_msg %>">
                    </div>
                  </div>
                  <div class="form-group row m-t-md">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-fw primary" type="submit" >Save Changes</button>
                    </div>
                  </div>
              <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>