<div class="padding">
  <div class="box box-replay">
    <div class="box-header">
      <h6 class="m-b">Payers Statistics</h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <div class="container">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab4">Total Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href data-toggle="tab" data-target="#tab5">Withdraw Banks Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab6">Deposit Banks Statistics</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn text-muted active" id="tab4">
          <div class="col-sm-12">
          <div class="box">
            <div class="box-header">
              <small>Payers total statistics</small>
            </div>
            <div class="box-body">
                <div class="form-group row group2">
                <label for="inputEmail3" class="col-sm-2 form-control-label subject">Total Money</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="withdraw" value="<%= @money_ops.sum(:amount).round(2) %> $" readonly= true >
                </div>
                </div>
              <div class="form-group row group2">
                <label for="inputEmail3" class="col-sm-2 form-control-label subject">Total Withdraw</label><!-- class subject for style of form-group from folder css2 -->
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="withdraw" value="<%= @withdraw_ops.sum(:amount).round(2) %> $" readonly= true >
                </div>
              </div>
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Total Withdraw Fees</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="withdraw_fees" value ="<%= @withdraw_ops.where(status: 1).sum(:fees).round(2) %> $" readonly= true >
                </div>
              </div>
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Total Deposit</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="deposit" value ="<%= @deposit_ops.sum(:amount).round(2) %> $" readonly= true >
                </div>
              </div>
              <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Total Deposit Fees</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="deposit_fees" value ="<%= @deposit_ops.where(status: 1).sum(:fees).round(2) %> $" readonly= true >
                </div>
              </div>
              <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label subject">Total Wallets Transfers</label>
              <div class="col-sm-10">
              <input type="client" class="form-control subject" name="transfers" value ="<%= @transfers_ops.sum(:amount).round(2) %> $" readonly= true >
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label subject">Wallets Transfers Fees</label>
              <div class="col-sm-10">
              <input type="client" class="form-control subject" name="transfers_fees" value ="<%= @transfers_ops.where(status: 1).sum(:fees).round(2) %> $" readonly= true >
              </div>
            </div>
  
            <div class="form-group row group2">
                <label for="inputPassword3" class="col-sm-2 form-control-label subject">Total Net Fees</label>
                <div class="col-sm-10">
                <input type="client" class="form-control subject" name="net_fees" value ="<%= @net_fees.round(2) %> $" readonly= true >
                </div>
            </div>
  
            </div>
          </div>
        </div>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab5">
          <div class="col-sm-12">
          <div class="box">
            <div class="box-header">
              <small>Banks total withdraw statistics</small>
            </div>
            <div class="box-body">
  
            <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr id="td">
                <th>Bank Name</th>
                <th>Num Of Operation</th>
                <th>Total Money</th>
                <th>Total Fees</th>
                </tr>
              </thead>
              <tbody>
              <% @banks_withdraw_ops.each do |banks_withdraw| %>
                  <tr>
                  <td><%= banks_withdraw.payment_gateway %></td>
                  <td><%= banks_withdraw.count  %></td>
                  <td><%= banks_withdraw.amount.round(2) %></td>
                  <td><%= banks_withdraw.fees.round(2) %></td>
      
                  </tr>
                <% end %>
              </tbody>          
            </table>
          </div>

            </div>
          </div>
        </div>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab6">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <small>Payers total monthly statistics</small>
                </div>
                <div class="box-body">

                <div class="table-responsive">
                <table class="table table-bordered m-0">
                  <thead>
                    <tr id="td">
                    <th>Bank Name</th>
                    <th>Num Of Operation</th>
                    <th>Total Money</th>
                    <th>Total Fees</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @banks_deposit_ops.each do |banks_deposit| %>
                      <tr>
                      <td><%= banks_deposit.payment_gateway %></td>
                      <td><%= banks_deposit.count  %></td>
                      <td><%= banks_deposit.amount.round(2) %></td>
                      <td><%= banks_deposit.fees.round(2) %></td>
          
                      </tr>
                    <% end %>
                  </tbody>          
                </table>
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>