<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Setting Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Key</th>
              <td><%= @setting.key %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <th>Value</th>
            <td><%= @setting.value %></td>
            </tr>
            <tr>
              <th>Description</th>
              <td> <%= @setting.description %></td>
            </tr>
            <% if @setting.attachment.attached?  %>
              <tr>
              <th>Attachment</th>          
              <td><%= image_tag @setting.attachment.variant(resize: "200x200") %></td>      
              </tr>
            <% end %>
    
           
          </tbody>
        </table>
      </div>

      <%= link_to 'Edit', edit_setting_path(@setting) %> |
      <%= link_to 'Back', settings_path %>
</div>
