<div class="padding">
  <div class="box">
    <div class="box-header">
      <h6 class="m-b">User Notifications Setting</h6>
    </div>
    <div class="box-body">
    <%= form_with(model: @notifications_setting, local: true) do |form| %>
    <% if @notifications_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@notifications_setting.errors.count, "error") %> prohibited this notifications_setting from being saved:</h2>
  
        <ul>
        <% @notifications_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <strong>المستخدم:</strong>
    <% if @notifications_setting.user_id == 0 %>
      <%= "Default" %>
    <% else %>
      <%= @notifications_setting.user.firstname + " " + @notifications_setting.user.lastname %>
    <% end %>
  </div>


    <div class="box-header box--header">
        <h2>تنبيهات المعاملات</h2>
      </div>
  
      <div class="box-divider m-0"></div>
        <div class="box-body box---body">
  
          <div class="form-group row">
              <label class="col-sm-4 form-control-label">معاملات الارسال ولالاستقبال والسحب</label>
              
              <% if @notifications_setting.money_transactions == 3 %>
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_mail ,checked: true%>
                      <i class="green"></i>
                      Email
                    </label>
                </div>
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_sms ,checked: true %>
                      <i class="green"></i>
                      SMS
                    </label>
                </div>
    
              <% elsif @notifications_setting.money_transactions == 2 %>
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_mail %>
                      <i class="green"></i>
                      Email
                    </label>
                </div>
    
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_sms ,checked: true %>
                      <i class="green"></i>
                      SMS
                    </label>
                </div>
    
              <% elsif @notifications_setting.money_transactions == 1 %>
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_mail  ,checked: true%>
                      <i class="green"></i>
                      Email
                    </label>
                </div>
    
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_sms %>
                      <i class="green"></i>
                      SMS
                    </label>
                </div>
    
              <% elsif @notifications_setting.money_transactions == 0 %>
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_mail %>
                      <i class="green"></i>
                      Email
                    </label>
                </div>
    
                <div class="col-sm-2">
                    <label class="md-check">
                      <%= form.check_box :money_transactions_sms %>
                      <i class="green"></i>
                      SMS
                    </label>
                </div>
              <% end %>  
            </div>
            
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">المعاملات المعلقة</label>
                
                <% if @notifications_setting.pending_transactions == 3 %>
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_mail ,checked: true%>
                        <i class="green"></i>
                        Email
                      </label>
                  </div>
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_sms ,checked: true %>
                        <i class="green"></i>
                        SMS
                      </label>
                  </div>
      
                <% elsif @notifications_setting.pending_transactions == 2 %>
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_mail %>
                        <i class="green"></i>
                        Email
                      </label>
                  </div>
      
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_sms ,checked: true %>
                        <i class="green"></i>
                        SMS
                      </label>
                  </div>
      
                <% elsif @notifications_setting.pending_transactions == 1 %>
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_mail  ,checked: true%>
                        <i class="green"></i>
                        Email
                      </label>
                  </div>
      
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_sms %>
                        <i class="green"></i>
                        SMS
                      </label>
                  </div>
      
                <% elsif @notifications_setting.pending_transactions == 0 %>
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_mail %>
                        <i class="green"></i>
                        Email
                      </label>
                  </div>
      
                  <div class="col-sm-2">
                      <label class="md-check">
                        <%= form.check_box :pending_transactions_sms %>
                        <i class="green"></i>
                        SMS
                      </label>
                  </div>
                <% end %>  
              </div> 
              <div class="form-group row">
                  <label class="col-sm-4 form-control-label">تحديثات المعاملات الجارية</label>
                  
                  <% if @notifications_setting.transactions_updates == 3 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_mail ,checked: true%>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_sms ,checked: true %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
        
                  <% elsif @notifications_setting.transactions_updates == 2 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_mail %>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
        
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_sms ,checked: true %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
        
                  <% elsif @notifications_setting.transactions_updates == 1 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_mail  ,checked: true%>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
        
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_sms %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
        
                  <% elsif @notifications_setting.transactions_updates == 0 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_mail %>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
        
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :transactions_updates_sms %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
                  <% end %>  
                </div>
  
        </div>



        <div class="box-header box--header">
            <h2>تنبيهات الدعم الفنى</h2>
          </div>
      
          <div class="box-divider m-0"></div>
            <div class="box-body box---body">
      
              <div class="form-group row">
                  <label class="col-sm-4 form-control-label">تحديثات تذاكر الدعم</label>

                  <% if @notifications_setting.help_tickets_updates == 3 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                            <%= form.check_box :help_tickets_updates_mail ,checked: true%>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="md-check">
                            <%= form.check_box :help_tickets_updates_sms ,checked: true %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
        
                    <% elsif @notifications_setting.help_tickets_updates == 2 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :help_tickets_updates_mail %>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
        
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :help_tickets_updates_sms ,checked: true %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
        
                    <% elsif @notifications_setting.help_tickets_updates == 1 %>              
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :help_tickets_updates_mail  ,checked: true%>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
        
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :help_tickets_updates_sms %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
        
                    <% elsif @notifications_setting.help_tickets_updates == 0 %>
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :help_tickets_updates_mail %>
                          <i class="green"></i>
                          Email
                        </label>
                    </div>
        
                    <div class="col-sm-2">
                        <label class="md-check">
                          <%= form.check_box :help_tickets_updates_sms %>
                          <i class="green"></i>
                          SMS
                        </label>
                    </div>
                  <% end %>  
                </div>
                



                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">الردود الجديدة على تذاكر الدعم</label>
                    
                    <% if @notifications_setting.tickets_replies == 3 %>
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_mail ,checked: true%>
                            <i class="green"></i>
                            Email
                          </label>
                      </div>
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_sms ,checked: true %>
                            <i class="green"></i>
                            SMS
                          </label>
                      </div>
          
                      <% elsif @notifications_setting.tickets_replies == 2 %>
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_mail %>
                            <i class="green"></i>
                            Email
                          </label>
                      </div>
          
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_sms ,checked: true %>
                            <i class="green"></i>
                            SMS
                          </label>
                      </div>
          
                      <% elsif @notifications_setting.tickets_replies == 1 %>
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_mail  ,checked: true%>
                            <i class="green"></i>
                            Email
                          </label>
                      </div>
          
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_sms %>
                            <i class="green"></i>
                            SMS
                          </label>
                      </div>
          
                      <% elsif @notifications_setting.tickets_replies == 0 %>
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_mail %>
                            <i class="green"></i>
                            Email
                          </label>
                      </div>
          
                      <div class="col-sm-2">
                          <label class="md-check">
                              <%= form.check_box :tickets_replies_sms %>
                            <i class="green"></i>
                            SMS
                          </label>
                      </div>
                    <% end %>  
                  </div> 
      
            </div>






            <div class="box-header box--header">
                <h2>تنبيهات حماية حسابك</h2>
              </div>
          
              <div class="box-divider m-0"></div>
                <div class="box-body box---body">
          
                  <div class="form-group row">
                      <label class="col-sm-4 form-control-label">تسجيل الدخول على حسابك</label>
                      
                      <% if @notifications_setting.account_login == 3 %>
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_mail ,checked: true%>
                              <i class="green"></i>
                              Email
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_sms ,checked: true %>
                              <i class="green"></i>
                              SMS
                            </label>
                        </div>
            
                        <% elsif @notifications_setting.account_login == 2 %>
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_mail %>
                              <i class="green"></i>
                              Email
                            </label>
                        </div>
            
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_sms ,checked: true %>
                              <i class="green"></i>
                              SMS
                            </label>
                        </div>
            
                        <% elsif @notifications_setting.account_login == 1 %>
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_mail  ,checked: true%>
                              <i class="green"></i>
                              Email
                            </label>
                        </div>
            
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_sms %>
                              <i class="green"></i>
                              SMS
                            </label>
                        </div>
            
                        <% elsif @notifications_setting.account_login == 0 %>
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_mail %>
                              <i class="green"></i>
                              Email
                            </label>
                        </div>
            
                        <div class="col-sm-2">
                            <label class="md-check">
                                <%= form.check_box :account_login_sms %>
                              <i class="green"></i>
                              SMS
                            </label>
                        </div>
                      <% end %>  
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">عند تفعيل & إلغاء تفعيل اعدادات التحقق من خطوتين</label>
                        
                        <% if @notifications_setting.change_password == 3 %>
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_mail ,checked: true%>
                                <i class="green"></i>
                                Email
                              </label>
                          </div>
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_sms ,checked: true %>
                                <i class="green"></i>
                                SMS
                              </label>
                          </div>
              
                          <% elsif @notifications_setting.change_password == 2 %>
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_mail %>
                                <i class="green"></i>
                                Email
                              </label>
                          </div>
              
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_sms ,checked: true %>
                                <i class="green"></i>
                                SMS
                              </label>
                          </div>
              
                          <% elsif @notifications_setting.change_password == 1 %>
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_mail  ,checked: true%>
                                <i class="green"></i>
                                Email
                              </label>
                          </div>
              
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_sms %>
                                <i class="green"></i>
                                SMS
                              </label>
                          </div>
              
                          <% elsif @notifications_setting.change_password == 0 %>
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_mail %>
                                <i class="green"></i>
                                Email
                              </label>
                          </div>
              
                          <div class="col-sm-2">
                              <label class="md-check">
                                  <%= form.check_box :change_password_sms %>
                                <i class="green"></i>
                                SMS
                              </label>
                          </div>
                        <% end %>  
                      </div> 


                      <div class="form-group row">
                          <label class="col-sm-4 form-control-label">تغيير كلمة المرور</label>
                          
                          <% if @notifications_setting.verifications_setting == 3 %>
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_mail ,checked: true%>
                                  <i class="green"></i>
                                  Email
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_sms ,checked: true %>
                                  <i class="green"></i>
                                  SMS
                                </label>
                            </div>
                
                            <% elsif @notifications_setting.verifications_setting == 2 %>
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_mail %>
                                  <i class="green"></i>
                                  Email
                                </label>
                            </div>
                
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_sms ,checked: true %>
                                  <i class="green"></i>
                                  SMS
                                </label>
                            </div>
                
                            <% elsif @notifications_setting.verifications_setting == 1 %>
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_mail  ,checked: true%>
                                  <i class="green"></i>
                                  Email
                                </label>
                            </div>
                
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_sms %>
                                  <i class="green"></i>
                                  SMS
                                </label>
                            </div>
                
                            <% elsif @notifications_setting.verifications_setting == 0 %>
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_mail %>
                                  <i class="green"></i>
                                  Email
                                </label>
                            </div>
                
                            <div class="col-sm-2">
                                <label class="md-check">
                                    <%= form.check_box :verifications_setting_sms %>
                                  <i class="green"></i>
                                  SMS
                                </label>
                            </div>
                          <% end %>  
                        </div>
                </div>
                <div class="box-body">

                <div class="form-group row m-t-md">
                    <div class="col-sm-offset-2 col-sm-10">
                      <%= form.submit  class: "btn btn-fw primary" %>
                      <% if @notifications_setting.user_id != 0 %>
                      <a title="Reture Defualt Notification Setting" class="btn btn-fw primary" onclick="return confirm_click();" href="/add_defualt_notifications?id=<%= @notifications_setting.id %>"><i class="icon-remove-sign">Reture Defualt Notification Setting</i></a>
                      <% end %>
                    </div>
                </div>
  <% end %>

</div> 
 </div>
<%= link_to 'Back', notifications_settings_path %>
</div>


<script type="text/javascript">
function confirm_click()
{
return confirm("Are you sure ?");
}
</script>
