


<div class="padding">
<div class="box">   
    <div class="box-header">
    <h6 class="m-b">User Notifications Setting</h6>
    </div>
    <div class="box-body">
            <%= form_with(model: @notifications_setting, local: true) do |form| %>
            <% if @notifications_setting.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@notifications_setting.errors.count, "error") %> prohibited this notifications_setting from being saved:</h2>
                <ul>
                <% @notifications_setting.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= form.label :user_id %>
              <%= form.number_field :user_id %>
            </div>
</div>
<div class="box-header box--header">
        <h2>تنبيهات المعاملات</h2>
      </div>
      <div class="box-divider m-0"></div>
      <div class="box-body box---body">

        <div class="form-group row">
          <label class="col-sm-4 form-control-label">معاملات الارسال ولالاستقبال والسحب</label>
            <div class="col-sm-2">
                <label class="md-check">
                  <%= form.check_box :money_transactions_mail %>
                  <i class="green"></i>
                  Email
                </label>
            </div>
          <div class="col-sm-2">
            <label class="md-check">
                <%= form.check_box :money_transactions_sms %>
              <i class="green"></i>
              SMS
            </label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-control-label">المعاملات المعلقة</label>
            <div class="col-sm-2">
                <label class="md-check">
                    <%= form.check_box :pending_transactions_mail %>
                  <i class="green"></i>
                  Email
                </label>
            </div>
            <div class="col-sm-2">
                <label class="md-check">
                    <%= form.check_box :pending_transactions_sms %>
                  <i class="green"></i>
                  SMS
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">تحديثات المعاملات الجارية</label>
              <div class="col-sm-2">
                  <label class="md-check">
                      <%= form.check_box :transactions_updates_mail %>
                    <i class="green"></i>
                    Email
                  </label>
              </div>
              <div class="col-sm-2">
                  <label class="md-check">
                      <%= form.check_box :transactions_updates_sms %>
                    <i class="green"></i>
                    SMS
                  </label>
              </div>
          </div>
        </div>





      <div class="box-header box--header">
          <h2>تنبيهات الدعم الفنى</h2>
        </div>
        <div class="box-divider m-0"></div>
        <div class="box-body box---body">
  
          <div class="form-group row">
            <label class="col-sm-4 form-control-label">تحديثات تذاكر الدعم</label>
              <div class="col-sm-2">
                <label class="md-check">
                    <%= form.check_box :help_tickets_updates_mail %>
                  <i class="green"></i>
                  Email 
                </label>
              </div>
            <div class="col-sm-2">
              <label class="md-check">
                  <%= form.check_box :help_tickets_updates_sms %>
                <i class="green"></i>
                SMS
              </label>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-4 form-control-label">الردود الجديدة على تذاكر الدعم</label>
              <div class="col-sm-2">
                  <label class="md-check">
                      <%= form.check_box :tickets_replies_mail %>
                    <i class="green"></i>
                    Email
                  </label>
              </div>
              <div class="col-sm-2">
                  <label class="md-check">
                      <%= form.check_box :tickets_replies_sms %>
                    <i class="green"></i>
                    SMS
                  </label>
              </div>
          </div>
        </div>




        <div class="box-header box--header">
            <h2>تنبيهات حماية حسابك</h2>
          </div>
          <div class="box-divider m-0"></div>
          <div class="box-body box---body">
    
            <div class="form-group row">
              <label class="col-sm-4 form-control-label">تسجيل الدخول على حسابك</label>
                <div class="col-sm-2">
                    <label class="md-check">
                        <%= form.check_box :account_login_mail %>
                      <i class="green"></i>
                      Email
                    </label>
                </div>
              <div class="col-sm-2">
                <label class="md-check">
                    <%= form.check_box :account_login_sms %>
                  <i class="green"></i>
                  SMS
                </label>
              </div>
            </div>
    
            <div class="form-group row">
              <label class="col-sm-4 form-control-label">عند تفعيل & إلغاء تفعيل اعدادات التحقق من خطوتين</label>
                <div class="col-sm-2">
                    <label class="md-check">
                        <%= form.check_box :change_password_mail %>
                      <i class="green"></i>
                      Email
                    </label>
                </div>
                <div class="col-sm-2">
                    <label class="md-check">
                        <%= form.check_box :change_password_sms %>
                      <i class="green"></i>
                      SMS
                    </label>
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">تغيير كلمة المرور</label>
                  <div class="col-sm-2">
                      <label class="md-check">
                          <%= form.check_box :verifications_setting_mail %>
                        <i class="green"></i>
                        Email
                      </label>
                  </div>
                  <div class="col-sm-2">
                      <label class="md-check">
                          <%= form.check_box :verifications_setting_sms %>
                        <i class="green"></i>
                        SMS
                      </label>
                  </div>
              </div>
            </div>



                <div class="box-body">

                <div class="form-group row m-t-md">
                    <div class="col-sm-offset-2 col-sm-10">
                    <%= form.submit  class: "btn btn-fw primary" %>
                    </div>
                </div>
<% end %>

</div> 
</div>
<%= link_to 'Back', notifications_settings_path %>
</div>
      
      

      