<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Notifications Settings</div> <!--class direct2 for this style-->
    <button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
    <button class="btn btn-outline b-success text-success" id="button2" href="/view ticket.html">Auto Refrech</button>
    <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New Notifications Setting', new_notifications_setting_path, {:class => 'btn btn-fw accent accent2'}%>
      <% end %>
  </div>
  
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
     <!-- <div class="box box-size">--> <!--class box-size for this style-->
      <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <%= form_tag  url_for(:controller => 'notifications_settings', :action => 'search'), :method => 'get' do %>
            <div class="form-group row group2"> <!-- class group2 for this style-->
              <label for="inputEmail3" class="col-sm-2 form-control-label subject"><%= t('user name') %> </label><!-- class subject for style of form-group from folder css2 -->
              <div class="col-sm-10">
                <input type="text" name="search_user"  placeholder="Search for a spacific user" class="form-control subject"   >
              </div>
            </div>
            <div class="form-group row m-t-md">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
              </div>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <div class="box"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t table-card" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="<%= @max_items_per_page.to_i%>">
        <thead>
          <tr id="td">
            <th></th>          
            <th>Username</th>
            <th>Money transactions</th>
            <th>Pending transactions</th>
            <th>Transactions updates</th>
            <th>Help tickets updates</th>
            <th>Tickets replies</th>
            <th>Account login</th>
            <th>Change password</th>
            <th>Verifications setting</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @notifications_settings.each do |notifications_setting| %>
             <tr>
            <td><%= notifications_setting.user_id %></td>
            <% if notifications_setting.user_id == 0 %>
            <td><%= "Defualt" %></td>
            <% else %>
            <td><%= notifications_setting.user.firstname + " " + notifications_setting.user.lastname %></td>
            <% end %>
            <% if notifications_setting.money_transactions == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.money_transactions == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.money_transactions == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.money_transactions == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.pending_transactions == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.pending_transactions == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.pending_transactions == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.pending_transactions == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.transactions_updates == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.transactions_updates == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.transactions_updates == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.transactions_updates == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.help_tickets_updates == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.help_tickets_updates == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.help_tickets_updates == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.help_tickets_updates == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.tickets_replies == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.tickets_replies == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.tickets_replies == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.tickets_replies == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.account_login == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.account_login == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.account_login == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.account_login == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.change_password == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.change_password == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.change_password == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.change_password == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.verifications_setting == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.verifications_setting == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.verifications_setting == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.verifications_setting == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_notifications_setting_path(notifications_setting), :class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>              
          </tr>
          <% end %>
        </tbody>          
      </table>
    </div>
    <footer class="dker p-a">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">showing 10 of<%= @notifications_settings.count %></small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-0">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    </div>      
  </div>




