
<% @users = User.all%>

<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Add Balance To Users</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_tag  url_for(:controller => 'user_wallets', :action => 'admin_add_balance_post'), :method => 'post' do %>
                     <%= tag.div id: :boards, data: {users: @users.to_json} %> 
                     
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Amount</label>
                                <div class="col-sm-10">
                                    <input type="text" name="balance_amount"  placeholder="Balance amount" , class= "form-control" >
                                </div>
                      </div>
                      <div class="form-group row m-t-md">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                                </div>
                      </div>
                      
                <% end %>
            </div>
    </div>
    <%= link_to 'Back', user_wallets_path %>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function() {

      $("#receiver").keyup(function() {
        var user_id = $("#receiver").val();
         
        $.ajax({ type:'get',url:'/user_list_data',
        data:{user_id:user_id},
        contentType: "application/json",
        dataType: "json",
        success: function(data){
           // console.log(data.userdata[0][0])
           $("#receiverdata").html("");
           // Add options
           for (var i in data.userdata) {
               $("#receiverdata").append('<option value=' + data.userdata[i][2] + '>' + data.userdata[i][0] + " " + data.userdata[i][1] +  '</option>');
           }

        }
        });
      });

    });

</script>
    
