<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Users Wallets</div> <!--class direct2 for this style-->
  <%= link_to 'SMS Logs', sms_logs_path,{:class => 'btn btn-fw accent accent2'} %>
  <%= link_to 'New User Wallet', new_user_wallet_path, {:class => 'btn btn-fw accent accent2'}%>
  <%= link_to 'Transfer Balance Between Users', new_users_wallets_transfer_path,{:class => 'btn btn-fw accent accent2'} %>
  <%= link_to 'Add Balance To Users', admin_add_balance_path,{:class => 'btn btn-fw accent accent2'} %> <br><br>
</div>
<div class="padding">   
  <div class="box">
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr id="td">
            <th>ID</th>
            <th>Username</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Uuid</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user_wallets.each do |user_wallet| %>
            <tr>
              <td><%= user_wallet.id %></td>
              <td><%= user_wallet.user.firstname + " " + user_wallet.user.lastname %></td>
              <td><%= user_wallet.currency %></td>
              <td><%= user_wallet.amount.to_f + user_wallet.transfer_amount.to_f %></td>
              <td><%= user_wallet.uuid %></td>
              <% if user_wallet.status == 0 %>
              <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
              <% elsif user_wallet.status == 1 %>
              <td data-value="1"><span class="label success" title="Active">Active</span></td>
              <% end %>
              <% if user_wallet.status == 0 %>
              <td><a href="/wallets_status?id=<%= user_wallet.id %>" class="btn btn-primary">Push To Enable This Wallet</a></td>
              <% else %>
              <td><a href="/wallets_status?id=<%= user_wallet.id %>" class="btn btn-warning">Push To Disable This Wallet</a></td>
              <% end %>
                           
              <td><%= link_to 'Show', user_wallet,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
            </tr>
          <% end %>
        </tbody>          
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>  
</div>


