<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>User Wallet</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User Name</th>
              <td><%= @user_wallet.user.firstname + " " + @user_wallet.user.lastname  %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>User ID</th>
              <td> <%= @user_wallet.user_id %></td>
            </tr>
            <tr>
              <th>Currency</th>
              <td><%= @user_wallet.currency %></td>
            </tr>
            <tr>
            <th>Amount</th>
            <td> <%= @user_wallet.amount.to_f + @user_wallet.transfer_amount.to_f %></td>
          </tr>
          <tr>
            <th>Uuid</th>
            <td><%= @user_wallet.uuid %></td>
          </tr>
            <tr>
              <th>Status</th>
              <% if @user_wallet.status == 0 %>
              <td><span class="label"><%= "Disabled" %></span></td>
              <% elsif @user_wallet.status == 1 %>
              <td><span class="label success"><%= "Enabled" %></span></td>
              <% end %>
            </tr>     
           
          </tbody>
        </table>
      </div>
      <%= link_to 'Back', user_wallets_path %>
</div>