 <div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>User Wallets Transfer</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_tag  url_for(:controller => 'user_wallets', :action => 'transfer_balancepost'), :method => 'post' do %>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">User ID From</label>
                                <div class="col-sm-10">
                                    <%= text_field_tag :userfrom , class: 'form-control'  , :required => true%>
                                </div>
                      </div>
                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">User ID To</label>
                            <div class="col-sm-10">
                                <%= text_field_tag :userto , class: 'form-control'  , :required => true%>
                            </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Amount</label>
                                <div class="col-sm-10">
                                    <%= number_field_tag :transferamount , class: 'form-control'  , :required => true%>
                                </div>
                      </div>
                      <div class="form-group row m-t-md">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                                </div>
                      </div>
                      
                <% end %>
            </div>
    </div>
    <%= link_to 'Back', user_wallets_path %>
</div>
    
