<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Blog Category</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @blogs_category, local: true) do |form| %>
                    <% if @blogs_category.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% @blogs_category.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Name</label>
                                <div class="col-sm-10">
                                    <%= form.text_field :name, class: 'form-control', :required => true %>
                                </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Description</label>
                          <div class="col-sm-10">
                              <%= form.text_area :description , class: 'form-control', :required => true %>
                              </div>
                      </div>

                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Show', @blogs_category %> |
<%= link_to 'Back', blogs_categories_path %>
</div>
</div>



