<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Blogs Categories</div> <!--class direct2 for this style-->

  <% if current_user and current_user.roleid == 1 %>
    <%= link_to 'New Blogs Category', new_blogs_category_path, {:class => 'btn btn-fw accent accent2'}%>
  <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @blogs_categories.each do |blogs_category| %>
            <tr>
              <td><%= blogs_category.name %></td>
              <td><%= blogs_category.description %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', blogs_category ,:class => "md-btn md-flat m-b-sm w-xs text-success" %>
                    <%= link_to 'Edit', edit_blogs_category_path(blogs_category),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>







