<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Blog Category Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <td><%= @blogs_category.name %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Description</th>
              <td> <%= @blogs_category.description %></td>
            </tr>          
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_blogs_category_path(@blogs_category) %> |
      <%= link_to 'Back', blogs_categories_path %>
</div>
