<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Department</label>
    <div class="col-sm-4">
      <select class="form-control c-select subject" name="ticket[number]">
        <option disabled selected value >Select department</option>
        <%= @department.each do |department| %>
          <option value="<%= department.code %>"><%= department.name %></option>
        <% end %>
      </select>
    </div>

    <label for="inputPassword3" class="col-sm-2 form-control-label">Priority</label>
    <div class="col-sm-4">
      <%= form.select :priority,options_for_select([['Low'],['Normal'],['High'],['Urgent']]), {:include_blank => 'Select priority'} ,{:class => "form-control c-select subject"} %>
    </div>
  </div>

  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">User</label>
        <div class="col-sm-10">
            <input type="text" id="receiver"  placeholder="User Email or Account number" , class= "form-control subject" >
        </div>
  </div>

  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">User List</label>
      <div class="col-sm-10">
        <select id="receiverdata" name="ticket[user_id]" class= 'form-control c-select subject'></select>
      </div>
  </div>

  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">CC Recipient</label>
    <div class="col-sm-10">
      <%= form.text_field :cc_recipient, class: 'form-control subject'%>
  </div>
  </div>
  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">Title</label>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control subject'%>
    </div>
  </div>
 
  <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">Content</label>
    <div class="col-sm-10">
      <%= form.text_area :content, class: 'form-control subject', :id=>"summernote"%>
  </div>
  </div>

  <div class="form-group row group2">
      <label for="inputPassword3" class="col-sm-2 form-control-label ">Attachment</label>
      <div class="col-sm-10">
        <%= form.text_field :attachment, class: 'form-control subject'%>
    </div>
    </div>

  <div class="form-group row m-t-md">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-fw primary" id="submit" >Create Ticket</button>
      </div>
  </div>

  
  
<% end %>
<script src="/js/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function() {
      $('#summernote').summernote({
  height: 150,
  toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                  ]
});

      
      $("#receiver").keyup(function() {
        var user_id = $("#receiver").val();
        $.ajax({ type:'get',url:'/user_list_data',
        data:{user_id:user_id},
        contentType: "application/json",
        dataType: "json",
        success: function(data){
           // console.log(data.userdata[0][0])
           $("#receiverdata").html("");
           // Add options
           for (var i in data.userdata) {
               $("#receiverdata").append('<option value=' + data.userdata[i][2] + '>' + data.userdata[i][0] + " " + data.userdata[i][1] +  '</option>');
           }

        }
        });
      });

    });
</script>