
<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">support tickets</div> <!--class direct2 for this style-->

<button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
<button class="btn btn-outline b-success text-success" id="button2" href="/view ticket.html">Auto Refrech</button>
<% if policy(Ticket).new? %>
  <%= link_to 'New Ticket', new_ticket_path, {:class => 'btn btn-fw accent accent2'}%>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
        <div class="box-divider m-0"></div>
        <div class="box-body">
        <%= form_tag search_tickets_path, :method => 'get' do  %>
        <form role="form">
            <div class="form-group row group2"> <!-- class group2 for this style-->
              <label for="inputEmail3" class="col-sm-2 form-control-label">Client</label><!-- class subject for style of form-group from folder css2 -->
              <div class="col-sm-10">
                <input type="client" class="form-control subject" id="inputEmail3" placeholder="start typing to search clients">
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label">Name</label>
              <div class="col-sm-10">
                <input name="name" type="text" class="form-control subject" id="inputPassword3">
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label">Email Address</label>
              <div class="col-sm-8">
                <input name="email" type="text" class="form-control subject" id="inputPassword3">
              </div>
              <div claa="col-sm-2">
                <div class="checkbox checkbox2">     <!--class checkbox2 for this style-->
                  <label>
                  <input type="checkbox" class="has-value" checked="">send Email
                </label>
              </div>
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label">CC Recipients</label>
              <div class="col-sm-8">
                <input name="cc_recipient" type="text" class="form-control subject" id="inputPassword3">
              </div>
              <div claa="col-sm-2">
                (comma separated)
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label">Subject</label>
              <div class="col-sm-10">
                <input name="subject" type="text" class="form-control subject" id="inputPassword3">
              </div>
            </div>
            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label">Department</label>
              <div class="col-sm-4">
                <select class="form-control c-select subject" name="department">
                  <option disabled selected value >Select department</option>
                  <% @department.each do |department| %>
                  <option value="<%= department.code %>" ><%= department.name%></option>
                  <% end %>
                </select>
              </div>

              <label for="inputPassword3" class="col-sm-2 form-control-label">Priority</label>
              <div class="col-sm-4">
                <%= select_tag :priority,options_for_select([['Low',1],['Normal',2],['High',3],['Urgent',4],['Report to management',5]]), {:include_blank => 'Select priority' ,class:"form-control c-select subject"} %>
              </div>
            </div>

            <div class="form-group row group2">
              <label for="inputPassword3" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-4">
                  <%= select_tag :status,options_for_select([['Open',0],['OnHold',1],['Answered',2],['Closed',3]]), {:include_blank => 'Select status' ,class:"form-control c-select subject"} %>
              </div>
            </div>
            <div class="form-group row m-t-md">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
              </div>
            </div>
          </form>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <div class="box box-size"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr id="td">
          <% if policy(Ticket).close_tickets? %>
            <th></th>
            <% end %>
            <th>Department</th>
            <th>Subject</th>
            <th>Submitter</th>
            <th>Status</th>
            <th>Last Reply </th>
          </tr>
        </thead>
        <tbody>
        <%= form_tag close_ticket_url, method: :post, id: 'ticket-id' do  %>
          <% @tickets.each do |ticket| %>
            <tr>
            <% if policy(Ticket).close_tickets? %>
              <td>
              <% if ticket.status != "Closed" %>
              <label class="ui-check m-0">
                <%=check_box_tag 'selected_tickets[]', ticket.id%><i></i>
              </label>
              <% end %>
              </td>
            <% end %>
              <td><%= ticket.name %></td>
              <td> <a href="tickets/<%= ticket.id %>">#<%= ticket.number %><%= ticket.id %></a>  - <a href="users/<%= ticket.user_id %>"><%= ticket.title %></a></td>
              <td><a href="users/<%= ticket.user_id %>"><%= ticket.user.firstname + " " + ticket.user.lastname  %></a></td>
              <% if ticket.status == "Closed" %>
              <td><span class="label black" title="Closed">Closed</span></td>
              <% elsif ticket.status == "Answered" %>
              <td><span class="label success" title="Answered">Answered</span></td>
              <% elsif ticket.status == "Open" %>
              <td><span class="label blue" title="Open">Open</span></td>
              <% elsif ticket.status == "OnHold" %>
              <td><span class="label danger" title="OnHold">OnHold</span></td>
              <% end %>
              <% if ticket.ticket_reply.present? %>
              <td><%= ticket.ticket_reply.last.created_at %></td>
              <% else %>
              <td><%= "no replies" %></td>
              <% end %>
              </tr>
          <% end %>
        </tbody>

          
      </table>
    </div>
      <footer class="dker p-a">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
          <% if policy(Ticket).close_tickets? %>
          <%= content_tag :button, :type => :submit, class: 'btn btn-fw dark' do %>close<%end%>
          <%end%>
        <%end%>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
          <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
          </tfoot>
        </div>
        </div>
      </footer>
  </div>

