<div class="padding">
  <div class="box">
    <div class="box-header">
      <h6 class="m-b">Tickets </h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab4">Ticket info</a>
            </li>
            <% if policy(Ticket).create_reply? %>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab5">The replies of this ticket</a>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn text-muted active" id="tab4">
              <table class="table">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <td><%= @ticket.user.firstname + " " + @ticket.user.lastname  %></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>User ID</th>
                    <td> <%= @ticket.user.id %></td>
                  </tr>
                  <tr>
                    <th>CC Recipients</th>
                    <td> <%= @ticket.cc_recipient %></td>
                  </tr>
                  <tr>
                    <th>Number</th>
                    <td><%= @ticket.number %><%= @ticket.id %></td>
                  </tr>
                  <tr>
                  <th>Title</th>
                  <td><%= @ticket.title %></td>
                </tr>
                <tr>
                  <th>Content</th>
                  <td><%= sanitize(@ticket.content) %></td>
                </tr>
                <tr>
                  <th>Attachment</th>
                  <td><%= @ticket.attachment %></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <% if @ticket.status == "Closed" %>
                  <td><span class="label black" title="Closed">Closed</span></td>
                  <% elsif @ticket.status == "Answered" %>
                  <td><span class="label success" title="Answered">Answered</span></td>
                  <% elsif @ticket.status == "Open" %>
                  <td><span class="label blue" title="Open">Open</span></td>
                  <% elsif @ticket.status == "OnHold" %>
                  <td><span class="label danger" title="OnHold">OnHold</span></td>
                  <% end %>
                </tr>
                <% if policy(Ticket).changepriority? %>
                <tr>
                  <th>Priority</th>
                  <td>
                  <%= form_tag change_tickets_priority_path, :method => 'post' do  %>
                  <%= hidden_field_tag "id", @ticket.id %>
                <div class="form-group row">
                  <div class="col-sm-4">
                  <%= select_tag :priority,options_for_select([['Low'],['Normal'],['High'],['Urgent'],['Report to management']], :disabled => "Report to management",selected:@ticket.priority), {class:"form-control c-select subject"} %>
                  </div>
                  <button type="submit" class="btn btn-fw primary" id="submit" >Change</button>
                </div>

                  <% end %>
                  </td>
                </tr>
                <% end %>
                <tr>
                  <th>Evaluation</th>
                  <% if @ticket.evaluation != nil %>
                  <td><%= @ticket.evaluation %></td>
                  <% else %>
                  <td><%= "-" %></td>
                  <% end %>
                </tr> 
                <% if policy(Ticket).changereminder? %>
                <tr>
                  <th>Reminder</th>
                  <td>
                  <% if @ticket.reminder != nil %>
                  <div class="form-group row">
                  <div class="col-sm-4">
                  <%= @ticket.reminder %>
                  </div>
                  </div>
                  <% else %>
                  <%="No reminder date for this ticket" %>
                  <% end %> 
                  <%= form_tag change_tickets_reminder_path, :method => 'post' do  %>
                  <%= hidden_field_tag "id", @ticket.id %>
                    <div class="form-group row">
                    <div class="col-sm-4">
                    <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                          format: 'YYYY-MM-DD',
                          icons: {
                            time: 'fa fa-clock-o',
                            date: 'fa fa-calendar',
                            up: 'fa fa-chevron-up',
                            down: 'fa fa-chevron-down',
                            previous: 'fa fa-chevron-left',
                            next: 'fa fa-chevron-right',
                            today: 'fa fa-screenshot',
                            clear: 'fa fa-trash',
                            close: 'fa fa-remove'
                          }
                        }">
                        <input type='text' name="reminder" class="form-control" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    </div>
                    <button type="submit" id="datepicker" class="btn btn-fw primary" >add</button>
                  </div>
                  <% end %>
                </td>
                </tr>     
                <% end %>
                </tbody>
              </table>
              <% if policy(Ticket).close_ticket? %>
                <% if @ticket.status != "Closed" %>
                  <td><a href="/close_ticket?id=<%= @ticket.id %>" class="btn btn-fw black">Close Ticket</a></td>
                <% end %>
              <% end %>
          </div>

          <div class="tab-pane animated fadeIn text-muted" id="tab5">
           

            <div class="col-sm-6">
              <div class="box">
                <div class="box-header dker">
                  <h3><%= @ticket.user.firstname + " " + @ticket.user.lastname  %></h3>
                  <small><%= @ticket.created_at %></small>
                </div>
                <div class="box-body">
                  <p class="m-0"><%= sanitize(@ticket.content) %></p>
                </div>
              </div>
            </div>

            <% @ticket_reply.each do |ticket| %>
            <% if ticket.sender_type == "Payers Support" %>
            <div class="col-sm-6">
              <div class="box">
                <div class="box-header accent">
                <% if ticket.internal == 1 %>
                  <h3>Payers Support (Internal Reply)</h3>
                <% else %>
                  <h3>Payers Support</h3>
                <% end %>
                  <small><%= ticket.created_at %></small>
                </div>
                <div class="box-body">
                  <p class="m-0"><%= sanitize(ticket.content) %></p>
                </div>
              </div>
            </div>
            <% elsif ticket.sender_type == "User" %>
            <div class="col-sm-6">
              <div class="box">
                <div class="box-header dker">
                  <h3><%= @ticket.user.firstname + " " + @ticket.user.lastname  %></h3>
                  <small><%= ticket.created_at %></small>
                </div>
                <div class="box-body">
                  <p class="m-0"><%= sanitize(ticket.content) %></p>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>

            <%= form_for TicketReply.new, url: '/tickets/reply' do |form| %>
              <%= form.hidden_field :ticket_id, value: @ticket.id %>
                <div class="form-group row">
                  <div class="col-sm-10">
                  <%= form.text_area :content , class: 'form-control', id:'replycontent'%>
                  </div>  
                </div>
                <div class="checkbox">
                  <div class="col-sm-10">
                  <%= form.check_box :internal %>
                  <%= form.label "Internal Reply" %>
                  </div>
                </div>
                <div class="form-group row m-t-md">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-fw primary" id="submit" >Reply</button>
                      <% end %>
                      <button type="button" class="btn btn-fw primary" id="open_cat">Insert Predefined Reply</button>
                  </div>
                </div>

              <div class="form-group row" style="display:none;" id="select_category">
                <div class="col-sm-10">
                    <select class="form-control c-select " id="catall">
                    <option selected disabled value>select category</option>
                        <% @predefined_reply_categories.each do |category| %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                    </select>
                </div>
              </div>
              <div class="form-group row" style="display:none;" id="select_reply">
                    <div class="col-sm-10">
                    <select id="catreply" name="catreply[bank_id]" class= 'form-control c-select'>
                    </select>
                    </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
          <%= link_to 'Back', tickets_path %>
</div>




<script src="/js/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
  $("#open_cat").click(function() {
    $("#select_category").show();
  });

  $("#catall").change(function() {
    var selectedcat = $( "#catall option:selected" ).val();
    $.ajax({ type:'get',url:'/allreplies',
    data:{category_id:selectedcat},
    contentType: "application/json",
    dataType: "json",
    success: function(data){
      //console.log(data.category)
      $("#catreply").html("");
      $("#catreply").append('<option disabled selected>select reply</option>');
      for (var i in data.category) {
          $("#catreply").append('<option value=' + data.category[i].id + '>' + data.category[i].title + '</option>');
      }
    }
    });
    $("#select_reply").show();
  });

  $("#catreply").click(function() {
    var selectedreply = $( "#catreply option:selected" ).val();
    // console.log(selectedreply)
    $.ajax({ type:'get',url:'/replycontent',
    data:{reply_id:selectedreply},
    contentType: "application/json",
    dataType: "json",
    success: function(data){
    $("#replycontent").val(data.content) ;
    }
    });
  });

});

</script>


