
<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Edit Withdraw Operation</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @withdraw, local: true) do |form| %>
                    <% if @withdraw.errors.any? %>
                         <div id="error_explanation">
                             <%= pluralize(@withdraw.errors.count, "error") %> prohibited this @withdraw operation from being saved: 
                             <ul>
                                <% @withdraw.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">User ID</label>
                            <div class="col-sm-10">
                                <%= form.number_field :user_id, id: 'userid' , class: 'form-control', :readonly => true %>
                            </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Bank ID</label>
                            <div class="col-sm-10">
                            <%= form.select :bank_id, BankAccount.where(user_id:@withdraw.user_id).collect {|p| [ p.bank_name + " " + p.account_name, p.id ] },{}, {class: 'form-control c-select'}  %>
                            </div>
                     </div>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Amount</label>
                                <div class="col-sm-10">
                                    <%= form.text_field :amount , class: 'form-control' , :required => true %>
                                </div>
                      </div>
                      
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Withdraw Status</label>
                             <div class="col-sm-10">
                             <%= form.select :status,options_for_select([['Pending',1],['Accepted',2],['cancelled',3]], :selected => @withdraw.status),  {:required => true},{:class => 'form-control c-select'} %>
                             </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Withdraw Type</label>
                         <div class="col-sm-10">
                         <%= form.select :withdraw_type,options_for_select([['Local Bank','local_bank'],['Electronic Bank','electronic_bank'],['Digital Bank','digital_bank']], :selected => @withdraw.withdraw_type),  { :required => true},{:class => 'form-control c-select'} %>
                         </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Note</label>
                            <div class="col-sm-10">
                                <%= form.text_area :note , class: 'form-control' %>
                            </div>
                      </div>


                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Show', @withdraw %> |
<%= link_to 'Back', withdraws_path %>
</div>
</div>
