<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">List of all withdraw operations</div> <!--class direct2 for this style-->
  <%= link_to 'New Withdraw Operation', new_withdraw_path, :class => "btn btn-fw accent accent2" %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Bank</th>
            <th>Operation ID</th>
            <th>Amount</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @withdraws.each do |withdraw| %>
            <tr>
              <td><%= withdraw.user.firstname + " " + withdraw.user.lastname  %></td>
              <td><%= withdraw.users_bank.bank.bank_name %></td>
              <td><%= withdraw.operation_id %></td>
              <td><%= withdraw.amount %></td>
              <% if withdraw.status == 1 %>
              <td><%= "Pending" %></td>
              <% elsif withdraw.status == 2 %>
              <td><%= "Accepted" %></td>
              <% elsif withdraw.status == 3 %>
              <td><%= "cancelled" %></td>
              <% end %>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', withdraw, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                    <% if withdraw.status != 3  %>
                      <%= link_to 'Edit', edit_withdraw_path(withdraw) , :class => "md-btn md-flat m-b-sm w-xs text-primary"%>
                    <% else %>
                      <%= "-" %>
                    <% end %>
                    <%= link_to 'Destroy', withdraw, method: :delete, data: { confirm: 'Are you sure?' }, :class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  </div>
                </div>
              </td>            
            </tr>
          <% end %>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
