<template>
<div>
<div class="form-group row">
  <label class="col-sm-2 form-control-label">User</label>
    <div class="col-sm-10">
      <input type="text" id="receiver"  placeholder="User Email or Account number" autocomplete="off"  class= "form-control" v-model="sFilter" @keyup="seachfilter" >
      <div>
          <li class="form-control"
            :key="list.id"
            v-for="(list, index) in todosearchfilter"
            @dblclick="choosethis(list)" @click="choosethis(list)" >
            <slot name="form-control">
              {{list.email}}
            </slot>
          </li>
      </div>
    </div>
</div>
 
<div class="form-group row" style="display:none">
  <label class="col-sm-2 form-control-label">User List</label>
    <div class="col-sm-10">
      <input type="text" id="receiverdata" name="receiver_user" class= "form-control" v-model="receiverdata" >
    </div>
</div>
</div>

</template>


<script>
export default {
  props: ["original_lists"],
  data: function(){
    return {
      message: {},
      lists: this.original_lists,
      sFilter: '',
      search: '',
      receiverdata: '',
    }
  },
  computed: {
    todosearchfilter(){
         if (this.search != ''){
          return this.lists.filter(list => {
            if ((list.email.toLowerCase().includes(this.search.toLowerCase())) || (list.account_number.toLowerCase().includes(this.search.toLowerCase())))
             {
              return list.email
              }
      }).sort((a, b) => 1 * a.email.localeCompare(b.email))
      }
      }
  },
  methods: {
    seachfilter(){
       this.search = this.sFilter
      },
      choosethis(list){
       this.sFilter = list.email
       this.receiverdata = list.id 
       this.search = ""
      }
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}


</style>
