
.subject{
  background-color:#f4f7f7
}
.group2{
  margin:5px;
}
.table2 th{
  background-color:#c5b4e0;
  color:#fff;
  padding: 20px;

}
 #th{
   width:20px !important
 }
 #td td{
   width:20px !important
 }
.table2 input{
  color:#fff
}
.table2{
  margin-top:20px;
}

 .accent2{
  margin-bottom:10px !important;
  margin-top: 10px !important;
}
.box-header2 h3{
  margin-bottom:10px;
}
.box-size{
  margin-left:20px;
  width:95%
}
.right2{
  margin-left:20px !important;
  margin-bottom:10px !important;
}
.direct2{
padding:10px !important;
}
.checkbox2{
  margin-top:10px;
}
.app-body2{
  width:95%;
  margin-left:20px;
   height:50%;
}
.chat-text2{
  background:#a3cece;
  padding:10px;
  width:20% !important;
  margin:10px;
  border-radius:10px;
}

/* .table-card  th{
  padding:2px !important;

}
.table-card  td{
  padding:12px !important;

} */
.date2{
  padding: 10px;
  border: 1px solid #d0cdcd;
}
.box-replay{
  margin-top:10px;
  width:100%;
  height:100%
}
.box2-body{
  float:right;
  padding:0px
}

.table33{
  background:#fff
}


.avatar1{

  float:left
}
.glyphicon-folder-open{
  font-size:15px
}
.xmenu-title{
  margin-top:-10px
}
.cat1 a{
  margin-top:-5px !important
}
.xmenu-title {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}
.btn-sm1{
  margin-right:10px;
  margin-top:10px
}
.xmenu-container {

  display: block;

  border-bottom: 1px solid rgba(120, 130, 140, 0.065);
}
.xmenu-sub-menu{
  width:90% !important
}
.xmenu-container ul {
  list-style-type: none;

}
.xmenu-title i{
  font-size: 1em;

}
.xmenu-sub-menu {
  display: none;
  width: max-content;
}




.xmenu-container span.xpand-list + ul {
  display: block;
  animation-name: topFadeIn;
  animation-duration: 1s;
}


.xmenu-active ul {
  display: block;
}

.scrollbar2{

	height: 300px;
	width: 80%;
	background: #f0f0f0;
	overflow-y: scroll;
	margin-bottom: 25px;
}


#style-6::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
  background-color: #0cc2aa !important;

}
.card10{
  background: #f0f0f0
}
#replycontent{
  margin-top:10px
}





.box_header{
  background:#d8d2d8
}
.box_header h2{
  color:#5a1d86
}

.roww{
  background:#f5eff5;

  margin-bottom:10px

}
.rowww{
  background: #f5eff5;
  padding:10px
}
.box_header1{
  background: #f5eff5;
}
.box_header1 h3{
  color:#5a1d86
}
.info3{

  margin-bottom:2rem
}
.box__header{
  background: #ccd4ec
}
.datee{
  background:#f4f7f7
}
.c-select{
  color:gray
}
.box_header2{
  background: #e8e9f3;
}
.active-pay{
  width:100px
}
.box10{
  margin-top:2rem
}
.box__header4{
  background: #e3eae4;
}
.span3{
  color:gray;
  font-size:12px
}


.box--header{
  background:#d0c5e4d4
}
.box---header{
  background:#d0c5e4d4
}
.box----header{
  background:#d0c5e4d4
}
.box---body{
  background: #f8f9fb
}