.table th{
    text-align:right !important
}
#button{
    margin-right:20px
}
.py_1{
    float:left  !important;
    text-align:left !important;
}
.accent2{
    margin-right:20px 
}
.direct2{
    margin-right:20px
}
.dropdown-menu .dropdown-menu-overlay{
    float:left !important;
    overflow: hidden;
    overflow-y: hidden;

}
.no--shadow{
    width:300px !important
}
.clear-block{
    text-align: right !important
}
.dropdown--item{
    text-align: right !important
    
}
.pull--right{
    right:auto important;
    float:left !important
}
.pull--right{
    right: auto !important;
    left: 0 !important;
    -webkit-transform-origin: top left !important;
    -moz-transform-origin: top left !important;
    -ms-transform-origin: top left !important;
    transform-origin: top left !important;
}

.avatar1{
    float:right;
    margin-left: 10px;
    }