<%= form_with(model: bank_account, local: true) do |form| %>
  <% if bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_area :bank_name %>
  </div>

  <div class="field">
    <%= form.label :branche_name %>
    <%= form.text_area :branche_name %>
  </div>

  <div class="field">
    <%= form.label :swift_code %>
    <%= form.text_area :swift_code %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_area :country %>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_area :account_name %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_area :account_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
