<p id="notice"><%= notice %></p>

<p>
  <strong>Bank name:</strong>
  <%= @bank_account.bank_name %>
</p>

<p>
  <strong>Branche name:</strong>
  <%= @bank_account.branche_name %>
</p>

<p>
  <strong>Swift code:</strong>
  <%= @bank_account.swift_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @bank_account.country %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @bank_account.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
