<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Cards Logs</div> <!--class direct2 for this style-->
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>User</th>
            <th>Card ID</th>
            <th>Action type</th>
            <th>Ip</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cards_logs.each do |cards_log| %>
            <tr>
              <td><%= cards_log.user.firstname + " " + cards_log.user.lastname  %></td>
              <td><%= cards_log.card_id %></td>
              <% if cards_log.action_type == 1 %>
                <td><%= "created" %></td>
              <% elsif cards_log.action_type == 2 %>
                <td><%= "charged" %></td>
              <% elsif cards_log.action_type == 3 %>
                <td><%= "deleted" %></td>
              <% end %>
              <td><%= cards_log.ip %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', cards_log ,:class => "md-btn md-flat m-b-sm w-xs text-success" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



