<div class="padding">  
  <div class="box">
    <div class="box-header">
      <h3>Card Details</h3>
    </div>
    <table class="table">
      <thead>
          <tr>
            <th>Username</th>
              <td><%= @cards_log.user.firstname + " " + @cards_log.user.lastname %></td>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th>Card-ID:</th>
            <td>
              <%= @cards_log.card_id %>
            </td>
        </tr>
        <tr>
          <th>Action-type:</th>
          <td>
            <% if @cards_log.action_type == 1 %>
              <%= "created" %>
            <% elsif @cards_log.action_type == 2 %>
              <%= "charged" %>
            <% elsif @cards_log.action_type == 3 %>
              <%= "deleted" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Ip</th>
            <td><%= @cards_log.ip %></td>
        </tr>                 
      </tbody>
    </table>
  </div>      
  <%= link_to 'Back', cards_logs_path,:class => "btn btn-fw accent" %>
</div>




