
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: address, local: true) do |form| %>
          <% if address.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
              <ul>
                <% address.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
                  
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">user_id:</label>
            <div class="col-sm-10">
              <%= form.number_field :user_id , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">country</label>
              <div class="col-sm-10">
                  <%= country_select("address", "country", { include_blank: 'Select a country', priority_countries: ["EG", "SA"]}, {class: "form-control c-select" }) %>
              </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">address</label>
            <div class="col-sm-10">
              <%= form.text_field :address , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">governorate</label>
            <div class="col-sm-10">
              <%= form.text_field :governorate , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">city</label>
            <div class="col-sm-10">
              <%= form.text_field :city , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">street</label>
            <div class="col-sm-10">
              <%= form.text_field :street , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Make this your default address:</label>
            <div class="col-sm-10">
                <%= form.check_box :default_address , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row m-t-md">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" style="margin-left:20px" >Submit</button>
            </div>
          </div>
                    
        <% end %>
      </div>
  </div>    

