

<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Address</h2>
        </div>

        <%= render 'form', address: @address %>

        <%= link_to 'Show', @address,:class => "btn btn-fw accent" %> 
        <%= link_to 'Back', addresses_path,:class => "btn btn-fw warning" %>

</div>


