
<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Address</div> <!--class direct2 for this style-->
    <button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
    <button class="btn btn-outline b-success text-success" id="button2" href="/view ticket.html">Auto Refrech</button>
    <%= link_to 'New Address', new_address_path, :class => "btn btn-fw accent accent2" %>
</div>
<div class="padding">
  <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
    <div class="box-divider m-0"></div>
    <div class="box-body">
      <%= form_tag  url_for(:controller => 'addresses', :action => 'search'), :method => 'get' do %>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject">Search</label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" name="search"  placeholder="Search about something" class="form-control subject" >
          </div>
        </div>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject"><%= t('user name') %> </label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" name="search_user"  placeholder="Search for a spacific user" class="form-control subject"   >
          </div>
        </div>
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Default Address') %></label>
          <div class="col-sm-10">
            <%= select_tag :address_status,options_for_select([['Default',1],['Not Default',0]]), {:include_blank => 'select address status',:class => "form-control c-select subject"} %>
          </div>
        </div>        
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Created at Date') %>:</label>
          <div class="col-sm-4">
            <%= t('From') %> <%= date_field_tag :searchdatefrom, :class => "subject date2" %>
          </div>
          <label for="inputPassword3" class="col-sm-2 form-control-label subject">Expiration Date To</label>
          <div class="col-sm-4">
            <%= t('To') %> <%= date_field_tag :searchdateto, :class => "subject date2"%>
          </div>
        </div>
        <div class="form-group row m-t-md">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
          </div>
        </div>
      <% end %> 
    </div>
  </div>

  <div class="box"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="<%= @max_items_per_page.to_i%>">
        <thead>
          <tr id="td">
            <th></th>          
            <th>Username</th>
            <th>Address</th>
            <th></th>
            <th></th>            
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.id %></td>
              <td><%= address.user.firstname + " " + address.user.lastname  %></td>
              <td><%= address.address %></td>              
              <% if address.default_address == true %>
                <td><button class="btn btn-outline b-accent text-accent" >Default</button></td>
              <% else %>
                <td><%= "-" %></td>
              <% end %>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', address, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                    <%= link_to 'Edit',  edit_address_path(address) , :class => "md-btn md-flat m-b-sm w-xs text-primary"%>
                    <%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }, :class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  </div>
                </div>
              </td>     
            </tr>
          <% end %>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>          
      </table>
    </div>      
  </div>
</div>


<script type="text/javascript">
function confirm_click()
{
return confirm("Are you sure you want to delete this ?");
}
</script>


