<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>Card Details</h3>
    </div>
    <table class="table table-striped b-t">
      <thead>
        <tr>
          <th>Username</th>
          <td><%= @address.user.firstname + @address.user.lastname %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Address:</th>
          <td><%= @address.address %> </td>
        </tr>
        <tr>
          <th>Country:</th>
          <td><%= @address.country %></td>
        </tr>
        <tr>
          <th>Governorate:</th>
          <td><%= @address.governorate %></td>
        </tr>
        <tr>
          <th>City:</th>
          <td><%= @address.city %></td>
        </tr>
        <tr>
          <th>Street:</th>
          <td><%= @address.street %></td>
        </tr>
        <% if @address.default_address == true %>
          <tr>
            <th></th>
            <td>  <button>Default Address</button></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
  <%= link_to 'Back', addresses_path,:class => "btn btn-fw accent" %> <%= link_to 'Edit', edit_address_path(@address),:class => "btn btn-fw accent"  %> 
</div>
     

