<%= form_with(model: groups_banks_limit, local: true) do |form| %>
  <% if groups_banks_limit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groups_banks_limit.errors.count, "error") %> prohibited this groups_banks_limit from being saved:</h2>

      <ul>
      <% groups_banks_limit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bank_type %>
    <%= form.number_field :bank_type %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :maximum_daily_withdraw %>
    <%= form.text_field :maximum_daily_withdraw %>
  </div>

  <div class="field">
    <%= form.label :maximum_monthly_withdraw %>
    <%= form.text_field :maximum_monthly_withdraw %>
  </div>

  <div class="field">
    <%= form.label :maximum_daily_deposite %>
    <%= form.text_field :maximum_daily_deposite %>
  </div>

  <div class="field">
    <%= form.label :maximum_monthly_deposite %>
    <%= form.text_field :maximum_monthly_deposite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
