<p id="notice"><%= notice %></p>

<h1>Groups Banks Limits</h1>

<table>
  <thead>
    <tr>
      <th>Bank type</th>
      <th>Group</th>
      <th>Maximum daily withdraw</th>
      <th>Maximum monthly withdraw</th>
      <th>Maximum daily deposite</th>
      <th>Maximum monthly deposite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups_banks_limits.each do |groups_banks_limit| %>
      <tr>
        <td><%= groups_banks_limit.bank_type %></td>
        <td><%= groups_banks_limit.group_id %></td>
        <td><%= groups_banks_limit.maximum_daily_withdraw %></td>
        <td><%= groups_banks_limit.maximum_monthly_withdraw %></td>
        <td><%= groups_banks_limit.maximum_daily_deposite %></td>
        <td><%= groups_banks_limit.maximum_monthly_deposite %></td>
        <td><%= link_to 'Show', groups_banks_limit %></td>
        <td><%= link_to 'Edit', edit_groups_banks_limit_path(groups_banks_limit) %></td>
        <td><%= link_to 'Destroy', groups_banks_limit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groups Banks Limit', new_groups_banks_limit_path %>
