<p id="notice"><%= notice %></p>

<p>
  <strong>Bank type:</strong>
  <%= @groups_banks_limit.bank_type %>
</p>

<p>
  <strong>Group:</strong>
  <%= @groups_banks_limit.group_id %>
</p>

<p>
  <strong>Maximum daily withdraw:</strong>
  <%= @groups_banks_limit.maximum_daily_withdraw %>
</p>

<p>
  <strong>Maximum monthly withdraw:</strong>
  <%= @groups_banks_limit.maximum_monthly_withdraw %>
</p>

<p>
  <strong>Maximum daily deposite:</strong>
  <%= @groups_banks_limit.maximum_daily_deposite %>
</p>

<p>
  <strong>Maximum monthly deposite:</strong>
  <%= @groups_banks_limit.maximum_monthly_deposite %>
</p>

<%= link_to 'Edit', edit_groups_banks_limit_path(@groups_banks_limit) %> |
<%= link_to 'Back', groups_banks_limits_path %>
