<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Editing Card</h2>
    </div>
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: @card, local: true) do |form| %>
          <% if @card.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>  
                <ul>
                  <% @card.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
                  
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Card Number</label>
            <div class="col-sm-10">
              <%= @card.number.scan(/.{1,4}/).join('-') %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">User</label>
            <div class="col-sm-10">
              <%= @card.user.firstname + " " + @card.user.lastname %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">value</label>
            <div class="col-sm-10">
              <%= form.number_field :value , class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">status</label>
              <div class="col-sm-10">
                  <%= form.select :status,options_for_select([['Active',1],['Charged',2],['pending',3],['disabled',4]], :selected => @card.status),  {}, {:class => 'form-control c-select'} %>
              </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">expired_at</label>
            <div class="col-sm-10">
              <%= form.date_select :expired_at , class: 'subject date2' %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">invoice_id</label>
            <div class="col-sm-10">
              <%= form.number_field :invoice_id , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row m-t-md">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" style="margin-left:20px" >Submit</button>
            </div>
          </div>
                    
        <% end %>
      </div>
  </div>    

<%= link_to 'Back', cards_path,:class => "btn btn-fw accent" %>
<%= link_to 'Show', @card,:class => "btn btn-fw warning" %> 
</div>












