<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Cards</div> <!--class direct2 for this style-->
  <button class="btn btn-outline b-primary text-primary" id="button">Search/Filter</button>
  <button class="btn btn-outline b-success text-success" id="button2" href="/cards">Auto Refrech</button>
  <% if current_user and current_user.roleid == 1 %>
    <%= link_to 'New Card', new_card_path, {:class => 'btn btn-fw accent accent2'}%>
  <% end %>
</div>
<div class="padding">
  <div class="box box2" style="display:none;" id="box"> <!-- class box2 for js for show and hide this box-->
    <div class="box-divider m-0"></div>
    <div class="box-body">
      <%= form_tag  url_for(:controller => 'cards', :action => 'search'), :method => 'get' do %>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject">Search</label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" name="search"  placeholder="start typing to search cards" class="form-control subject" >
          </div>
        </div>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label for="inputEmail3" class="col-sm-2 form-control-label subject"><%= t('user name') %> </label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" name="search_user"  placeholder="Search for a spacific user account number or email" class="form-control subject"   >
          </div>
        </div>
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Card Status') %></label>
          <div class="col-sm-10">
            <%= select_tag :status,options_for_select([['Active',1],['Charged',2],['Pending',3],['Disabled',4]]), {:include_blank => 'Select status' ,class:"form-control c-select subject"} %>
          </div>
        </div>
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Card Type') %></label>
          <div class="col-sm-10">
            <%= select_tag :card_type,options_for_select([['For Specific User',1],['For Specific Country',2]]), {:include_blank => 'Select type' ,class:"form-control c-select subject"} %>
          </div>
        </div>
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Country') %></label>
            <div class="col-sm-10">
              <select class="form-control c-select subject" name="country_id">
                <option disabled selected value >Select country</option>
                <% @countries.each do |country| %>
                  <option value="<%= country.id %>" ><%= country.Full_Name%></option>
                <% end %>
              </select>
            </div>
        </div>            
        <div class="form-group row group2">
          <label for="inputPassword3" class="col-sm-2 form-control-label subject"><%= t('Expiration Date From') %>:</label>
          <div class="col-sm-4">
            <%= t('From') %> <%= date_field_tag :searchdatefrom, :class => "subject date2" %>
          </div>
          <label for="inputPassword3" class="col-sm-2 form-control-label subject">Expiration Date To</label>
          <div class="col-sm-4">
            <%= t('To') %> <%= date_field_tag :searchdateto, :class => "subject date2"%>
          </div>
        </div>
        <div class="form-group row m-t-md">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
          </div>
        </div>
      <% end %> 
    </div>
  </div>  
  <div class="box">
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr id="td">
            <th>User Account</th>
            <th>Username</th>
            <th>Number</th>
            <th>Value</th>
            <th>Status</th>
            <th>Expired at</th>
            <th>Operation ID</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cards.each do |card| %>
            <tr>
              <td><% if card.user_id != 0 %>
              <%= card.user.account_number %>
              <% else %>
              <%= "-" %>
              <% end %></td>
              <% if card.user_id != 0 %>
              <td><%= card.user.firstname + " " + card.user.lastname %></td>
              <% else %>
              <td><%= "-" %></td>
              <% end %>
              <% if card.status == 3 %>
              <td><%= "****-****-****-****" %></td>
              <% else %>
              <td><%= card.number.scan(/.{1,4}/).join('-') %></td>
              <% end %>
              <td><%= card.value %></td>
              <% if card.status == 1 %>
              <td><%= "Active" %></td>
              <% elsif card.status == 2 %>
              <td><%= "Charged" %></td>
              <% elsif card.status == 3 %>
                  <td><%= "pending" %></td>
              <% elsif card.status == 4 %>
                  <td><%= "disabled" %></td>
              <% end %>
              <td><%= card.expired_at %></td>
              <td><%= card.operation_id %></td>              
              <td><%= link_to 'Show', card,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
              <td><%= link_to 'Edit', edit_card_path(card),:class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>
            </tr>
          <% end %>
        </tbody>          
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>  
</div>




