<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>New Card</h2>
    </div>
    <div class="box-divider m-0"></div>
      <div class="box-body">
        <%= form_with(model: @card, local: true) do |form| %>
          <% if @card.errors.any? %>
            <div id="error_explanation">
              <%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved: 
              <ul>
                <% @card.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Card Type</label>
            <div class="col-sm-10">
              <%= form.select :card_type,options_for_select([['For spacific user',1],['For spacific country',2]]),  {:include_blank => "Select Card Type"}, {:class => 'form-control c-select' , :id => "cardtype" , :required => true } %>
            </div>
          </div>

          <div class="form-group row" id="country" style="display:none;" >
            <label class="col-sm-2 form-control-label">Country</label>
            <div class="col-sm-10">
              <%= form.select :country_id, Country.all.collect {|p| [ p.Full_Name, p.id ] },{}, {  class: 'form-control c-select' , id: "countryid" }  %>
            </div>
          </div>

          <div class="form-group row" id="usercard" style="display:none;">
            <label class="col-sm-2 form-control-label">User</label>
            <div class="col-sm-10">
              <%= form.text_field :user_id,  class: 'form-control' , :required => true , placeholder: "User Email or Account number" , :id => "userid" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Card Value</label>
            <div class="col-sm-10">
              <%= form.text_field :value,  class: 'form-control' , :required => true %>
            </div>
          </div>

          <div class="form-group row" id="cardstatus" style="display:none;">
            <label class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-10">
              <%= form.select :status,options_for_select([['Active',1],['Charged',2],['pending',3]]),  {}, {:class => 'form-control c-select'} %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Expireed At</label>
              <div class="col-sm-10">
                <%= form.date_select :expired_at , :class => 'form-control' %>
              </div>
          </div>

          <div class="form-group row m-t-md">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
            </div>
          </div>
        <% end %>
      </div>            
    </div>
    <%= link_to 'Back', cards_path,:class => "btn btn-fw accent" %>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>

        $(document).ready(function() {

            $("#cardtype").change(function() {
                var selectedtype = $( "#cardtype option:selected" ).val();
                //console.log(selectedtype)
                if (selectedtype == 1){
                    $('#countryid').val(0);
                    $('#usercard').show();
                    $('#country').hide();
                    $('#cardstatus').show();               
                }else if (selectedtype == 2){
                    $('#userid').val(0);
                    $('#usercard').hide();
                    $('#country').show();
                    $('#cardstatus').hide(); 
                }
            });

        });
        
</script>

