<div class="padding">
  <div class="box box2"  id="box"> <!-- class box2 for js for show and hide this box-->
    <div class="box-divider m-0"></div>
    <div class="box-body">
      <%= form_tag  url_for(:controller => 'cards', :action => 'search'), :method => 'get' do %>
        <div class="form-group row group2"> <!-- class group2 for this style-->
          <label  class="col-sm-2 form-control-label subject">Search Key</label><!-- class subject for style of form-group from folder css2 -->
          <div class="col-sm-10">
            <input type="text" class="form-control subject" id="inputEmail3" placeholder="start typing to search cards" name="search">
          </div>
        </div>
        <div class="form-group row group2">
          <label class="col-sm-2 form-control-label subject">User</label>
          <div class="col-sm-10">
            <input type="text" class="form-control subject" id="inputPassword3" name="search_user"  placeholder="Search for a spacific user account number or email">
          </div>
        </div>
        <div class="form-group row group2">
          <label  class="col-sm-2 form-control-label subject">Card Status</label>
          <div class="col-sm-2">
            <%= select_tag :status,options_for_select([['Active',1],['Charged',2],['Pending',3],['Disabled',4]]), {:include_blank => 'Select status' ,class:"form-control c-select subject"} %>
          </div>
          <label class="col-sm-1 form-control-label subject">Card Type</label>
          <div class="col-sm-3">
            <%= select_tag :card_type,options_for_select([['For Specific User',1],['For Specific Country',2]]), {:include_blank => 'Select type' ,class:"form-control c-select subject"} %>
          </div>
          <label class="col-sm-1 form-control-label subject">Country</label>
          <div class="col-sm-3">
            <select class="form-control c-select subject" name="country_id">
              <option disabled selected value >Select country</option>
              <% @countries.each do |country| %>
                <option value="<%= country.id %>" ><%= country.Full_Name%></option>
              <% end %>
            </select>
          </div>            
        </div>
        <div class="form-group row group2">
          <label class="col-sm-2 form-control-label subject">Expiration Date From</label>
          <div class="col-sm-2">
            <%= date_field_tag :searchdatefrom ,class:"form-control c-select subject" %>
          </div>
          <label  class="col-sm-2 form-control-label subject">Expiration Date To</label>
          <div class="col-sm-2">
            <%= date_field_tag :searchdateto ,class:"form-control c-select subject" %>
          </div>
        </div>
        <div class="form-group row m-t-md">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="box">
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr id="td">
            <th>User Account</th>
            <th>Username</th>
            <th>Number</th>
            <th>Value</th>
            <th>Status</th>
            <th>Expired at</th>
            <th>Operation ID</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @Cards.each do |card| %>
            <tr>
              <td>
                <% if card.user_id != 0 %>
                  <%= card.user.account_number %>
                <% else %>
                  <%= "-" %>
                <% end %>
              </td>
              <td>
                <% if card.user_id != 0 %>
                  <%= card.user.firstname + " " + card.user.lastname %>
                <% else %>
                <%= "-" %>
                <% end %>
              </td>
              <td>
                <% if card.status == 3 %>
                  <%= "****-****-****-****" %>
                <% else %>
                  <%= card.number.scan(/.{1,4}/).join('-') %>
                <% end %>
              </td>
              <td><%= card.value %></td>
              <td>
                <% if card.status == 1 %>
                  <%= "Active" %>  
                <% elsif card.status == 2 %>
                  <%= "Charged" %>
                <% elsif card.status == 3 %>
                  <%= "pending" %>
                <% elsif card.status == 4 %>
                  <%= "disabled" %>
                <% end %>
              </td>
              <td><%= card.expired_at %></td>
              <td><%= card.operation_id %></td>              
              <td><%= link_to 'Show', card,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
              <td><%= link_to 'Edit', edit_card_path(card),:class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>          
      </table>
    </div>    
  </div>  
</div>

  <%= link_to 'Back', cards_path,:class => "btn btn-fw accent" %>
