<p id="notice"><%= notice %></p>

<h1>Errors Logs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User type</th>
      <th>Code</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @errors_logs.each do |errors_log| %>
      <tr>
        <td><%= errors_log.user_id %></td>
        <td><%= errors_log.user_type %></td>
        <td><%= errors_log.code %></td>
        <td><%= errors_log.message %></td>
        <td><%= link_to 'Show', errors_log %></td>
        <td><%= link_to 'Edit', edit_errors_log_path(errors_log) %></td>
        <td><%= link_to 'Destroy', errors_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Errors Log', new_errors_log_path %>
