<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">List of all money operartions</div> <!--class direct2 for this style-->
  <%= link_to 'New Money Op', new_money_op_path, :class => "btn btn-fw accent accent2" %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Operartion id</th>
            <th>Type</th>
            <th>Amount</th>            
            <th>Status</th>
            <th>Payment date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @money_ops.each do |money_op| %>
            <tr>
              <td><%= money_op.user.firstname + " " + money_op.user.lastname %></td>
              <td><%= money_op.opid %></td>
              <% if money_op.optype == 1 %>
              <td><%= "Wallet transfer" %></td>
              <% elsif money_op.optype == 2 %>
              <td><%= "Receive" %></td>
              <% elsif money_op.optype == 3 %>
              <td><%= "Withdraw" %></td>
              <% elsif money_op.optype == 4 %>
              <td><%= "Remittance" %></td>
              <% end %>
              <% if money_op.amount != nil %>
              <td><%= money_op.amount.round(2) %></td>
              <% else %>
              <td><%= "-" %></td>
              <% end %>              
              <% if money_op.status == 0 %>
                <td data-value="3"><span class="label" title="Disabled">Pending</span></td>
              <% elsif money_op.status == 1 %>
                <td data-value="2"><span class="label success" title="Active">Compeleted</span></td>
              <% elsif money_op.status == 2 %>
                <td data-value="1"><span class="label" title="Disabled">Cancelled</span></td>
              <% end %>
              <td><%= money_op.payment_date %></td>            
              <td><%= link_to 'Show', money_op, :class => "md-btn md-flat m-b-sm w-xs text-success" %></td>                
            </tr>
          <% end %>            
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
