

<!-- ############ PAGE START-->
<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Remittance Operartions</div> <!--class direct2 for this style-->
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Card', new_card_path, {:class => 'btn btn-fw accent accent2'}%>
    <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th>User id</th>
            <th>UserName</th>
            <th>Operartion id</th>
            <th>Card Num</th>
            <th>Amount</th>
            <th>Fees</th>
            <th>Payment gateway</th>
            <th data-hide="phone">Status</th>
            <th>Payment date</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
        <% @operations.each do |operation| %>
          <tr>
            <td><%= operation.user_id %></td>
            <td><%= operation.user.firstname + " " + operation.user.lastname %></td>
            <td><%= operation.opid %></td>
            <% if operation.status == 3 %>
            <td><%= "****-****-****-****" %></td>
            <% else %>
            <td><%= operation.number.scan(/.{1,4}/).join('-') %></td>
            <% end %>
            <td><%= operation.amount %></td>
            <td><%= operation.fees %></td>
            <td><%= operation.payment_gateway %></td>
            <% if operation.status == 1 %>
            <td><span class="label success" title="Active">Active</span></td>
            <% elsif operation.status == 2 %>
            <td><span class="label success" title="Active">Charged</span></td>
            <% elsif operation.status == 3 %>
                <td><span class="label" title="Disabled">Pending</span></td>
            <% elsif operation.status == 4 %>
                <td><span class="label" title="Disabled">Cancelled</span></td>
            <% end %>
            <td><%= operation.payment_date %></td>
            <td><%= link_to 'Show', operation,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->




