<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Money Operation</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>UserName</th>
              <td><%= @money_op.user.firstname + " " + @money_op.user.lastname  %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>User ID</th>
              <td> <%= @money_op.user_id %></td>
          </tr>
          <tr>
              <th>Operaion ID</th>
              <td><%= @money_op.opid %></td>
          </tr>
          <tr>
          <th>Operaion Type</th>
          <% if @money_op.optype == 1 %>
          <td><%= "Wallet transfer" %></td>
          <% elsif @money_op.optype == 2 %>
          <td><%= "Receive" %></td>
          <% elsif @money_op.optype == 3 %>
          <td><%= "Withdraw" %></td>
          <% elsif @money_op.optype == 4 %>
          <td><%= "Remittance" %></td>
          <% end %>
          </tr>
          <tr>
            <th>Amount</th>
            <td>  <% if @money_op.amount != nil %>
            <%= @money_op.amount.round(2) %>
            <% else %>
            <%= "-" %>
            <% end %></td>
          </tr>
          <tr>
            <th>Fees</th>
            <td>  <% if @money_op.fees != nil %>
            <%= @money_op.fees.round(2) %>
            <% else %>
            <%= "-" %>
            <% end %></td>
          </tr>

          <% if (@money_op.optype == 4) %>
           <tr>
            <th>Card original value</th>
            <td><%= @remittance_data.value %></td>
          </tr>
          <tr>
            <th>Card Net Value </th>
            <td><%= @remittance_data.net_value %></td>
          </tr>
            <% if @remittance_data.value.to_f != @remittance_data.net_value.to_f %>
              <tr>
                <th>payers deposit expenses </th>
                <td><%= (@remittance_data.value.to_f - @remittance_data.net_value.to_f).round(2) %></td>
              </tr>
            <% end %>
          <% end %>




          <tr>
            <th>Payment Gateway</th>
            <td> <%= @money_op.payment_gateway %></td>
          </tr>
          <tr>
          <th>Status</th>
                 
            <% if @money_op.optype == 4 && @money_op.status == 0 %>
                <%= form_for :operations_status ,:url => operations_status_path,:html => { :multipart => true } do |f| %>
                        <%=  f.hidden_field :id, :value => @money_op.id %>
                        <td><%= f.select :status,options_for_select([['Pending',0],['Compeleted',1],['Cancelled',2]]),  {:selected => @money_op.status , :required => true},{:class => "label"} %>
                        <button type="submit" class="label success" id="submit" >Submit</button></td>
                <% end %>
          
            <% else %>

              <% if @money_op.status == 0 %>
              <td><span class="label"><%= "Pending" %></span></td>
              <% elsif @money_op.status == 1 %>
              <td><span class="label success"><%= "Compeleted" %></span></td>
              <% elsif @money_op.status == 2 %>
              <td><span class="label"><%= "Cancelled" %></span></td>
              <% end %>

          <% end %>
          </tr>
          <tr>
            <th>Payment Date</th>
            <td><%= @money_op.payment_date %></td>
          </tr>
          <% if @money_op.payment_id != nil %> 
          <tr>
            <th>Payment ID</th>
            <td><%= @money_op.payment_id %></td>
          </tr>
          <% end %>
          <% if @bank_type == "local_bank" %>
            <% if @remittance_data.user_account_number != nil %>
              <tr>
                <th>Bank Account Number</th>
                <td><%= @remittance_data.user_account_number %></td>
              </tr>
            <% end %>

            <% if @remittance_data.note != nil %>
              <tr>
                <th>Note</th>
                <td><%= @remittance_data.note %></td>
              </tr>
            <% end %>

            <% if @remittance_data.payment_receipt.attached? %>
              <tr>
                <th>Attachment</th>
                <td><%= link_to image_tag(@remittance_data.payment_receipt.variant(resize: "100x100")),@remittance_data.payment_receipt %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @money_op.admin_note != nil %>
          <tr>
            <th>Admin Note</th>
            <td><%= @money_op.admin_note %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
     
      <% if (@money_op.optype == 3 || @money_op.optype == 4) && @money_op.status == 0 %>
        <div class="box-body">
            <%= form_for :admin_add_note ,:url => admin_add_note_path,:html => { :multipart => true } do |f| %>
                    <%=  f.hidden_field :operation_id, :value => @money_op.opid %>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Send Note To User</label>
                        <div class="col-sm-10">
                            <%= f.text_area :admin_note , class: 'form-control' , :required => true %>
                        </div>
                    </div>

                  <div class="form-group row m-t-md">
                      <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                      </div>
                  </div>
            <% end %>
        </div>
      <% end %>
      </div>
      <%= link_to 'Back', money_ops_path %>
      
</div>
