<%= form_with(model: admins_group, local: true) do |form| %>
  <% if admins_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admins_group.errors.count, "error") %> prohibited this admins_group from being saved:</h2>

      <ul>
      <% admins_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group row group2">
    <label for="inputPassword3" class="col-sm-2 form-control-label ">Name</label>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control subject'%>
    </div>
  </div>

    <div class="form-group row m-t-md">
      <div class="col-sm-offset-2 col-sm-10">
          <%= form.submit class: 'btn btn-fw primary'%>
      </div>
  </div>

<% end %>
