<div class="padding">
    <h6>Group roles for <%= @group_name %></h6>
    <%= form_tag edit_group_roles_url, method: :post do  %>
    <%= hidden_field_tag 'groupid',params[:id] %>
        <div class="row m-b">
            <% @roles.each do |role| %>
                <div class="col-sm-4">
                    <div class="box">
                        <div class="box-header primary">
                            <h3><%= (role.caption) %></h3>
                        </div>
                        <div class="box-body">
                            <% Role.where(:caption => role.caption).all.each do |roles| %>
                            <% @is_checked = @assignments.where(:role_id => roles.id).first %>
                            <label class="md-check"> <%= check_box_tag 'role[]', roles.id, (checked = true if @is_checked != nil) %> <i class="green"></i> <%= (roles.name) %> </label>
                           <br>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <%= content_tag :button, :type => :submit, class: 'btn btn-fw dark' do %>Update Roles<%end%>
    <% end %>
</div>