<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Admins Groups</div> <!--class direct2 for this style-->
    <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Admins Group', new_admins_group_path, {:class => 'btn btn-fw accent accent2'} %>
    <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th data-toggle="true">Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @admins_groups.each do |admins_group| %>
            <tr>
                <td><%= admins_group.name %></td>
                <td><%= link_to 'Show', admins_group, :class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  <%= link_to 'Edit', edit_admins_group_path(admins_group), :class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                  <%= link_to 'Edit Roles', group_roles_path(:id => admins_group.id), :class => "md-btn md-flat m-b-sm w-xs text-warning" %>
                <%= link_to 'Destroy', admins_group, method: :delete, data: { confirm: 'Are you sure?' },:class => "md-btn md-flat m-b-sm w-xs text-warning" %></td>         
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- ############ PAGE END-->