<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New Admins Group</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= render 'form', admins_group: @admins_group %>
            </div>
    </div>
    <%= link_to 'Back', admins_groups_path %>
</div>
                
