<div class="padding">
      <div class="box">
        <div class="box-header">
          <h3>Admins Group</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <td><%= @admins_group.name %></td>
            </tr>
          </thead>
        </table>
      </div>
      <%= link_to 'Edit', edit_admins_group_path(@admins_group) %> |
      <%= link_to 'Back', admins_groups_path %>
</div>