<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>SMS Logs</h2>
      <small>List of all SMS logs</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th data-toggle="true">
              User ID</th>
              <th>Username</th>
              <th>Message</th>
              <th data-hide="phone">
              Type</th>
              <th data-hide="phone">
              Status</th>
              <th data-name="Date Of Birth">Date Created</th>
              <th data-name="Date Of Birth">Date Updated</th>

          </tr>
        </thead>
        <tbody>
        <% @sms_logs.each do |sms_log| %>
          <tr>

          <td><%= sms_log.user_id %></td>
          <td><%= sms_log.user.firstname + " " + sms_log.user.lastname %></td>
          <td><%= sms_log.pinid %></td>
          <% if sms_log.sms_type == 1 %>
          <td><%= "send_pin" %></td>
          <% elsif sms_log.sms_type == 2 %>
          <td><%= "verify_code" %></td>
          <% elsif sms_log.sms_type == 3 %>
          <td><%= "text_sms" %></td>
          <% else %>
          <td><%= "Non" %></td>
          <% end %>
          <% if sms_log.status == true %>
          <td data-value="1"><span class="label success" title="Verified">Verified</span></td>
          <% elsif sms_log.status == false %>
          <td data-value="2"><span class="label" title="Not Verified">Not Verified</span></td>
          <% end %>
          <td><%= sms_log.created_at %></td>
          <td><%= sms_log.updated_at %></td>
              
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <%= link_to 'Enable SMS Code', send_sms_path ,{:class => 'btn btn-fw accent'} %>
  <%= link_to 'Verify SMS Code', verifysms_path ,{:class => 'btn btn-fw accent'} %>
</div>
