<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Predefined Reply Category</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= render 'form', predefined_reply_category: @predefined_reply_category %>
            </div>
    </div>
    <%= link_to 'Show', @predefined_reply_category %> |
    <%= link_to 'Back', predefined_reply_categories_path %>
</div>