<div class="padding">
  <div class="box">
    <div class="box-header">
      <div class="row">
        <div class="col-lg-6">
            <% if current_user and current_user.roleid == 1 %>
            <%= link_to 'New Predefined Reply Category', new_predefined_reply_category_path, {:class => 'btn btn-fw accent'}%>
            <% end %>
        </div>
        <div class="col-lg-6">
          <div class="box-body box2-body">
          Search: <input id="filter2" type="text" class="form-control input-sm w-auto inline m-r">
          </div>
        </div>
      </div>
    </div>
    <div class="list-group m-b list-group2">
      <span class="xmenu-container">
        <ul>
          <% @predefined_reply_categories.each do |predefined_reply_category| %>
          <div class="container">
  <div class="modal fade" id="<%= predefined_reply_category.id %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">New Replay</h4>
        </div>
        <div class="modal-body">
          <div class="box">
          <div class="box-header">
            <h2>Type constraints</h2>
          </div>
          <%= form_for PredefinedReply.new do |form| %>
          <%= form.hidden_field :category_id, value: predefined_reply_category.id %>
          <div class="box-body">
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Title</label>
              <div class="col-sm-9">
                <%= form.text_field :title , class: 'form-control', required:'', placeholder:'Title'%>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Content</label>
              <div class="col-sm-9">
                <%= form.text_field :content , class: 'form-control', required:'', placeholder:'Content'%>
              </div>
            </div>

          </div>
          <div class="dker p-a">
            <button type="submit" class="btn info">Submit</button>
          </div>
          <% end %>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default align-item-center" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
            <li class="cat1">
              <a href="predefined_reply_categories/<%= predefined_reply_category.id %>"> <%= predefined_reply_category.name %></a>
              <span class="xmenu-title w-40 circle purple avatar1">
                <i class="glyphicon glyphicon-folder-open"></i>
              </span>
              
              <ul class="xmenu-sub-menu">
                <span><button class="btn btn-sm white btn-sm1" data-toggle="modal" data-target="#<%= predefined_reply_category.id %>" style="display:none">New Replay</button></span>
                <li>
                  <div class="row">
                    <div class="col-lg-12">
                    <div class="table-responsive table2"> <!-- class table2 for this style-->
                    <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter2" data-page-size="10">
                    <thead>
                      <tr>
                        <th class="footable-sortable">Title<span class="footable-sort-indicator"></span></th>
                        <th class="footable-sortable footable-sorted">Content<span class="footable-sort-indicator"></span></th>
                        <th colspan="3" class="footable-sortable"><span class="footable-sort-indicator"></span></th>
                      </tr>
                      </thead>
                      <tbody>
                        <% predefined_reply_category.predefined_reply.each do |predefined_reply|%>
                          <tr class="footable-even">
                            <td><%= predefined_reply.title %></td>
                            <td><%= predefined_reply.content %></td>
                            <td>
                              <div class="m-b">
                                <div class="btn-group btn_groups">
                                  <%= link_to 'Show', predefined_reply, {:class => 'md-btn md-flat m-b-sm w-xs text-success'} %>
                                  <%= link_to 'Edit', edit_predefined_reply_path(predefined_reply), {:class => 'md-btn md-flat m-b-sm w-xs text-primary'} %>
                                  <%= link_to 'Destroy', predefined_reply,class: 'md-btn md-flat m-b-sm w-xs text-warning', method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li><br>
          <% end %>

          
        </ul>
      </span>
    </div>
  </div>
</div>









<script>
  $(".xmenu-sub-menu li").on("click", function(){
$(".xmenu-container ul li").removeClass("xmenu-active");
$(this).parent().parent().addClass("xmenu-active");
$(this).addClass("xmenu-active");
$(".xmenu-title").removeClass("xpand-list");
});

$(".xmenu-title").on("click", function(){
if ($(this).parent().hasClass("xmenu-active")) {
  return;
}

if ($(this).hasClass("xpand-list")) {
  $(this).removeClass("xpand-list");
} else {
  $(".xmenu-title").removeClass("xpand-list");
  $(this).addClass("xpand-list");
}
});


$(document).ready(function(){
  $(".xmenu-title ").click(function(){
    $(".btn-sm1").show();
  });
   $(".xmenu-title").click(function(){
    $().hide();
  });
});

</script>