<div class="padding">
      <div class="box">
        <div class="box-header">
          <h3>Predefined Reply Category</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <td><%= @predefined_reply_category.name %></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_predefined_reply_category_path(@predefined_reply_category) %> |
      <%= link_to 'Back', predefined_reply_categories_path %>
</div>
