<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Payers Blogs</div> <!--class direct2 for this style-->

  <% if current_user and current_user.roleid == 1 %>
    <%= link_to 'New Payers Blog', new_payers_blog_path, {:class => 'btn btn-fw accent accent2'}%>
  <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Content</th>
            <th>Keywords</th>
            <th>Category</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @payers_blogs.each do |payers_blog| %>
            <tr>
             <td><%= payers_blog.user.firstname + " " + payers_blog.user.lastname%></td>
            <td><%= payers_blog.title %></td>
            <td><%= payers_blog.slug %></td>
            <td><%= payers_blog.content %></td>
            <td><%= payers_blog.keywords %></td>
            <td><%= payers_blog.blogs_category.name %></td>
            <td><% if payers_blog.active == 1 %>
            <%= "Active" %>
            <% elsif payers_blog.active == 0 %>
            <%= "Disabled" %>
            <% end %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', payers_blog, :class => "md-btn md-flat m-b-sm w-xs text-success"%>
                    <%= link_to 'Edit', edit_payers_blog_path(payers_blog),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>








