<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Blog Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Auther</th>
              <td><%= @payers_blog.user.firstname + " " + @payers_blog.user.lastname%></td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <th>Title</th>
            <td><%= @payers_blog.title %></td>
            </tr>
            <tr>
              <th>Contant</th>
              <td> <%= @payers_blog.content %></td>
            </tr>
            <tr>
              <th>Slug</th>
              <td><%= @payers_blog.slug %></td>
            </tr>
            <tr>
            <th>Keyword</th>
            <td> <%= @payers_blog.keywords %></td>
          </tr>
          <tr>
          <th>Category</th>
          <td> <%= @payers_blog.blogs_category.name %></td>
          </tr>
            <tr>
              <th>Status</th>
              <% if @payers_blog.active == 0 %>
              <td><span class="label"><%= "Disabled" %></span></td>
              <% elsif @payers_blog.active == 1 %>
              <td><span class="label success"><%= "Enabled" %></span></td>
              <% end %>
            </tr>     
           
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_payers_blog_path(@payers_blog) %> |
      <%= link_to 'Back', payers_blogs_path %>
</div>
