<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing User Announcement</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @user_announcement, local: true) do |form| %>
                    <% if @user_announcement.errors.any? %>
                         <div id="error_explanation">
                             <%= pluralize(@user_announcement.errors.count, "error") %> prohibited this announcement from being saved: 
                             <ul>
                                <% @user_announcement.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Announcement Availability</label>
                        <div class="col-sm-10">
                        <%= form.select :availability,options_for_select([['For All Users',1],['For Spacific User Group',2],['For Spacific User',3]], :selected => @user_announcement.availability),  {:include_blank => "Select Announcement Availability"}, {:class => 'form-control c-select' , :id => "adtype" , :required => true } %>
                        </div>
                    </div>

                    <div class="form-group row" id="usergroup" style="display:none;" >
                    <label class="col-sm-2 form-control-label">User Group</label>
                    <div class="col-sm-10">
                    <select class="form-control c-select " name="user_announcement[user_group_id]" id= "ugroup" required = false >
                      <option value="1" ><%= 'Group A'%></option>
                      <option value="2" ><%= 'Group B'%></option>
                      <option value="3" ><%= 'Group C'%></option>
                    </select>
                    </div>
           
                    </div>

                    <div class="form-group row" id="userad" style="display:none;">
                            <label class="col-sm-2 form-control-label">User</label>
                            <div class="col-sm-10">
                                <input class='form-control' value="<%= @usermail %>" name="user_announcement[user_id]"  placeholder="User Email or Account number" id= "userid" required = false ></input>
                            </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Title</label>
                            <div class="col-sm-10">
                                <%= form.text_field :title , class: 'form-control' , :required => true %>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Description</label>
                            <div class="col-sm-10">
                                <%= form.text_area :description , class: 'form-control', :required => true %>
                            </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Slug</label>
                        <div class="col-sm-10">
                            <%= form.text_field :slug , class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">keyword</label>
                        <div class="col-sm-10">
                            <%= form.text_field :keyword , class: 'form-control' %>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Active</label>
                            <div class="col-sm-10">
                            <%= form.select :active,options_for_select([['Enabled',1],['Disabled',0]],selected:@user_announcement.active),  {:include_blank => 'Select announcement status'},{:class => 'form-control c-select', :required => true} %>
                            </div>
                    </div>

                    <div class="form-group row m-t-md">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Show', @user_announcement %> | <%= link_to 'Back', user_announcements_path %>
</div>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>

        $(document).ready(function() {
                                
            var user_id = "<%= @user_announcement.user_id %>"
            var group_id = "<%= @user_announcement.user_group_id %>"

            $("#adtype").change(function() {
                var selectedtype = $( "#adtype option:selected" ).val();
                //console.log(selectedtype)
                var x = document.getElementById("userid");
                var y = document.getElementById("ugroup");
                if (selectedtype == 1){
                    $('#ugroup').val("");
                    $('#userid').val("");
                    $('#userad').hide();
                    $('#usergroup').hide();
                    y.required= false;
                    x.required = false;                
                }else if (selectedtype == 2){
                    $('#userid').val("");
                    $('#userad').hide();
                    $('#usergroup').show();
                    y.required = true;
                    x.required = false; 
                }else if (selectedtype == 3){
                    $('#ugroup').val("");
                    $('#userad').show();
                    $('#usergroup').hide(); 
                    x.required = true;
                    y.required = false;
                }
            });
            
            if(user_id != 0){
                $('#userad').show();
                $('#usergroup').hide();
            }else if (group_id != 0){
                $('#userad').hide();
                $('#ugroup').val(group_id);
                $('#usergroup').show(); 
            }else if (user_id == 0 && group_id == 0){
                $('#userad').hide();
                $('#usergroup').hide();                     
            }

        });
        
        
</script>