<div class="direct-chat-msg right right2"> <!--class right2 for this style-->
  <div class="direct-chat-text direct2 " data-lrchatext-msgid="3">Announcements</div> <!--class direct2 for this style-->
  <% if current_user and current_user.roleid == 1 %>
    <%= link_to 'New Announcement', new_user_announcement_path, {:class => 'btn btn-fw accent accent2'}%>
  <% end %>
</div>
<div class="padding">
  <div class="box">
    <div class="table-responsive table2">
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>Slug</th>
            <th>Keyword</th>
            <th>Title</th>
            <th>Description</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @user_announcements.each do |user_announcement| %>
            <tr>
              <td><%= user_announcement.slug %></td>
              <td><%= user_announcement.keyword %></td>
              <td><%= user_announcement.title %></td>
              <td><%= user_announcement.description %></td>
              <td><% if user_announcement.active == 1 %>
              <%= "Active" %>
              <% elsif user_announcement.active == 0 %>
              <%= "Disabled" %>
              <% end %></td>
              <td>
                <div class="m-b">
                  <div class="btn-group">
                    <%= link_to 'Show', user_announcement ,:class => "md-btn md-flat m-b-sm w-xs text-success" %>
                    <%= link_to 'Edit', edit_user_announcement_path(user_announcement),:class => "md-btn md-flat m-b-sm w-xs text-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>







