<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Announcement Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <td><%= @user_announcement.title %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <th>Announcement Availability</th>
            <td><% if @user_announcement.availability == 3 %>
            <%= "For a Spacific User" %>
            <% elsif @user_announcement.availability == 2 %>
            <%= "For a Spacific User Group" %>
            <% else %>
            <%= "For All Users" %>
            <% end %></td>
            </tr>
            <% if @user_announcement.availability == 3 %>
            <tr>
            <th>User</th>
            <td> <%= @user_data.firstname + " " + @user_data.lastname %></td>
            </tr>
            <% elsif @user_announcement.availability == 2 %>
            <th>User Group ID</th>
            <td><% if @user_announcement.user_group_id == 1 %>
              <%= 'Group A' %>
            <% elsif @user_announcement.user_group_id == 2 %>
               <%= 'Group B' %>
            <% elsif @user_announcement.user_group_id == 3 %>
              <%= 'Group C' %>
            <% end %></td>
            </tr>
            <% end %>
            <tr>
              <th>Description</th>
              <td> <%= @user_announcement.description %></td>
            </tr>
            <tr>
              <th>Slug</th>
              <td><%= @user_announcement.slug %></td>
            </tr>
            <tr>
            <th>Keyword</th>
            <td> <%= @user_announcement.keyword %></td>
          </tr>
            <tr>
              <th>Active</th>
              <% if @user_announcement.active == 0 %>
              <td><span class="label"><%= "Disabled" %></span></td>
              <% elsif @user_announcement.active == 1 %>
              <td><span class="label success"><%= "Enabled" %></span></td>
              <% end %>
            </tr>     
           
          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_user_announcement_path(@user_announcement) %> |
      <%= link_to 'Back', user_announcements_path %>
</div>