
<!DOCTYPE html>
<% if current_user.language == "en" %>
  <html lang="en">
<% else %>
  <html lang="en" dir="rtl">
<% end %>
<head>
  <%= csrf_meta_tag %>
  <meta charset="utf-8" />
  <title>Payers | Payment Facilator</title>
  <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Payers">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/logo.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

  <!-- DataTables -->
  <link rel="stylesheet" href="/scripts/plugins/datatables/dataTables.bootstrap.css">
  
  <link rel="stylesheet" href="/libs/jquery/summernote/dist/summernote.css" type="text/css" />
  <link rel="stylesheet" href="/libs/jquery/summernote/dist/summernote-bs3.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <!-- build:css /assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <link rel="stylesheet" href="/assets/styles/app2.css" type="text/css" />


  <% if current_user.language == "ar" %>
    <link rel="stylesheet" href="/assets/bootstrap-rtl/dist/bootstrap-rtl.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/app.rtl.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/app2rtl.css" type="text/css" />
  <% end %>


  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
  <script src="/js/jquery-3.3.1.min.js"></script>
  <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="app" id="app">
    <!-- ############ LAYOUT START-->
    <!-- aside -->
    <div id="aside" class="app-aside modal nav-dropdown">
  	  <!-- fluid app aside -->
      <div class="left navside dark dk" data-layout="column">
  	    <div class="navbar no-radius">
          <!-- brand -->
          <a class="navbar-brand">
        	  <div ui-include="'/assets/images/logo.svg'"></div>
            <img src="/assets/images/logo.png" alt="." class="hide">
            <span class="hidden-folded inline"><%= Setting.where(key: "website_name").pluck(:value).first %></span>
          </a>
          <!-- / brand -->
        </div>
        <div class="hide-scroll" data-flex>
          <nav class="scroll nav-light">            
            <ul class="nav" ui-nav>
              <li class="nav-header hidden-folded">
                <small class="text-muted">Main</small>
              </li>                
              <li>
                <a href="/settings" >
                  <span class="nav-icon">
                    <span class="glyphicon glyphicon-wrench"></span>
                  </span>
                  <span class="nav-text">Setting</span>
                </a>
              </li>
              <li>
                <a href="/payers_statistics" >
                  <span class="nav-icon">
                    <span class="	fa fa-pie-chart"></span>
                  </span>
                  <span class="nav-text">Payers Statistics</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">2</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Admins</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/admins" >
                      <span class="nav-text">Admins List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/add_admin" >
                      <span class="nav-text">Add new Admin</span>
                    </a>
                  </li>
                  <li>
                    <a href="/admins_groups" >
                      <span class="nav-text">Admin Groups</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">2</b>
                  </span>
                  <span class="nav-icon">
                      <span class="fa fa-user"></span>
                  </span>
                  <span class="nav-text">Users</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/users" >
                      <span class="nav-text">Users List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/user_infos" >
                      <span class="nav-text">User Verification Status</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">3</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Verification</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/nationalid_verifications" >
                      <span class="nav-text">National ID Verifications</span>
                    </a>
                  </li>
                  <li>
                    <a href="/address_verifications" >
                      <span class="nav-text">Address Verifications</span>
                    </a>
                  </li>
                  <li>
                    <a href="/selfie_verifications" >
                      <span class="nav-text"> Selfie Verifications</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">2</b>
                  </span>
                  <span class="nav-icon">
                      <span class="fa fa-group" ></span>
                  </span>
                  <span class="nav-text">Users Groups</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/users_groups" >
                      <span class="nav-text">Users Groups list</span>
                    </a>
                  </li>
                  <li>
                    <a href="/users_groups/new" >
                      <span class="nav-text">Add new User Group</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">3</b>
                  </span>
                  <span class="nav-icon">
                      <span class="glyphicon glyphicon-th-large" ></span>
                  </span>
                  <span class="nav-text">Quick Payments</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/quick_payments" >
                      <span class="nav-text">Quick Pages list</span>
                    </a>
                  </li>
                  <li>
                    <a href="/quick_payments/new" >
                      <span class="nav-text">Add new Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="/quick_transfers" >
                      <span class="nav-text">Quick Pay Operations</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">2</b>
                  </span>
                  <span class="nav-icon">
                      <span class="glyphicon glyphicon-list-alt" ></span>
                  </span>
                  <span class="nav-text">Payers Blogs</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/payers_blogs" >
                      <span class="nav-text">Blogs List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/blogs_categories" >
                      <span class="nav-text">Blogs Categories</span>
                    </a>
                  </li>
                </ul>
              </li>               
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">3</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Cards</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/cards" >
                      <span class="nav-text">Cards List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/cards_logs" >
                      <span class="nav-text">Cards Logs</span>
                    </a>
                  </li>
                  <li>
                    <a href="/cards_categories" >
                      <span class="nav-text">Cards Categories</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Addresses</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/addresses" >
                      <span class="nav-text">Addresses List</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">3</b>
                  </span>
                  <span class="nav-icon">
                    <span class="glyphicon glyphicon-usd" ></span>
                  </span>
                  <span class="nav-text">Users Wallets</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/user_wallets" >
                      <span class="nav-text">Wallets List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/wallets_transfer_ratios" >
                      <span class="nav-text">Wallets Transfer Ratios</span>
                    </a>
                  </li>
                  <li>
                    <a href="/users_wallets_transfers" >
                      <span class="nav-text">Users Wallets Transfers</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">2</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Notification</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/notifications" >
                      <span class="nav-text">Notifications List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/notifications_settings" >
                      <span class="nav-text">Notifications Settings</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Ads</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/user_announcements" >
                      <span class="nav-text">Announcements List</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Banks</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/banks" >
                      <span class="nav-text">Banks</span>
                    </a>
                  </li>
                </ul>
              </li>                
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Company Banks</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/company_banks" >
                      <span class="nav-text">Banks List</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Users Banks</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/users_banks" >
                      <span class="nav-text">User Banks</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Withdraws</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/withdraws" >
                      <span class="nav-text">Withdraws List</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">2</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Money Operations</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/money_ops" >
                      <span class="nav-text">Operations List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/remittance_operations" >
                      <span class="nav-text">Remittance List</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Tickets</span>
                </a>
                <ul class="nav-sub">
                  <% if policy(Ticket).index? %>
                    <li>
                      <a href="/tickets" >
                        <span class="nav-text">Tickets List</span>
                      </a>
                    </li>
                  <% end %>
                  <% if policy(Ticket).statistics? %>
                    <li>
                      <a href="/tickets/statistics" >
                        <span class="nav-text">Tickets statistics</span>
                      </a>
                    </li>
                  <% end %>
                  <li>
                    <a href="/search_tickets" >
                      <span class="nav-text">Tickets Search</span>
                    </a>
                  </li>
                  <li>
                    <a href="/ticket_departments" >
                      <span class="nav-text">Tickets Departments</span>
                    </a>
                  </li>
                  <li>
                    <a href="/predefined_reply_categories" >
                      <span class="nav-text">Tickets Predefined Replies</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a>
                  <span class="nav-caret">
                    <i class="fa fa-caret-down"></i>
                  </span>
                  <span class="nav-label">
                    <b class="label rounded label-sm primary">1</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">&#xe5c3;
                      <span ui-include="'/assets/images/i_1.svg'"></span>
                    </i>
                  </span>
                  <span class="nav-text">Translation</span>
                </a>
                <ul class="nav-sub">
                  <li>
                    <a href="/translations" >
                      <span class="nav-text">Translations List</span>
                    </a>
                  </li>
                  <li>
                    <a href="/email_text" >
                      <span class="nav-text">Email Text</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="b-t">
          <div class="nav-fold">
        	  <a href="profile.html">
              <span class="pull-left">
                  <%# if current_user.avatar.attached? %>
                      <%# image_tag(current_user.avatar.variant(resize: "100x100"), :class => "w-40 img-circle")  %>
                  <%# else %>
                      <img src="/assets/images/blank-profile-pic.png" alt="..." class="w-40 img-circle">
                  <%# end %>        	      
        	    </span>
        	    <span class="clear hidden-folded p-x">
        	      <span class="block _500"><%= current_user.username %></span>
        	      <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
        	    </span>
        	  </a>
          </div>
        </div>
      </div>
    </div>
  <!-- / -->
  
  <!-- content -->
  <div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header white box-shadow">
      <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <!-- Open side - Naviation on mobile -->
        <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <!-- / -->        
        <!-- Page title - Bind to $state's title -->
        <div class="mb-0 h5 no-wrap" ng-bind="$state.current.data.title" id="pageTitle"></div>
          <!-- navbar collapse -->
            <div class="collapse navbar-collapse" id="collapse">
              <!-- link and dropdown -->
              <ul class="nav navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link" href data-toggle="dropdown">
                    <i class="fa fa-fw fa-plus text-muted"></i>
                    <span>New</span>
                  </a>
                  <div ui-include="'/views/blocks/dropdown.new.html'"></div>
                </li>
              </ul>        
              <div ui-include="'/views/blocks/navbar.form.html'"></div>
              <!-- / -->
            </div>
            <!-- / navbar collapse -->
        
            <!-- navbar right -->
            <ul class="nav navbar-nav ml-auto flex-row">
              <li class="nav-item dropdown pos-stc-xs">
                <a class="nav-link mr-2" href data-toggle="dropdown">
                  <i class="material-icons">&#xe7f5;</i>
                  <span class="label label-sm up warn">3</span>
                </a>
                <div ui-include="'/views/blocks/dropdown.notification.html'"></div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link p-0 clear" href="#" data-toggle="dropdown">
                  <span class="avatar w-32">
                  <%# if current_user.avatar.attached? %>
                      <%# image_tag current_user.avatar.variant(resize: "100x100")  %>
                  <%# else %>
                      <img src="/assets/images/blank-profile-pic.png" alt="...">
                  <%# end %>
                    
                    <i class="on b-white bottom"></i>
                  </span>
                </a>
                <!-- <div ui-include="'/views/blocks/dropdown.user.html'"></div> -->
                <div class="dropdown-menu pull-right pull--right dropdown-menu-overlay">
                    <a class="dropdown-item dropdown--item" ui-sref="app.inbox.list">
                       <span class="dropdown--item">Inbox</span>
                       <span class="label warn m-l-xs">3</span>
                    </a>
                    <a href="/admins/<%= current_user.id%>" class="dropdown-item dropdown--item" ui-sref="app.page.profile">                    
                       <span>Profile </span>
                    </a>
                    <a href="/admins/<%= current_user.id%>/edit" class="dropdown-item dropdown--item" ui-sref="app.page.setting">
                       <span> Settings</span>
                       <span class="label primary m-l-xs ">3/9</span>
                    </a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown--item" ui-sref="app.docs">
                            Need help?
                        </a>
                        <%= button_to "Sign Out", sign_out_path, method: :delete, class: "dropdown-item dropdown--item" %>                        
                </div>
              </li>
              <li class="nav-item hidden-md-up">
                <a class="nav-link pl-2" data-toggle="collapse" data-target="#collapse">
                  <i class="material-icons">&#xe5d4;</i>
                </a>
              </li>
            </ul>
            <!-- / navbar right -->
        </div>
      </div>
      <div class="app-footer">
        <div class="p-2 text-xs">
          <div class="pull-right text-muted py-1 py_1">
            &copy; Copyright <strong>Payers</strong>
            <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
          </div>
        </div>
      </div>
      <div ui-view class="app-body" id="view">
        <!-- ############ PAGE START-->
        <% flash.each do |key, value| -%>
          <div class="col-sm-3">
            <div class="box-color accent pos-rlt">
              <span class="arrow bottom b-accent"></span>
                <div class="box-body">
                  <div id="flash_<%= key %>"><%=h value %></div>
                </div>
            </div>
          </div>
        <% end %>
        <%= yield %>
        <!-- ############ PAGE END-->
      </div>
    </div>
  <!-- / -->

  <!-- theme switcher -->
  <div id="switcher">
    <div class="switcher box-color dark-white text-color" id="sw-theme">
      <a href ui-toggle-class="active" target="#sw-theme" class="box-color dark-white text-color sw-btn">
        <i class="fa fa-gear"></i>
      </a>
      <div class="box-header">
        <a href="https://themeforest.net/item/flatkit-app-ui-kit/13231484?ref=flatfull" class="btn btn-xs rounded danger pull-right">BUY</a>
        <h2>Theme Switcher</h2>
      </div>
      <div class="box-divider"></div>
      <div class="box-body">
        <p class="hidden-md-down">
          <label class="md-check m-y-xs"  data-target="folded">
            <input type="checkbox">
            <i class="green"></i>
            <span class="hidden-folded">Folded Aside</span>
          </label>
          <label class="md-check m-y-xs" data-target="boxed">
            <input type="checkbox">
            <i class="green"></i>
            <span class="hidden-folded">Boxed Layout</span>
          </label>
          <label class="m-y-xs pointer" ui-fullscreen>
            <span class="fa fa-expand fa-fw m-r-xs"></span>
            <span>Fullscreen Mode</span>
          </label>
        </p>
        <p>Colors:</p>
        <p data-target="themeID">
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'primary', accent:'accent', warn:'warn'}">
            <input type="radio" name="color" value="1">
            <i class="primary"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'accent', accent:'cyan', warn:'warn'}">
            <input type="radio" name="color" value="2">
            <i class="accent"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'warn', accent:'light-blue', warn:'warning'}">
            <input type="radio" name="color" value="3">
            <i class="warn"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'success', accent:'teal', warn:'lime'}">
            <input type="radio" name="color" value="4">
            <i class="success"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'info', accent:'light-blue', warn:'success'}">
            <input type="radio" name="color" value="5">
            <i class="info"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'blue', accent:'indigo', warn:'primary'}">
            <input type="radio" name="color" value="6">
            <i class="blue"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'warning', accent:'grey-100', warn:'success'}">
            <input type="radio" name="color" value="7">
            <i class="warning"></i>
          </label>
          <label class="radio radio-inline m-0 ui-check ui-check-color ui-check-md" data-value="{primary:'danger', accent:'grey-100', warn:'grey-300'}">
            <input type="radio" name="color" value="8">
            <i class="danger"></i>
          </label>
        </p>
        <p>Themes:</p>
        <div data-target="bg" class="row no-gutter text-u-c text-center _600 clearfix">
          <label class="p-a col-sm-6 light pointer m-0">
            <input type="radio" name="theme" value="" hidden>
            Light
          </label>
          <label class="p-a col-sm-6 grey pointer m-0">
            <input type="radio" name="theme" value="grey" hidden>
            Grey
          </label>
          <label class="p-a col-sm-6 dark pointer m-0">
            <input type="radio" name="theme" value="dark" hidden>
            Dark
          </label>
          <label class="p-a col-sm-6 black pointer m-0">
            <input type="radio" name="theme" value="black" hidden>
            Black
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- / -->

<!-- ############ LAYOUT END-->

  </div>
<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js"></script>
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- DataTables -->
  <script src="/scripts/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/scripts/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/libs/jquery/PACE/pace.min.js"></script>

  <script src="/scripts/config.lazyload.js"></script>

  <script src="/scripts/palette.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/app2.js"></script>

  <script src="/libs/jquery/summernote/dist/summernote.js"></script>
  <script src="/libs/jquery/summernote/dist/summernote.min.js"></script>

  <!-- ajax -->
  <script src="/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="/scripts/ajax.js"></script>
<!-- endbuild -->
  

</body>
</html>
